.TokenSwatch {
  gap: 0.5rem;
  display: grid;
  align-items: center;
  grid-template: 'swatch name' min-content '. value' min-content / min-content auto;
}

.TokenSwatch [data-token-name]:first-of-type {
  grid-area: name;
}

.TokenSwatch [data-token-name]:last-of-type {
  grid-area: value;
}

.TokenSwatch--color {
  height: 1rem;
  width: 1rem;
  border-radius: 3px;
  grid-area: swatch;
}

.TokenSwatch--shadow {
  height: 6rem;
  width: 6rem;
  border-radius: 3px;
  grid-area: swatch;
}

p,
span {
  margin: 0;
}
span.hasChanged {
  background-color: #fff429;
  padding: 0 2px;
}
