tokens-v2-private/
tokens-v3-private/
.cache/
docs/public/
CHANGELOG.md


# Ignore all files relating to v1 tokens
# TODO: Remove after v1 tokens have been removed
data/
dist/
src/utils.ts
src/@types/
script/lib/
script/build.ts
config/types/
