.story-wrap-grid {
  padding: 24px;

  --control-borderColor-rest: var(--base-display-color-gray-6) !important;
  --control-transparent-bgColor-hover: var(--base-display-color-gray-0) !important;
  --bgColor-muted: var(--base-display-color-gray-0) !important;
}
#storybook-root {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
}
