.ColorTokenSwatch-text {
  font-size: var(--base-size-20);
  font-weight: var(--font-weight-semibold);
}

.ColorTokenSwatch-text[style='color: var(--fgColor-onEmphasis);'] {
  background: var(--bgColor-emphasis);
  border-radius: var(--borderRadius-small);
  padding: 2px 4px;
}

.ColorTokenSwatch-bg {
  width: var(--base-size-20);
  height: var(--base-size-20);
  border-radius: var(--borderRadius-small);
}

.ColorTokenSwatch-bg[style='background-color: var(--bgColor-default);'],
.ColorTokenSwatch-bg[style='background-color: var(--bgColor-transparent);'] {
  border: solid var(--borderWidth-thin) var(--borderColor-muted);
}

.ColorTokenSwatch-shadow {
  width: var(--base-size-20);
  height: var(--base-size-20);
  border-radius: var(--borderRadius-small);
  background-color: var(--bgColor-default);
}

.ColorTokenSwatch-border {
  width: var(--base-size-20);
  height: var(--base-size-20);
  border-width: var(--borderWidth-thin);
  border-style: solid;
  border-radius: var(--borderRadius-small);
}

.ColorTokenSwatch-outline {
  width: var(--base-size-20);
  height: var(--base-size-20);
  outline-width: var(--outline-focus-width);
  outline-style: solid;
  border-radius: var(--borderRadius-small);
}
