// Dark mode

$black: #010409;
$white: #F0F6FC;

$tbd: $white;

//
//
// -------- Grays --------
$gray-0:        #F0F6FC;
$gray-1:        #D5DDE5;
$gray-2:        #B1BAC4;
$gray-3:        #8B949E;
$gray-4:        #6E7681;
$gray-5:        #484F58;
$gray-6:        #30363D;
$gray-7:        #21262D;
$gray-8:        #161B22;
$gray-9:        #0D1117;

// -------- Blue --------
$blue-0:        #CAE8FF;
$blue-1:        #A5D6FF;
$blue-2:        #79C0FF;
$blue-3:        #58A6FF;
$blue-4:        #388BFD;
$blue-5:        #1F6FEB;
$blue-6:        #1158C7;
$blue-7:        #0D419D;
$blue-8:        #0C2D6B;
$blue-9:        #051D4D;

// -------- Green --------
$green-0:       #AFF5B4;
$green-1:       #7EE787;
$green-2:       #56D364;
$green-3:       #3FB950;
$green-4:       #2EA043;
$green-5:       #238636;
$green-6:       #196C2E;
$green-7:       #0F5323;
$green-8:       #033A16;
$green-9:       #04260F;

// -------- Yellow --------
$yellow-0:      #F8E3A1;
$yellow-1:      #F2CC60;
$yellow-2:      #E3B341;
$yellow-3:      #D29922;
$yellow-4:      #BB8009;
$yellow-5:      #9E6A03;
$yellow-6:      #845306;
$yellow-7:      #693E00;
$yellow-8:      #4B2900;
$yellow-9:      #341A00;

// -------- Orange --------
$orange-0:      #FFDFB6;
$orange-1:      #FFC680;
$orange-2:      #FFA657;
$orange-3:      #F0883E;
$orange-4:      #DB6D28;
$orange-5:      #BD561D;
$orange-6:      #9B4215;
$orange-7:      #762D0A;
$orange-8:      #5A1E02;
$orange-9:      #3D1300;

// -------- Red --------
$red-0:         #FFDCD7;
$red-1:         #FFC1BA;
$red-2:         #FFA198;
$red-3:         #FF7B72;
$red-4:         #F85149;
$red-5:         #DA3633;
$red-6:         #B62324;
$red-7:         #8E1519;
$red-8:         #67060C;
$red-9:         #490202;

// -------- Purple --------
$purple-0:       #EDDEFF;
$purple-1:       #E2C5FF;
$purple-2:       #D2A8FF;
$purple-3:       #BC8CFF;
$purple-4:       #A371F7;
$purple-5:       #8957E5;
$purple-6:       #6E40C9;
$purple-7:       #553098;
$purple-8:       #3C1E70;
$purple-9:       #271052;

// -------- Pink --------
$pink-0:      #FFDAEC;
$pink-1:      #FFBEDD;
$pink-2:      #FF9BCE;
$pink-3:      #F778BA;
$pink-4:      #DB61A2;
$pink-5:      #BF4B8A;
$pink-6:      #9E3670;
$pink-7:      #7D2457;
$pink-8:      #5E103E;
$pink-9:      #42062A;

// -------- Fades --------
$black-fade-10:      rgba($black, 0.1);
$black-fade-15:      rgba($black, 0.15);
$black-fade-30:      rgba($black, 0.3);
$black-fade-50:      rgba($black, 0.5);
$black-fade-70:      rgba($black, 0.7);
$black-fade-85:      rgba($black, 0.85);

$white-fade-10:      rgba($white, 0.1);
$white-fade-15:      rgba($white, 0.15);
$white-fade-30:      rgba($white, 0.3);
$white-fade-50:      rgba($white, 0.5);
$white-fade-70:      rgba($white, 0.7);
$white-fade-85:      rgba($white, 0.85);

// -------- Color defaults --------
$red:         $red-5;
$purple:      $purple-5;
$blue:        $blue-5;
$green:       $green-5;
$yellow:      $yellow-5;
$orange:      $orange-5;
$pink:        $pink-5;
$gray-dark:   $gray-9;
$gray-light:  $gray-4;
$gray:        $gray-5;

// -------- Color scale --------

$scale: (
  black: $black,
  white: $white,

  gray: (
    $gray-0,
    $gray-1,
    $gray-2,
    $gray-3,
    $gray-4,
    $gray-5,
    $gray-6,
    $gray-7,
    $gray-8,
    $gray-9,
  ),

  blue: (
    $blue-0,
    $blue-1,
    $blue-2,
    $blue-3,
    $blue-4,
    $blue-5,
    $blue-6,
    $blue-7,
    $blue-8,
    $blue-9,
  ),

  green: (
    $green-0,
    $green-1,
    $green-2,
    $green-3,
    $green-4,
    $green-5,
    $green-6,
    $green-7,
    $green-8,
    $green-9,
  ),

  yellow: (
    $yellow-0,
    $yellow-1,
    $yellow-2,
    $yellow-3,
    $yellow-4,
    $yellow-5,
    $yellow-6,
    $yellow-7,
    $yellow-8,
    $yellow-9,
  ),

  orange: (
    $orange-0,
    $orange-1,
    $orange-2,
    $orange-3,
    $orange-4,
    $orange-5,
    $orange-6,
    $orange-7,
    $orange-8,
    $orange-9,
  ),

  red: (
    $red-0,
    $red-1,
    $red-2,
    $red-3,
    $red-4,
    $red-5,
    $red-6,
    $red-7,
    $red-8,
    $red-9,
  ),

  purple: (
    $purple-0,
    $purple-1,
    $purple-2,
    $purple-3,
    $purple-4,
    $purple-5,
    $purple-6,
    $purple-7,
    $purple-8,
    $purple-9,
  ),

  pink: (
    $pink-0,
    $pink-1,
    $pink-2,
    $pink-3,
    $pink-4,
    $pink-5,
    $pink-6,
    $pink-7,
    $pink-8,
    $pink-9,
  )
);

// -------- Auto scale --------
// Note: The order of the auto scale is flipped in dark.scss

$auto: (
  black: $white,
  white: $black,

  gray: (
    $gray-9,
    $gray-8,
    $gray-7,
    $gray-6,
    $gray-5,
    $gray-4,
    $gray-3,
    $gray-2,
    $gray-1,
    $gray-0,
  ),

  blue: (
    $blue-9,
    $blue-8,
    $blue-7,
    $blue-6,
    $blue-5,
    $blue-4,
    $blue-3,
    $blue-2,
    $blue-1,
    $blue-0,
  ),

  green: (
    $green-9,
    $green-8,
    $green-7,
    $green-6,
    $green-5,
    $green-4,
    $green-3,
    $green-2,
    $green-1,
    $green-0,
  ),

  yellow: (
    $yellow-9,
    $yellow-8,
    $yellow-7,
    $yellow-6,
    $yellow-5,
    $yellow-4,
    $yellow-3,
    $yellow-2,
    $yellow-1,
    $yellow-0,
  ),

  orange: (
    $orange-9,
    $orange-8,
    $orange-7,
    $orange-6,
    $orange-5,
    $orange-4,
    $orange-3,
    $orange-2,
    $orange-1,
    $orange-0,
  ),

  red: (
    $red-9,
    $red-8,
    $red-7,
    $red-6,
    $red-5,
    $red-4,
    $red-3,
    $red-2,
    $red-1,
    $red-0,
  ),

  purple: (
    $purple-9,
    $purple-8,
    $purple-7,
    $purple-6,
    $purple-5,
    $purple-4,
    $purple-3,
    $purple-2,
    $purple-1,
    $purple-0,
  ),

  pink: (
    $pink-9,
    $pink-8,
    $pink-7,
    $pink-6,
    $pink-5,
    $pink-4,
    $pink-3,
    $pink-2,
    $pink-1,
    $pink-0,
  )
);

// -------- Functional colors ----------
$export: (
  scale: $scale,
  auto: $auto,

  // Pure functional

  text: (
    primary: $gray-0,
    secondary: $gray-3,
    tertiary: $gray-3,
    placeholder: $gray-5,
    disabled: $gray-5,
    inverse: $gray-9,
    link: $blue-3,
    danger: $red-4,
    success: $green-2,
    warning: $yellow-2,
    white: $white,
  ),

  icon: (
    primary:$gray-0,
    secondary: $gray-4,
    tertiary: $gray-5,
    info: $blue-2,
    danger: $red-4,
    success: $green-2,
    warning: $yellow-2,
  ),

  border: (
    primary: $gray-6,
    secondary: $gray-7,
    tertiary: $gray-4,
    inverse: $white,
    info: rgba($blue-4, 0.4),
    danger: rgba($red-4, 0.4),
    success: rgba($green-3, 0.4),
    warning: rgba($yellow-4, 0.4),
  ),

  bg: (
    canvas: $gray-9,
    canvas-mobile: $black,
    canvas-inverse: $gray-0,
    canvas-inset: #06090F,
    primary: $gray-9,
    secondary: $gray-9,
    tertiary: $gray-8,
    overlay: $gray-9, // Will need to be a fade
    info: rgba($blue-4, 0.1),
    info-inverse: $blue-4,
    danger: rgba($red-4, 0.1),
    danger-inverse: $red-5,
    success: rgba($green-4, 0.1),
    success-inverse: $green-4,
    warning: rgba($yellow-4, 0.1),
    warning-inverse: $yellow-4,
  ),

  shadow: (
    small: 0 1px 0 transparent,
    medium: 0 3px 6px $black,
    large: 0 8px 24px $black,
    extra-large: 0 12px 48px $black,

    highlight: transparent, // top highlight
    inset: transparent, // top inner shadow
  ),

  state: (
    hover: (
      primary-bg: $blue-5,
      primary-border: $blue-4,
      primary-text: $gray-0,
      primary-icon: $gray-0,
      secondary-bg: $gray-8,
      secondary-border: $gray-8,
    ),

    selected: (
      primary-bg: $blue-5,
      primary-border: $blue-4,
      primary-text: $gray-0,
      primary-icon: $gray-0,
    ),

    focus: (
      border: $blue-4, // blue focus border
      shadow: 0 0 0 3px $blue-8, // blue focus ring
    ),
  ),

  fade: (
    black: (
      10: $black-fade-10,
      15: $black-fade-15,
      30: $black-fade-30,
      50: $black-fade-50,
      70: $black-fade-70,
      85: $black-fade-85,
    ),

    white: (
      10: $white-fade-10,
      15: $white-fade-15,
      30: $white-fade-30,
      50: $white-fade-50,
      70: $white-fade-70,
      85: $white-fade-85,
    ),
  ),

  // Components

  alert: (
    info: (
      text: $blue-2,
      icon: $blue-2,
      bg: rgba($blue-4, 0.1),
      border: rgba($blue-4, 0.4),
    ),

    warn: (
      text: $yellow-2,
      icon: $yellow-2,
      bg: rgba($yellow-4, 0.1),
      border: rgba($yellow-4, 0.4),
    ),

    error: (
      text: $red-3,
      icon: $red-3,
      bg: rgba($red-4, 0.1),
      border: rgba($red-4, 0.4),
    ),

    success: (
      text: $green-2,
      icon: $green-2,
      bg: rgba($green-4, 0.1),
      border: rgba($green-4, 0.4),
    ),
  ),

  autocomplete: (
    bg: $gray-7,
    border: $gray-5,
    shadow: 0 16px 32px $black-fade-85,
    row-border: $gray-6,
  ),

  blankslate: (
    icon: lighten($gray-5, 5%),
  ),

  btn: (
    text: $gray-0,
    bg: $gray-7,
    border: $white-fade-10,
    shadow: transparent,
    inset-shadow: transparent,

    hover-bg: $gray-6,
    hover-border: $gray-3,

    selected-bg: $gray-8,

    focus-bg: $gray-7,
    focus-border: $gray-3,
    focus-shadow: 0 0 0 3px rgba($gray-3, 0.3),

    shadow-active: inset 0 0.15em 0.3em $black-fade-15, // TODO: Deprecate? Not used in Primer CSS
    shadow-input-focus: 0 0 0 0.2em rgba($blue, 0.3), // TODO: Deprecate?

    /* states */

    primary: (
      text: $white,
      bg: $green-5,
      border: $green-4,
      shadow: transparent,
      inset-shadow: transparent,

      hover-bg: $green-4,
      hover-border: $green-3,

      selected-bg: $green-5,
      selected-shadow: transparent,

      disabled-text: rgba($white, 0.5),
      disabled-bg: $green-5,
      disabled-border: $green-5,

      focus-bg: $green-5,
      focus-border: $green-3,
      focus-shadow: 0 0 0 3px rgba(#2ea44f, 0.4),

      icon: $white,
      counter-bg: rgba($white, 0.2),
    ),

    outline: (
      text: $blue-3,

      hover-text: $blue-3,
      hover-bg: $gray-6,
      hover-border: $blue-3,
      hover-shadow: 0 1px 0 $black-fade-10,
      hover-inset-shadow: inset 0 1px 0 rgba($white, 0.03),
      hover-counter-bg: rgba($white, 0.2),

      selected-text: $white,
      selected-bg: $blue-7,
      selected-border: $white-fade-10,
      selected-shadow: transparent,

      disabled-text: $blue-3,
      disabled-bg: $gray-9,
      disabled-counter-bg: rgba($blue-5, 0.05),

      focus-border: $blue-3,
      focus-shadow: 0 0 0 3px rgba($blue-6, 0.4),

      counter-bg: rgba($blue-5, 0.1),
    ),

    danger: (
      text: $red-4,

      hover-text: $white,
      hover-bg: $red-5,
      hover-border: $red-4,
      hover-shadow: transparent,
      hover-inset-shadow: transparent,
      hover-counter-bg: rgba($white, 0.2),

      selected-text: $white,
      selected-bg: $red-6,
      selected-border: $white-fade-10,
      selected-shadow: transparent,

      disabled-text: $red-4,
      disabled-bg: $gray-9,
      disabled-counter-bg: rgba($red-5, 0.05),

      focus-border: $red-4,
      focus-shadow: 0 0 0 3px rgba($red-6, 0.4),

      counter-bg: rgba($red-5, 0.1),
    ),

    counter-bg: $gray-6,
  ),

  counter: (
    text: $gray-0,
    bg: $gray-6,

    primary: (
      text: $gray-0,
      bg: $gray-4,
    ),

    secondary: (
      text: $gray-3,
    ),
  ),

  dropdown: (
    bg: $gray-7,
    border: $gray-5,
    shadow: 0 16px 32px $black-fade-85,
  ),

  label: (
    border: $gray-6,

    primary: (
      text: $gray-2,
      border: $gray-4,
    ),

    secondary: (
      text: $gray-3,
      border: $gray-6,
    ),

    info: (
      text: $blue-4,
      border: rgba($blue-4, 0.4),
    ),

    success: (
      text: $green-3,
      border: rgba($green-4, 0.4),
    ),

    warning: (
      text: $yellow-2,
      border: rgba(#F2D35B, 0.4),
    ),

    danger: (
      text: $red-4,
      border: rgba($red-4, 0.4),
    ),
  ),

  input: (
    bg: $gray-9,
    contrast-bg: rgba(#010409, 0.3),
    border: $white-fade-10,
    shadow: transparent,

    disabled-bg: $gray-8,
    disabled-border: $gray-6,

    warning-border: $yellow-3,
    error-border: $red-4,

    tooltip: (
      success: (
        text: $green-2,
        bg: rgba($green-4, 0.1),
        border: rgba($green-4, 0.4),
      ),

      warning: (
        text: $yellow-2,
        bg: rgba($yellow-4, 0.1),
        border: rgba($yellow-4, 0.4),
      ),

      error: (
        text: $red-3,
        bg: rgba($red-4, 0.1),
        border: rgba($red-4, 0.4),
      ),
    ),
  ),

  avatar: (
    border: $white-fade-10,
    stack-fade: $gray-6,
    stack-fade-more: $gray-7,
    child-shadow: -2px -2px 0 $gray-9,
  ),

  toast: (
    ic-bg-loading: $gray-3,
  ),

  timeline: (
    text: $gray-2,
    badge-bg: $gray-9,
    target-badge-border: $blue-5,
    target-badge-shadow: $blue-7,
  ),

  select-menu: (
    bg: $gray-7,
    border: $gray-5,
    border-secondary: $gray-6,
    shadow: 0 0 18px rgba($black, 0.4),
    backdrop-bg: $black-fade-50,
    backdrop-border: $gray-5,
    tap-highlight: rgba($gray-6, 0.5),
    tap-focus-bg: $blue-8,
  ),

  box: (
    blue-border: $blue-7,
    row-yellow-bg: rgba(#EBC440, 0.1),
    row-blue-bg: rgba($blue-2, 0.1),
    header-blue-bg: $gray-9,
    header-blue-border: $gray-6,
  ),

  popover: (
    border: $black-fade-15,
  ),

  branch-name: (
    text: $gray-0,
    icon: $gray-2,
    bg: $white-fade-10,

    link: (
      text: $blue-3,
      icon: $blue-3,
      bg: rgba($blue-3, 0.1),
    ),
  ),

  markdown: (
    code-bg: rgba($white, 0.05),
    frame-border: lighten($gray-6, 5%),
    blockquote-border: lighten($gray-6, 5%),
    table-border: lighten($gray-6, 5%),
    table-tr-border: darken($gray-6, 4%),
  ),

  menu: (
    heading-text: $gray-3,
    border-active: #F78166, // coral
  ),

  sidenav: (
    selected-bg: $gray-7,
    border-active: #F78166, // coral
  ),

  tabnav: (
    selected-bg: $gray-9,
  ),

  header: (
    text: $white-fade-70,
    bg: $gray-8,
    logo: $gray-0,
  ),

  filter-item: (
    bar-bg: darken($gray-8, 2%),
  ),

  hidden-text-expander: (
    bg: lighten($gray-6, 5%),
    bg-hover: darken($gray-6, 4%),
  ),

  drag-and-drop: (
    border: darken($gray-6, 5%),
  ),

  upload-enabled: (
    border: lighten($gray-6, 5%),
    border-focused: lighten($blue-5, 8%),
  ),

  previewable-comment-form: (
    border: darken($gray-6, 5%),
    bg: $gray-8,
  ),

  underlinenav: (
    border: rgba($gray-6, 0),
    border-hover: $gray-6,
    border-active: #F78166,
    text: $gray-3,
    text-hover: $gray-0,
    text-active: $gray-0,
    icon: $gray-4,
    icon-hover: $gray-0,
    icon-active: $gray-0,
    counter-text: $gray-3,
  ),

  verified-badge: (
    text: $green-3,
    bg: rgba($green-3, 0.1),
    border: rgba($green-3, 0.4),
  ),

  social-count: (
    bg: $white-fade-10,
  ),

  header-search: (
    bg: $gray-9,
    border: $gray-7,
  ),

  diffstat: (
    neutral-bg: $gray-6,
    neutral-border: $white-fade-10,
    deletion-bg: $red-5,
    deletion-border: $red-4,
    addition-bg: $green-5,
    addition-border: $green-4,
  ),

  // App level

  icon-folder: $gray-4,
  hl-author-bg: $blue-9,
  hl-author-border: $blue-7,
  logo-subdued: $gray-6,
  discussion-border: desaturate($green-6, 40%),

diff-blob: (
  // empty
  empty-block-bg: $gray-9,

  // deletion
  num-deletion-bg: rgba($red-5, 0.3),
  num-deletion-border: transparent,

  code-deletion-bg: rgba($red-5, 0.15),
  code-deletion-border: transparent,

  marker-deletion-bg: rgba($red-5, 0.3),
  marker-deletion-border: transparent,

  // addition
  num-addition-bg: rgba($green-5, 0.3),
  num-addition-border: transparent,

  code-addition-bg: rgba($green-5, 0.15),
  code-addition-border: transparent,

  marker-addition-bg: rgba($green-5, 0.3),
  marker-addition-border: transparent,

  // hunk
  num-hunk-bg: rgba($blue-3, 0.15),
  num-hunk-border: $white-fade-10, // border-bottom
  num-hunk-icon: $gray-1,

  num-hunk-hover-bg: $blue-5,
  num-hunk-hover-border: transparent,
  num-hunk-hover-icon: $gray-0,

  code-hunk-bg: rgba($blue-3, 0.10),
  code-hunk-text: $gray-1,

  selected-line-highlight-bg: rgba($yellow-4, 0.10),
  selected-line-highlight-border: $yellow-4,
),

  global-nav: (
    logo: $gray-0,
    bg: $gray-8,
    text: $gray-0,
    icon: $gray-0,
    input-bg: $gray-9,
    input-border: $gray-7,
    input-icon: $gray-7,
    input-placeholder: $gray-5,
  ),

  calendar-graph: (
    /*bg: $white,
    border: $white,*/
    day-bg: $gray-8,
    day-border: rgba(27, 31, 35, 0.06),
    day-L1-bg: #0C2B1E,
    day-L2-bg: #034525,
    day-L3-bg: #0F6D31,
    day-L4-bg: #00C647,
    day-L4-border: rgba(27, 31, 35, 0.06),
    day-L3-border: rgba(27, 31, 35, 0.06),
    day-L2-border: rgba(27, 31, 35, 0.06),
    day-L1-border: rgba(27, 31, 35, 0.06),
  ),

  footer-invertocat: (
    octicon: $gray-6,
    octicon-hover: $gray-4,
  ),

  pr-state: (
    draft: (
      text: $gray-3,
      bg: rgba($gray-3, 0.1),
      border: rgba($gray-3, 0.4),
    ),

    open: (
      text: $green-3,
      bg: rgba($green-3, 0.1),
      border: rgba($green-3, 0.4),
    ),

    merged: (
      text: $purple-4,
      bg: rgba($purple-3, 0.1),
      border: rgba($purple-3, 0.4),
    ),

    closed: (
      text: $red-4,
      bg: rgba($red-5, 0.1),
      border: rgba($red-5, 0.4),
    ),
  ),

  topic-tag: (
    text: $blue-3,
    bg: rgba($blue-4, 0.1),
    hover-bg: rgba($blue-4, 0.2),
    active-bg: rgba($blue-4, 0.15),
  ),

  merge-box: (
    success-icon-bg: rgba($green-4, 0.1),
    success-icon-text: $green-3,
    success-icon-border: rgba($green-4, 0.4),
    merged-icon-bg: rgba($purple-3, 0.1),
    merged-icon-text: $purple-4,
    merged-icon-border: rgba($purple-3, 0.4),
    merged-box-border: rgba($purple-3, 0.4),
    neutral-icon-bg: rgba($gray-1, 0.1),
    neutral-icon-text: $gray-3,
    neutral-icon-border: rgba($gray-1, 0.4),
    warning-icon-bg: rgba($yellow-4, 0.1),
    warning-icon-text: $yellow-2,
    warning-icon-border: rgba($yellow-4, 0.4),
    warning-box-border: rgba($yellow-4, 0.4),
    error-icon-bg: rgba($red-4, 0.1),
    error-icon-text: $red-4,
    error-icon-border: rgba($red-4, 0.4),
  ),
);
