// TODO: switch order of the scale.
// This is just a shortcut so that the functional variables can be kept the same

$black: #fff;
$white: #0D1117;

$tbd: $black;

//
//
// -------- Grays --------
$gray-000:        #0D1117; // Background
$gray-100:        #161B22;
$gray-200:        #21262D;
$gray-300:        #30363D;
$gray-400:        #484F58;
$gray-500:        #6E7681;
$gray-600:        #8B949E;
$gray-700:        #B1BAC4;
$gray-800:        #D5DDE5;
$gray-900:        #F0F6FC; // Foreground

// -------- Blue --------
$blue-000:        #061E46;
$blue-100:        #0B2E63;
$blue-200:        #0D4189;
$blue-300:        #2456AA;
$blue-400:        #316ECD;
$blue-500:        #3F87E9;
$blue-600:        #54A2FB;
$blue-700:        #75BBFF;
$blue-800:        #A1D3FF;
$blue-900:        #CAE8FF;

// -------- Green --------
$green-000:       #04260F;
$green-100:       #0A3818;
$green-200:       #144D23;
$green-300:       #1B662D;
$green-400:       #248035;
$green-500:       #2F9A42;
$green-600:       #3AB550;
$green-700:       #58CE65;
$green-800:       #81E38A;
$green-900:       #B2F4B6;

// -------- Yellow --------
$yellow-000:      #7F4E00;
$yellow-100:      #9B6400;
$yellow-200:      #B67B00;
$yellow-300:      #C88D00;
$yellow-400:      #D79E00;
$yellow-500:      #E2B20D;
$yellow-600:      #EEC41A;
$yellow-700:      #F7D232;
$yellow-800:      #FDE15F;
$yellow-900:      #FEF3AE;

// -------- Orange --------
$orange-000:      #3D1200;
$orange-100:      #591C00;
$orange-200:      #782B00;
$orange-300:      #993D06;
$orange-400:      #BA5010;
$orange-500:      #D7661D;
$orange-600:      #ED802D;
$orange-700:      #FF9F4C;
$orange-800:      #FFC17E;
$orange-900:      #FFE0BD;

// -------- Red --------
$red-000:         #49000C;
$red-100:         #660614;
$red-200:         #88131F;
$red-300:         #AC212B;
$red-400:         #D13339;
$red-500:         #ED4E50;
$red-600:         #FF7170;
$red-700:         #FF9A96;
$red-800:         #FFBDBA;
$red-900:         #FFDCD9;

// -------- Purple --------
$purple-000:       #29154B;
$purple-100:       #3D2071;
$purple-200:       #512C94;
$purple-300:       #673AB8;
$purple-400:       #804EDA;
$purple-500:       #9867F0;
$purple-600:       #AE81FA;
$purple-700:       #C2A0FD;
$purple-800:       #D8BEFF;
$purple-900:       #EADFFF;

// -------- Pink --------
$pink-000:      #40092D;
$pink-100:      #55183E;
$pink-200:      #762556;
$pink-300:      #98316C;
$pink-400:      #BC4186;
$pink-500:      #DB579F;
$pink-600:      #F56FB7;
$pink-700:      #FF93CC;
$pink-800:      #FFB8DD;
$pink-900:      #FFDAED;

// -------- Fades --------
$black-fade-10:      rgba($black, 0.1);
$black-fade-15:      rgba($black, 0.15);
$black-fade-30:      rgba($black, 0.3);
$black-fade-50:      rgba($black, 0.5);
$black-fade-70:      rgba($black, 0.7);
$black-fade-85:      rgba($black, 0.85);

$white-fade-10:      rgba($white, 0.1);
$white-fade-15:      rgba($white, 0.15);
$white-fade-30:      rgba($white, 0.3);
$white-fade-50:      rgba($white, 0.5);
$white-fade-70:      rgba($white, 0.7);
$white-fade-85:      rgba($white, 0.85);

// -------- Color defaults --------
$red:         $red-500;
$purple:      $purple-500;
$blue:        $blue-500;
$green:       $green-500;
$yellow:      $yellow-500;
$orange:      $orange-500;
$pink:        $pink-500;
$gray-dark:   $gray-900;
$gray-light:  $gray-400;
$gray:        $gray-500;

// -------- Color gradient maps --------

$scale: (
  black: $black,
  white: $white,

  gray: (
    $gray-000,
    $gray-100,
    $gray-200,
    $gray-300,
    $gray-400,
    $gray-500,
    $gray-600,
    $gray-700,
    $gray-800,
    $gray-900,
  ),

  blue: (
    $blue-000,
    $blue-100,
    $blue-200,
    $blue-300,
    $blue-400,
    $blue-500,
    $blue-600,
    $blue-700,
    $blue-800,
    $blue-900,
  ),

  green: (
    $green-000,
    $green-100,
    $green-200,
    $green-300,
    $green-400,
    $green-500,
    $green-600,
    $green-700,
    $green-800,
    $green-900,
  ),

  yellow: (
    $yellow-000,
    $yellow-100,
    $yellow-200,
    $yellow-300,
    $yellow-400,
    $yellow-500,
    $yellow-600,
    $yellow-700,
    $yellow-800,
    $yellow-900,
  ),

  orange: (
    $orange-000,
    $orange-100,
    $orange-200,
    $orange-300,
    $orange-400,
    $orange-500,
    $orange-600,
    $orange-700,
    $orange-800,
    $orange-900,
  ),

  red: (
    $red-000,
    $red-100,
    $red-200,
    $red-300,
    $red-400,
    $red-500,
    $red-600,
    $red-700,
    $red-800,
    $red-900,
  ),

  purple: (
    $purple-000,
    $purple-100,
    $purple-200,
    $purple-300,
    $purple-400,
    $purple-500,
    $purple-600,
    $purple-700,
    $purple-800,
    $purple-900,
  ),

  pink: (
    $pink-000,
    $pink-100,
    $pink-200,
    $pink-300,
    $pink-400,
    $pink-500,
    $pink-600,
    $pink-700,
    $pink-800,
    $pink-900,
  )
);

// Colors from Primer CSS, either with
// specific names, or adding new names to existing
// custom colors with no name

$custom-btn-primary-bg: #2ea44f; // btn primary
$custom-btn-primary-bg-hover: #2c974b; // btn primary hover
$custom-btn-primary-bg-active: darken(#2c974b, 2%); // btn primary active
$custom-btn-primary-bg-disabled: #94d3a2; // btn primary disabled

$custom-btn-bg-hover: #f3f4f6; // btn hover bg

$bg-green-light: $green-100;

// -------- Functional colors ----------
$export: (
  scale: $scale,

  // Pure functional

  text: (
    primary: $gray-900,
    secondary: $gray-600,
    tertiary: $gray-500,
    placeholder: $gray-300,
    disabled: $gray-300,
    inverse: $white,
    link-primary: $blue-500,
    link-secondary: $gray-900,
    link-tertiary: $gray-600,
    danger: $red-500,
    success: $green-600,
    warning: $yellow-800,
  ),

  icon: (
    primary:$gray-900,
    secondary: $gray-600,
    tertiary: $gray-400,
    info: $blue-500,
    danger: $red-500,
    success: $green-600,
    warning: $yellow-800,
  ),

  hl: (
    hover-primary-bg: $blue-500,
    hover-primary-border: $blue-500,
    hover-secondary-bg: $gray-100,
    hover-secondary-border: $gray-100,
    selected-primary-bg: $blue-500,
    selected-primary-border: $blue-500,
  ),

  border: (
    primary: $gray-200,
    primary-light: lighten($gray-200, 3%), // TODO: replace?
    secondary: $gray-300,
    tertiary: $gray-000,
    inverse: $white,
    info: $blue-500,
    danger: $red-500,
    success: $green-500,
    warning: $yellow-700,
  ),

  bg: (
    canvas: $white,
    canvas-inverse: $gray-900,
    primary: $white,
    secondary: $gray-100,
    tertiary: $gray-000,
    overlay: $white,
    selected: $blue-500, // `$bg-blue` in Primer CSS
    info: $blue-100,
    info-inverse: $blue-500,
    danger: $red-100,
    danger-inverse: $red-500,
    success: $green-100,
    success-inverse: $green-500,
    warning: $yellow-200,
    warning-inverse: $yellow-700,
  ),

  shadow: (
    small: 0 1px 0 rgba($black, 0.04),
    medium: 0 3px 6px rgba($gray-400, 0.15),
    large: 0 8px 24px rgba($gray-400, 0.2),
    extra-large: 0 12px 48px rgba($gray-400, 0.3),

    highlight: inset 0 1px 0 rgba($white, 0.25), // top highlight
    inset: inset 0 1px 0 rgba($gray-200, 0.2), // top inner shadow
    focus: 0 0 0 3px rgba($blue-500, 0.3), // blue focus ring
  ),

  // Components

  alert: (
    bg: $blue-100,
    border: rgba($blue-700, 0.2),
    icon: rgba($blue-700, 0.6),

    warn: (
      bg: $yellow-100,
      border: rgba($yellow-800, 0.2),
      icon: $yellow-800,
    ),

    error: (
      bg: #ffe3e6, // custom color from PCSS
      border: rgba($red-800, 0.2),
      icon: rgba($red-800, 0.6),
    ),

    success: (
      bg: $bg-green-light, // TODO: extract?
      border: rgba($green-700, 0.2),
      icon: rgba($green-700, 0.8),
    )
  ),

  blankslate: (
    icon: lighten($gray-400, 5%),
  ),

  btn: (
    bg: $gray-000,
    border: $black-fade-15,
    text: $gray-900,
    ic: $gray-500,

    bg-hover: $custom-btn-bg-hover,
    bg-active: darken($custom-btn-bg-hover, 2%),

    /* states */

    primary: (
      bg: $custom-btn-primary-bg,
      border: $black-fade-15,
      border-disabled: $black-fade-10,
      text: $white,
      ic: rgba($white, 0.8),
      shadow: 0 1px 0 $black-fade-10,
      shadow-highlight: inset 0 1px 0 rgba($white, 0.03),
      shadow-selected: inset 0 1px 0 rgba($green-900, 0.2),

      bg-hover: $custom-btn-primary-bg-hover,
      bg-active: $custom-btn-primary-bg-active,
      bg-disabled: $custom-btn-primary-bg-disabled,

      disabled-text: rgba($white, 0.8),
      disabled-shadow: 0 0 0 3px rgba($custom-btn-primary-bg, 0.4),

      counter-bg: rgba($white, 0.2),
    ),

    inverse-on-hover: (
      border: $black-fade-15,
      shadow: 0 1px 0 $black-fade-10,
      shadow-inset: inset 0 1px 0 rgba($white, 0.03),
      counter-bg: rgba($white, 0.2),
    ),

    danger: (
      text: $red-500,
      text-disabled: rgba($red-500, 0.5),
      bg-hover: $red-600,
      bg-active: darken($red-600, 3%),
      shadow: inset 0 1px 0 rgba($red-900, 0.2),
      shadow-focus: 0 0 0 3px rgba($red-600, 0.4),
      counter-bg: rgba($red-500, 0.1),
      counter-bg-disabled: rgba($red-500, 0.05),
    ),

    outline: (
      text: $blue-500,
      text-disabled: rgba($blue-500, 0.5),
      bg-hover: $blue-500,
      bg-active: darken($blue-500, 3%),
      shadow: inset 0 1px 0 rgba($blue-900, 0.2),
      shadow-focus: 0 0 0 3px rgba($blue-600, 0.4),
      counter-bg: rgba($blue-500, 0.1),
      counter-bg-disabled: rgba($blue-500, 0.05),
    ),

    counter-bg: rgba($black, 0.08), // Darken for just a tad more contrast against the button background
  ),

  counter: (
    text: $gray-900,
    bg: rgba($gray-300, 0.5),
    border: rgba(209, 213, 218, 0.5),
  ),

  topic: (
    tag-bg: $blue-000,
    tag-border: $blue-000,
    tag-text: $blue-500,
  ),

  input: (
    bg: $white,
    contrast-bg: $gray-000,
    shadow: inset 0 1px 2px rgba($black, 0.075),
    shadow-focus: 0 0 0 0.2em rgba($blue, 0.3),
  ),

  avatar: (
    border: $black-fade-10,
    stack-fade: $gray-300,
    stack-fade-more: $gray-200,
    child-shadow: -2px -2px 0 rgba($white, 0.8),
  ),

  toast: (
    ic-bg-loading: $gray-600,
  ),

  timeline: (
    text: $gray-700,
    badge-bg: $gray-200,
    target-badge-border: $blue-400,
    target-badge-shadow: $blue-200,
  ),

  select-menu: (
    backdrop-bg: $black-fade-50,
    shadow: 0 0 18px rgba($black, 0.4),
    tap-highlight: rgba($gray-300, 0.5),
    tap-focus-bg: $blue-100,
  ),

  box: (
    blue-border: $blue-200,
  ),

  dropdown: (
    border: $black-fade-15,
  ),

  popover: (
    border: $black-fade-15,
  ),

  branch-name: (
    text: rgba($black, 0.6),
    bg: lighten($blue-100, 3%),
    icon: desaturate($blue-300, 70%),
  ),

  markdown: (
    code-bg: rgba($black, 0.05),
    frame-border: lighten($gray-300, 5%),
    blockquote-border: lighten($gray-300, 5%),
    table-border: lighten($gray-300, 5%),
    table-tr-border: darken($gray-300, 4%),
  ),

  header: (
    text: $white-fade-70,
  ),

  filter-item: (
    bar-bg: darken($gray-100, 2%),
  ),

  hidden-text-expander: (
    bg: lighten($gray-300, 5%),
    bg-hover: darken($gray-300, 4%),
  ),

  drag-and-drop: (
    border: darken($gray-300, 5%),
  ),

  upload-enabled: (
    border: lighten($gray-300, 5%),
    border-focused: lighten($blue-400, 8%),
  ),

  previewable-comment-form: (
    border: darken($gray-300, 5%),
  ),



  // App level

  ic-folder: $blue-300,
  hl-author-bg: $blue-000,
  hl-author-border: $blue-200,
  logo-subdued: $gray-300,

  diff: (
    neutral-bg: $gray-300,
    deletion-bg: $red-600,
    deletion-bg-strong: $tbd,
    deletion-border: $tbd,
    deletion-border-strong: $tbd,
    addition-bg: darken($green-400, 5%),
    addition-bg-strong: $tbd,
    addition-border: $tbd,
    addition-border-strong: $tbd,
  ),

  global-nav: (
    logo: $white,
    bg: $gray-900,
    text: $white,
    input-bg: $gray-000,
    input-border: $gray-000,
    input-ic: $tbd,
    input-placeholder: $tbd,
  ),

  calendar-graph: (
    /*bg: $white,
    border: $white,*/
    day-bg: #EBEDF0,
    day-border: rgba(27, 31, 35, 0.06),
    day-L1-bg: #9BE9A8,
    day-L2-bg: #40C463,
    day-L3-bg: #30A14E,
    day-L4-bg: #216E39,
    day-L4-border: rgba(27, 31, 35, 0.06),
    day-L3-border: rgba(27, 31, 35, 0.06),
    day-L2-border: rgba(27, 31, 35, 0.06),
    day-L1-border: rgba(27, 31, 35, 0.06),
  ),
);
