// -------- Functional colors ----------
$export: (
  scale: $scale,
  auto: $auto,

  // Pure functional

  text: (
    primary: $gray-9,
    secondary: $gray-6,
    tertiary: $gray-5,
    placeholder: $gray-5,
    disabled: $gray-4,
    inverse: $white,
    link: $blue-5,
    danger: $red-6,
    success: $green-6,
    warning: $yellow-8,
    white: $white,
  ),

  icon: (
    primary:$gray-9,
    secondary: $gray-6,
    tertiary: $gray-4,
    info: $blue-5,
    danger: $red-5,
    success: $green-6,
    warning: $yellow-8,
  ),

  border: (
    primary: $gray-2,
    secondary: lighten($gray-2, 3%),
    tertiary: $gray-3,
    overlay: $gray-2,
    inverse: $white,
    info: $blue-5,
    danger: $red-5,
    success: $green-4,
    warning: $yellow-6,
  ),

  bg: (
    canvas: $white,
    canvas-mobile: $white,
    canvas-inverse: $gray-9,
    canvas-inset: $gray-1,
    primary: $white,
    secondary: $gray-0,
    tertiary: $gray-1,
    overlay: $white,
    backdrop: $black-fade-50,
    info: $blue-0,
    info-inverse: $blue-5,
    danger: $red-0,
    danger-inverse: $red-5,
    success: $green-1,
    success-inverse: $green-5,
    warning: $yellow-2,
    warning-inverse: $yellow-5,
  ),

  shadow: (
    small: 0 1px 0 rgba($black, 0.04),
    medium: 0 3px 6px rgba($gray-4, 0.15),
    large: 0 8px 24px rgba($gray-4, 0.2),
    extra-large: 0 12px 48px rgba($gray-4, 0.3),

    highlight: inset 0 1px 0 rgba($white, 0.25), // top highlight
    inset: inset 0 1px 0 rgba($gray-2, 0.2), // top inner shadow
  ),

  state: (
    hover: (
      primary-bg: $blue-5,// `$bg-blue` in Primer CSS
      primary-border: $blue-5,
      primary-text: $white,
      primary-icon: $white,
      secondary-bg: $gray-1,
      secondary-border: $gray-1,
    ),

    selected: (
      primary-bg: $blue-5,// `$bg-blue` in Primer CSS
      primary-border: $blue-5,
      primary-text: $white,
      primary-icon: $white,
    ),

    focus: (
      border: $blue-5, // blue focus border
      shadow: 0 0 0 3px rgba($blue-5, 0.3), // blue focus ring
    ),
  ),

  fade: (
    fg-10: $black-fade-10,
    fg-15: $black-fade-15,
    fg-30: $black-fade-30,
    fg-50: $black-fade-50,
    fg-70: $black-fade-70,
    fg-85: $black-fade-85,

    black-10: $black-fade-10,
    black-15: $black-fade-15,
    black-30: $black-fade-30,
    black-50: $black-fade-50,
    black-70: $black-fade-70,
    black-85: $black-fade-85,

    white-10: $white-fade-10,
    white-15: $white-fade-15,
    white-30: $white-fade-30,
    white-50: $white-fade-50,
    white-70: $white-fade-70,
    white-85: $white-fade-85,
  ),

  // Components

  alert: (
    info: (
      text: $gray-9,
      icon: rgba($blue-7, 0.6),
      bg: $blue-1,
      border: rgba($blue-7, 0.2),
    ),

    warn: (
      text: $gray-9,
      icon: $yellow-8,
      bg: $yellow-1,
      border: rgba($yellow-8, 0.2),
    ),

    error: (
      text: $gray-9,
      icon: rgba($red-8, 0.6),
      bg: #ffe3e6,
      border: rgba($red-8, 0.2),
    ),

    success: (
      text: $gray-9,
      icon: rgba($green-7, 0.8),
      bg: $green-1,
      border: rgba($green-7, 0.2),
    )
  ),

  autocomplete: (
    shadow: 0 3px 6px rgba($gray-4, 0.15),
    row-border: lighten($gray-2, 3%),
  ),

  blankslate: (
    icon: lighten($gray-4, 5%),
  ),

  btn: (
    text: $gray-9,
    bg: $gray-0,
    border: $black-fade-15,
    shadow: 0 1px 0 rgba($black, 0.04),
    inset-shadow: inset 0 1px 0 rgba($white, 0.25), // top highlight

    hover-bg: #f3f4f6,
    hover-border: $black-fade-15,

    selected-bg: darken(#f3f4f6, 2%),

    focus-bg: $gray-0,
    focus-border: $black-fade-15,
    focus-shadow: 0 0 0 3px rgba($blue-5, 0.3),

    shadow-active: inset 0 0.15em 0.3em $black-fade-15, // TODO: Deprecate? Not used in Primer CSS
    shadow-input-focus: 0 0 0 0.2em rgba($blue, 0.3), // TODO: Deprecate?

    /* states */

    primary: (
      text: $white,
      bg: #2ea44f,
      border: $black-fade-15,
      shadow: 0 1px 0 $black-fade-10,
      inset-shadow: inset 0 1px 0 rgba($white, 0.03),

      hover-bg: #2c974b,
      hover-border: $black-fade-15,

      selected-bg: darken(#2c974b, 2%),
      selected-shadow: inset 0 1px 0 rgba($green-9, 0.2),

      disabled-text: rgba($white, 0.8),
      disabled-bg: #94d3a2,
      disabled-border: $black-fade-10,

      focus-bg: #2ea44f,
      focus-border: $black-fade-15,
      focus-shadow: 0 0 0 3px rgba(#2ea44f, 0.4),

      icon: rgba($white, 0.8),
      counter-bg: rgba($white, 0.2),
    ),

    outline: (
      text: $blue-5,

      hover-text: $white,
      hover-bg: $blue-5,
      hover-border: $black-fade-15,
      hover-shadow: 0 1px 0 $black-fade-10,
      hover-inset-shadow: inset 0 1px 0 rgba($white, 0.03),
      hover-counter-bg: rgba($white, 0.2),

      selected-text: $white,
      selected-bg: darken($blue-5, 3%),
      selected-border: $black-fade-15,
      selected-shadow: inset 0 1px 0 rgba($blue-9, 0.2),

      disabled-text: rgba($blue-5, 0.5),
      disabled-bg: $gray-0,
      disabled-counter-bg: rgba($blue-5, 0.05),

      focus-border: $black-fade-15,
      focus-shadow: 0 0 0 3px rgba($blue-6, 0.4),

      counter-bg: rgba($blue-5, 0.1),
    ),

    danger: (
      text: $red-5,

      hover-text: $white,
      hover-bg: $red-6,
      hover-border: $black-fade-15,
      hover-shadow: 0 1px 0 $black-fade-10,
      hover-inset-shadow: inset 0 1px 0 rgba($white, 0.03),
      hover-counter-bg: rgba($white, 0.2),

      selected-text: $white,
      selected-bg: darken($red-5, 3%),
      selected-border: $black-fade-15,
      selected-shadow: inset 0 1px 0 rgba($red-9, 0.2),

      disabled-text: rgba($red-5, 0.5),
      disabled-bg: $gray-0,
      disabled-counter-bg: rgba($red-5, 0.05),

      focus-border: $black-fade-15,
      focus-shadow: 0 0 0 3px rgba($red-6, 0.4),

      counter-bg: rgba($red-5, 0.1),

      icon: $red-5,
      hover-icon: $white,
    ),

    counter-bg: rgba($black, 0.08), // Darken for just a tad more contrast against the button background
  ),

  counter: (
    text: $gray-9,
    bg: rgba($gray-3, 0.5),

    primary: (
      text: $white,
      bg: $gray-5,
    ),

    secondary: (
      text: $gray-5,
    ),
  ),

  dropdown: (
    shadow: 0 8px 24px rgba($gray-4, 0.2),
  ),

  label: (
    border: $gray-2,

    primary: (
      text: $gray-9,
      border: $gray-5,
    ),

    secondary: (
      text: $gray-6,
      border: $gray-2,
    ),

    info: (
      text: $blue-5,
      border: $blue-5,
    ),

    success: (
      text: $green-6,
      border: $green-5,
    ),

    warning: (
      text: $yellow-9,
      border: $yellow-8,
    ),

    danger: (
      text: $red-5,
      border: $red-6,
    ),

    // Deprecated
    orange: (
      text: $orange-8,
      border: $orange-5,
    ),
  ),

  input: (
    bg: $white,
    contrast-bg: $gray-0,
    border: $gray-2,
    shadow: inset 0 1px 2px rgba($black, 0.075),

    disabled-bg: $gray-1,
    disabled-border: $gray-2,

    warning-border: $yellow-6,
    error-border: $red-6,

    tooltip: (
      success: (
        text: $green-9,
        bg: $green-1,
        border: $green-4,
      ),

      warning: (
        text: $yellow-9,
        bg: $yellow-2,
        border: $yellow-6,
      ),

      error: (
        text: $red-9,
        bg: $red-0,
        border: $red-3,
      ),
    ),
  ),

  avatar: (
    bg: $white,
    border: transparent,
    stack-fade: $gray-3,
    stack-fade-more: $gray-2,
    child-shadow: -2px -2px 0 rgba($white, 0.8),
  ),

  toast: (
    text: var(--color-text-primary),
    bg: var(--color-bg-canvas),
    border: var(--color-border-primary),
    shadow: var(--color-shadow-large),
    icon: $white,
    icon-bg: var(--color-bg-info-inverse),
    icon-border: transparent,

    success: (
      text: var(--color-text-primary),
      border: var(--color-border-primary),
      icon: $white,
      icon-bg: var(--color-bg-success-inverse),
      icon-border: transparent,
    ),

    warning: (
      text: var(--color-text-primary),
      border: var(--color-border-primary),
      icon: var(--color-text-primary),
      icon-bg: var(--color-bg-warning-inverse),
      icon-border: transparent,
    ),

    danger: (
      text: var(--color-text-primary),
      border: var(--color-border-primary),
      icon: $white,
      icon-bg: var(--color-bg-danger-inverse),
      icon-border: transparent,
    ),

    loading: (
      text: var(--color-text-primary),
      border: var(--color-border-primary),
      icon: $white,
      icon-bg: $gray-6,
      icon-border: transparent,
    ),
  ),

  timeline: (
    text: $gray-7,
    badge-bg: $gray-2,
    badge-success-border: transparent,
    target-badge-border: $blue-4,
    target-badge-shadow: $blue-2,
  ),

  select-menu: (
    border-secondary: lighten($gray-2, 3%),
    shadow: 0 0 18px rgba($black, 0.4),
    backdrop-bg: $black-fade-50,
    backdrop-border: transparent,
    tap-highlight: rgba($gray-3, 0.5),
    tap-focus-bg: $blue-1,
  ),

  box: (
    blue-border: $blue-2,
    row-yellow-bg: $yellow-1,
    row-blue-bg: $blue-0,
    header-blue-bg: $blue-0,
    header-blue-border: $blue-2,
    border-info: rgba($blue-5, 0.2),
    bg-info: $blue-0,
    border-warning: rgba($yellow-5, 0.4),
    bg-warning: $yellow-0,
  ),

  branch-name: (
    text: $gray-6,
    icon: desaturate($blue-3, 70%),
    bg: lighten($blue-1, 3%),

    link: (
      text: $blue-5,
      icon: desaturate($blue-3, 70%),
      bg: lighten($blue-1, 3%),
    ),
  ),

  markdown: (
    code-bg: rgba($black, 0.05),
    frame-border: lighten($gray-3, 5%),
    blockquote-border: lighten($gray-3, 5%),
    table-border: lighten($gray-3, 5%),
    table-tr-border: darken($gray-3, 4%),
  ),

  menu: (
    heading-text: $gray-9,
    border-active: #f9826c, // coral
    bg-active: transparent,
  ),

  sidenav: (
    selected-bg: $white,
    border-active: #f9826c, // coral
  ),

  header: (
    text: $white-fade-70,
    bg: $gray-9,
    logo: $white,
  ),

  filter-item: (
    bar-bg: darken($gray-1, 2%),
  ),

  hidden-text-expander: (
    bg: lighten($gray-3, 5%),
    bg-hover: darken($gray-3, 4%),
  ),

  drag-and-drop: (
    border: darken($gray-3, 5%),
  ),

  upload-enabled: (
    border: lighten($gray-3, 5%),
    border-focused: lighten($blue-4, 8%),
  ),

  previewable-comment-form: (
    border: darken($gray-3, 5%),
  ),

  underlinenav: (
    border: rgba($gray-3, 0),
    border-hover: $gray-3,
    border-active: #f9826c,
    text: $gray-9,
    text-hover: $gray-9,
    text-active: $gray-9,
    icon: $gray-4,
    icon-hover: $gray-4,
    icon-active: $gray-9,
    counter-text: $gray-9,
  ),

  verified-badge: (
    text: $green-6,
    bg: $white,
    border: $gray-2,
  ),

  social-count: (
    bg: $white,
  ),

  tooltip: (
    text: $white,
    bg: $gray-9,
  ),

  header-search: (
    bg: $gray-9,
    border: $gray-7,
  ),

  search-keyword: (
    hl: $yellow-1,
  ),

  diffstat: (
    neutral-bg: $gray-3,
    neutral-border: $gray-3,
    deletion-bg: $red-5,
    deletion-border: $red-5,
    addition-bg: $green-5,
    addition-border: $green-5,
  ),

  // Marketing

  mktg: (
    success: mix($green-5, $green-4, 50%),
    info: mix($blue-4, $blue-5, 42%),

    bg-shade-gradient: (
      top: rgba($black, 0.065),
      bottom: rgba($black, 0),
    ),

    btn: (
      bg: #3076DF,
      border: #3076DF,
      text: $white,
      icon: $white,

      focus-shadow: 0 0 0 3px rgba(#3076DF, 0.3),

      hover: (
        bg: $blue-5,
        border: $blue-5,
      ),

      disabled: (
        bg: rgba(48, 118, 223, 0.5),
        border: transparent,
        text: $white,
        icon: $white,
      ),

      primary: (
        bg: #5EB85C,
        border: #5EB85C,
        text: $white,
        icon: $white,

        focus-shadow: 0 0 0 3px rgba(#5EB85C, 0.3),

        hover: (
          bg: $green-5,
          border: $green-5,
        ),

        disabled: (
          bg: rgba(94, 184, 92, 0.5),
          border: transparent,
          text: $white,
          icon: $white,
        ),
      ),

      outline: (
        bg: transparent,
        border: rgba(42, 103, 195, 0.5),
        text: #3076DF,
        icon: #3076DF,

        focus-shadow: 0 0 0 3px rgba(42, 103, 195, 0.3),

        hover: (
          bg: transparent,
          border: $blue-5,
          text: $blue-5,
          icon: $blue-5,
        ),

        disabled: (
          bg: transparent,
          border: rgba(42, 103, 195, 0.2),
          text: rgba(48, 118, 223, 0.5),
          icon: rgba(48, 118, 223, 0.5),
        ),
      ),

      dark: (
        bg: transparent,
        border: rgba($white, 0.5),
        text: $white,
        icon: $white,

        focus-shadow: 0 0 0 3px rgba($white, 0.3),

        hover: (
          bg: $white,
          border: $white,
          text: $gray-7,
          icon: $gray-7,
        ),

        disabled: (
          bg: transparent,
          border: rgba($white, 0.2),
          text: rgba($white, 0.5),
          icon: rgba($white, 0.5),
        ),
      ),
    ),
  ),

  pr-state: (
    draft: (
      text: $white,
      bg: $gray-5,
      border: transparent,
    ),

    open: (
      text: $white,
      bg: $green-5,
      border: transparent,
    ),

    merged: (
      text: $white,
      bg: $purple-5,
      border: transparent,
    ),

    closed: (
      text: $white,
      bg: $red-5,
      border: transparent,
    ),
  ),
);
