// -------- Functional colors ----------
$export: (
  scale: $scale,
  auto: $auto,

  // Pure functional

  fg: (
    default: $gray-9,
    muted: $gray-6,
    inactive: $gray-5,
    on-emphasis: $white,
    on-emphasis-muted: $white-fade-50,
  ),

  surface: (
    default: $white,
    overlay: $white,
    inset: $gray-1,
    backdrop: $black-fade-50,
    mobile: $white,
  ),

  border: (
    default: $gray-2,
    divider: lighten($gray-2, 3%),
    blend: $black-fade-10,
  ),

  // foundational

  neutral: (
    fg: $gray-5,
    emphasis: $gray-5,
    highlighter: $gray-3,
    muted: $gray-1,
  ),

  action: (
    fg: $blue-5,
    emphasis: $blue-5,
    highlighter: $blue-2,
    muted: $blue-0,
  ),

  // feedback

  info: (
    fg: $blue-5,
    emphasis: $blue-5,
    highlighter: $blue-2,
    muted: $blue-0,
  ),

  success: (
    fg: $green-5,
    emphasis: $green-5,
    highlighter: $green-3,
    muted: $green-1,
  ),

  warning: (
    fg: $yellow-5,
    emphasis: $yellow-5,
    highlighter: $yellow-3,
    muted: $yellow-2,
  ),

  critical: (
    fg: $orange-5,
    emphasis: $orange-5,
    highlighter: $orange-3,
    muted: $orange-1,
  ),

  danger: (
    fg: $red-5,
    emphasis: $red-5,
    highlighter: $red-2,
    muted: $red-0,
  ),

  // secondary

  done: (
    fg: $purple-5,
    emphasis: $purple-5,
    highlighter: $purple-2,
    muted: $purple-0,
  ),

  sponsors: (
    fg: $pink-5,
    emphasis: $pink-5,
    highlighter: $pink-2,
    muted: $pink-0,
  ),

  marker: (
    fg: $yellow-5,
    emphasis: $yellow-5,
    highlighter: $yellow-3,
    muted: $yellow-2,
  ),

  // v1 ----------------------------------

  shadow: (
    small: 0 1px 0 rgba($black, 0.04),
    medium: 0 3px 6px rgba($gray-4, 0.15),
    large: 0 8px 24px rgba($gray-4, 0.2),
    extra-large: 0 12px 48px rgba($gray-4, 0.3),

    highlight: inset 0 1px 0 rgba($white, 0.25), // top highlight
    inset: inset 0 1px 0 rgba($gray-2, 0.2), // top inner shadow
  ),

  fade: (
    fg-10: $black-fade-10,
    fg-15: $black-fade-15,
    fg-30: $black-fade-30,
    fg-50: $black-fade-50,
    fg-70: $black-fade-70,
    fg-85: $black-fade-85,

    black-10: $black-fade-10,
    black-15: $black-fade-15,
    black-30: $black-fade-30,
    black-50: $black-fade-50,
    black-70: $black-fade-70,
    black-85: $black-fade-85,

    white-10: $white-fade-10,
    white-15: $white-fade-15,
    white-30: $white-fade-30,
    white-50: $white-fade-50,
    white-70: $white-fade-70,
    white-85: $white-fade-85,
  ),

  // Components

  alert: (
    info: (
      text: $gray-9,
      icon: rgba($blue-7, 0.6),
      bg: $blue-1,
      border: rgba($blue-7, 0.2),
    ),

    warn: (
      text: $gray-9,
      icon: $yellow-8,
      bg: $yellow-1,
      border: rgba($yellow-8, 0.2),
    ),

    error: (
      text: $gray-9,
      icon: rgba($red-8, 0.6),
      bg: #ffe3e6,
      border: rgba($red-8, 0.2),
    ),

    success: (
      text: $gray-9,
      icon: rgba($green-7, 0.8),
      bg: $green-1,
      border: rgba($green-7, 0.2),
    )
  ),

  autocomplete: (
    shadow: 0 3px 6px rgba($gray-4, 0.15),
    row-border: lighten($gray-2, 3%),
  ),

  blankslate: (
    icon: lighten($gray-4, 5%),
  ),

  btn: (
    text: $gray-9,
    bg: $gray-0,
    border: $black-fade-15,
    shadow: 0 1px 0 rgba($black, 0.04),
    inset-shadow: inset 0 1px 0 rgba($white, 0.25), // top highlight

    hover-bg: #f3f4f6,
    hover-border: $black-fade-15,

    active-bg: darken(#f3f4f6, 3%),
    active-border: $black-fade-10,

    selected-bg: darken(#f3f4f6, 2%),

    focus-bg: $gray-0,
    focus-border: $black-fade-15,
    focus-shadow: 0 0 0 3px rgba($blue-5, 0.3),

    shadow-active: inset 0 0.15em 0.3em $black-fade-15, // TODO: Deprecate? Not used in Primer CSS
    shadow-input-focus: 0 0 0 0.2em rgba($blue, 0.3), // TODO: Deprecate?

    /* states */

    primary: (
      text: $white,
      bg: #2ea44f,
      border: $black-fade-15,
      shadow: 0 1px 0 $black-fade-10,
      inset-shadow: inset 0 1px 0 rgba($white, 0.03),

      hover-bg: #2c974b,
      hover-border: $black-fade-15,

      selected-bg: darken(#2c974b, 2%),
      selected-shadow: inset 0 1px 0 rgba($green-9, 0.2),

      disabled-text: rgba($white, 0.8),
      disabled-bg: #94d3a2,
      disabled-border: $black-fade-10,

      focus-bg: #2ea44f,
      focus-border: $black-fade-15,
      focus-shadow: 0 0 0 3px rgba(#2ea44f, 0.4),

      icon: rgba($white, 0.8),
      counter-bg: rgba($white, 0.2),
    ),

    outline: (
      text: $blue-5,

      hover-text: $white,
      hover-bg: $blue-5,
      hover-border: $black-fade-15,
      hover-shadow: 0 1px 0 $black-fade-10,
      hover-inset-shadow: inset 0 1px 0 rgba($white, 0.03),
      hover-counter-bg: rgba($white, 0.2),

      selected-text: $white,
      selected-bg: darken($blue-5, 3%),
      selected-border: $black-fade-15,
      selected-shadow: inset 0 1px 0 rgba($blue-9, 0.2),

      disabled-text: rgba($blue-5, 0.5),
      disabled-bg: $gray-0,
      disabled-counter-bg: rgba($blue-5, 0.05),

      focus-border: $black-fade-15,
      focus-shadow: 0 0 0 3px rgba($blue-6, 0.4),

      counter-bg: rgba($blue-5, 0.1),
    ),

    danger: (
      text: $red-5,

      hover-text: $white,
      hover-bg: $red-6,
      hover-border: $black-fade-15,
      hover-shadow: 0 1px 0 $black-fade-10,
      hover-inset-shadow: inset 0 1px 0 rgba($white, 0.03),
      hover-counter-bg: rgba($white, 0.2),

      selected-text: $white,
      selected-bg: darken($red-5, 3%),
      selected-border: $black-fade-15,
      selected-shadow: inset 0 1px 0 rgba($red-9, 0.2),

      disabled-text: rgba($red-5, 0.5),
      disabled-bg: $gray-0,
      disabled-counter-bg: rgba($red-5, 0.05),

      focus-border: $black-fade-15,
      focus-shadow: 0 0 0 3px rgba($red-6, 0.4),

      counter-bg: rgba($red-5, 0.1),

      icon: $red-5,
      hover-icon: $white,
    ),

    counter-bg: rgba($black, 0.08), // Darken for just a tad more contrast against the button background
  ),

  counter: (
    text: $gray-9,
    bg: rgba($gray-3, 0.5),

    primary: (
      text: $white,
      bg: $gray-5,
    ),

    secondary: (
      text: $gray-5,
      bg: rgba($gray-3, 0.5),
    ),
  ),

  dropdown: (
    shadow: 0 8px 24px rgba($gray-4, 0.2),
  ),

  label: (
    border: $gray-2,

    primary: (
      text: $gray-9,
      border: $gray-5,
    ),

    secondary: (
      text: $gray-6,
      border: $gray-2,
    ),

    info: (
      text: $blue-5,
      border: $blue-5,
    ),

    success: (
      text: $green-6,
      border: $green-5,
    ),

    warning: (
      text: $yellow-9,
      border: $yellow-8,
    ),

    danger: (
      text: $red-5,
      border: $red-6,
    ),

    // Deprecated
    orange: (
      text: $orange-8,
      border: $orange-5,
    ),
  ),

  input: (
    bg: $white,
    contrast-bg: $gray-0,
    border: $gray-2,
    shadow: inset 0 1px 2px rgba($black, 0.075),

    disabled-bg: $gray-1,
    disabled-border: $gray-2,

    warning-border: $yellow-6,
    error-border: $red-6,

    tooltip: (
      success: (
        text: $green-9,
        bg: $green-1,
        border: $green-4,
      ),

      warning: (
        text: $yellow-9,
        bg: $yellow-2,
        border: $yellow-6,
      ),

      error: (
        text: $red-9,
        bg: $red-0,
        border: $red-3,
      ),
    ),
  ),

  avatar: (
    bg: $white,
    border: transparent,
    stack-fade: $gray-3,
    stack-fade-more: $gray-2,
    child-shadow: -2px -2px 0 rgba($white, 0.8),
  ),

  toast: (
    text: var(--color-fg-default),
    bg: var(--color-surface-default),
    border: var(--color-border-default),
    shadow: var(--color-shadow-large),
    icon: $white,
    icon-bg: var(--color-info-emphasis),
    icon-border: transparent,

    success: (
      text: var(--color-fg-default),
      border: var(--color-border-default),
      icon: $white,
      icon-bg: var(--color-success-emphasis),
      icon-border: transparent,
    ),

    warning: (
      text: var(--color-fg-default),
      border: var(--color-border-default),
      icon: var(--color-fg-default),
      icon-bg: var(--color-warning-emphasis),
      icon-border: transparent,
    ),

    danger: (
      text: var(--color-fg-default),
      border: var(--color-border-default),
      icon: $white,
      icon-bg: var(--color-danger-emphasis),
      icon-border: transparent,
    ),

    loading: (
      text: var(--color-fg-default),
      border: var(--color-border-default),
      icon: $white,
      icon-bg: $gray-6,
      icon-border: transparent,
    ),
  ),

  timeline: (
    text: $gray-7,
    badge-bg: $gray-2,
    badge-success-border: transparent,
    target-badge-border: $blue-4,
    target-badge-shadow: $blue-2,
  ),

  select-menu: (
    border-secondary: lighten($gray-2, 3%),
    shadow: 0 0 18px rgba($black, 0.4),
    backdrop-bg: $black-fade-50,
    backdrop-border: transparent,
    tap-highlight: rgba($gray-3, 0.5),
    tap-focus-bg: $blue-1,
  ),

  box: (
    blue-border: $blue-2,
    row-yellow-bg: $yellow-1,
    row-blue-bg: $blue-0,
    header-blue-bg: $blue-0,
    header-blue-border: $blue-2,
    border-info: rgba($blue-5, 0.2),
    bg-info: $blue-0,
    border-warning: rgba($yellow-5, 0.4),
    bg-warning: $yellow-0,
  ),

  branch-name: (
    text: $gray-6,
    icon: desaturate($blue-3, 70%),
    bg: lighten($blue-1, 3%),

    link: (
      text: $blue-5,
      icon: desaturate($blue-3, 70%),
      bg: lighten($blue-1, 3%),
    ),
  ),

  markdown: (
    code-bg: rgba($black, 0.05),
    frame-border: lighten($gray-3, 5%),
    blockquote-border: lighten($gray-3, 5%),
    table-border: lighten($gray-3, 5%),
    table-tr-border: darken($gray-3, 4%),
  ),

  menu: (
    heading-text: $gray-9,
    border-active: #f9826c, // coral
    bg-active: transparent,
  ),

  sidenav: (
    selected-bg: $white,
    border-active: #f9826c, // coral
  ),

  header: (
    text: $white-fade-70,
    bg: $gray-9,
    logo: $white,
  ),

  filter-item: (
    bar-bg: darken($gray-1, 2%),
  ),

  hidden-text-expander: (
    bg: lighten($gray-3, 5%),
    bg-hover: darken($gray-3, 4%),
  ),

  drag-and-drop: (
    border: darken($gray-3, 5%),
  ),

  upload-enabled: (
    border: lighten($gray-3, 5%),
    border-focused: lighten($blue-4, 8%),
  ),

  previewable-comment-form: (
    border: darken($gray-3, 5%),
  ),

  underlinenav: (
    border: rgba($gray-3, 0),
    border-hover: $gray-3,
    border-active: #f9826c,
    text: $gray-9,
    text-hover: $gray-9,
    text-active: $gray-9,
    icon: $gray-4,
    icon-hover: $gray-4,
    icon-active: $gray-9,
    counter-text: $gray-9,
    counter-bg: var(--color-counter-bg),
  ),

  verified-badge: (
    text: $green-6,
    bg: $white,
    border: $gray-2,
  ),

  social-count: (
    bg: $white,
  ),

  tooltip: (
    text: $white,
    bg: $gray-9,
  ),

  header-search: (
    bg: $gray-9,
    border: $gray-7,
  ),

  search-keyword: (
    hl: $yellow-1,
  ),

  diffstat: (
    neutral-bg: $gray-3,
    neutral-border: $gray-3,
    deletion-bg: $red-5,
    deletion-border: $red-5,
    addition-bg: $green-5,
    addition-border: $green-5,
  ),

  // Marketing

  mktg: (
    success: mix($green-5, $green-4, 50%),
    info: mix($blue-4, $blue-5, 42%),

    bg-shade-gradient: (
      top: rgba($black, 0.065),
      bottom: rgba($black, 0),
    ),

    btn: (
      bg: (
        top: lighten($mktg-blue-primary, 5%),
        bottom: $mktg-blue-primary,
      ),
      bg-overlay: (
        top: lighten($mktg-blue-secondary, 5%),
        bottom: $mktg-blue-secondary,
      ),
      text: $white,

      primary: (
        bg: (
          top: lighten($mktg-green-primary, 5%),
          bottom: $mktg-green-primary,
        ),
        bg-overlay: (
          top: lighten($mktg-green-secondary, 5%),
          bottom: $mktg-green-secondary,
        ),
        text: $white,
      ),

      enterprise: (
        bg: (
          top: lighten($mktg-purple-primary, 5%),
          bottom: $mktg-purple-primary,
        ),
        bg-overlay: (
          top: lighten($mktg-purple-secondary, 5%),
          bottom: $mktg-purple-secondary,
        ),
        text: $white,
      ),

      outline: (
        text: $mktg-blue-primary,
        border: rgba($mktg-blue-primary, 0.3),

        hover: (
          text: $mktg-blue-secondary,
          border: rgba($mktg-blue-primary, 0.5),
        ),

        focus: (
          border: rgba($mktg-blue-primary, 1),
          border-inset: rgba($mktg-blue-primary, 0.5),
        ),
      ),

      dark: (
        text: $white,
        border: rgba($white, 0.3),

        hover: (
          text: $white,
          border: rgba($white, 0.5),
        ),

        focus: (
          border: rgba($white, 1),
          border-inset: rgba($white, 0.5),
        ),
      ),
    ),
  ),

  // App level

  files-explorer-icon: $blue-3,
  hl-author-bg: $blue-0,
  hl-author-border: $blue-2,
  logo-subdued: $gray-3,
  discussion-border: desaturate($green-3, 40%),
  discussion-bg-success: $green-5,
  actions-workflow-table-sticky-bg: rgba($white, 0.95),
  repo-language-color-border: rgba($black, 0.1),
  code-selection-bg: $blue-2,

  highlight: (
    text: #442c12,
    bg: #fff0bb,
  ),

  blob: (
    line-highlight-bg: $yellow-1,
    line-highlight-border: transparent,
  ),

  diff: (
    addition: (
      text: $green-6,
      bg: var(--color-diff-blob-addition-line-bg),
      border: $green-4,
    ),

    deletion: (
      text: $red-6,
      bg: var(--color-diff-blob-deletion-line-bg),
      border: $red-5,
    ),

    change: (
      text: $yellow-8,
      bg: $yellow-2,
      border: $yellow-6,
    ),
  ),

  diff-blob: (
    num-text: $black-fade-30,
    num-hover-text: rgba($black, 0.6),

    addition: (
      num-text: $black-fade-30,
      num-hover-text: rgba($black, 0.6),
      num-bg: darken($green-1, 3%),
      line-bg: darken($green-0, 2%),
      word-bg: darken($green-2, 4%),
    ),

    deletion: (
      num-text: $black-fade-30,
      num-hover-text: rgba($black, 0.6),
      num-bg: $red-1,
      line-bg: $red-0,
      word-bg: lighten($red-2, 2%),
    ),

    hunk: (
      text: $black-fade-70,
      num-bg: $blue-1,
      line-bg: $blue-0,
    ),

    empty-block-bg: $gray-0, // for split diffs

    selected-line-highlight-bg: rgba($yellow-4, 0.2),
    selected-line-highlight-border: $yellow-5,
    selected-line-highlight-mix-blend-mode: multiply,

    expander: (
      icon: $gray-6,
      hover-icon: $white,
      hover-bg: $blue-5,
    ),

    // add line comment button -> blue [+]
    comment-button: (
      icon: $white,
      bg: $blue-5,
      gradient-bg: lighten($blue-5, 5%), // gradient top
    ),
  ),

  global-nav: (
    logo: $white,
    bg: $gray-9,
    text: $white,
    icon: $white,
    input-bg: $gray-0,
    input-border: $gray-0,
    input-icon: $gray-3,
    input-placeholder: $gray-4,
  ),

  calendar-graph: (
    /*bg: $white,
    border: $white,*/
    day-bg: #EBEDF0,
    day-border: rgba(27, 31, 35, 0.06),
    day-L1-bg: #9BE9A8,
    day-L2-bg: #40C463,
    day-L3-bg: #30A14E,
    day-L4-bg: #216E39,
    day-L4-border: rgba(27, 31, 35, 0.06),
    day-L3-border: rgba(27, 31, 35, 0.06),
    day-L2-border: rgba(27, 31, 35, 0.06),
    day-L1-border: rgba(27, 31, 35, 0.06),
  ),

  footer-invertocat: (
    octicon: $gray-3,
    octicon-hover: $gray-5,
  ),

  pr-state: (
    draft: (
      text: $white,
      bg: $gray-5,
      border: transparent,
    ),

    open: (
      text: $white,
      bg: $green-5,
      border: transparent,
    ),

    merged: (
      text: $white,
      bg: $purple-5,
      border: transparent,
    ),

    closed: (
      text: $white,
      bg: $red-5,
      border: transparent,
    ),
  ),

  topic-tag: (
    text: $blue-5,
    bg: $blue-0,
    hover-bg: darken($blue-0, 4%),
    active-bg: darken($blue-0, 2%),
  ),

  merge-box: (
    success-icon-bg: $green-5,
    success-icon-text: $white,
    success-icon-border: transparent,
    success-indicator-bg: $green-5,
    success-indicator-border: transparent,
    merged-icon-bg: $purple-5,
    merged-icon-text: $white,
    merged-icon-border: transparent,
    merged-box-border: $purple-5,
    neutral-icon-bg: $gray-5,
    neutral-icon-text: $white,
    neutral-icon-border: transparent,
    neutral-indicator-bg: $gray-5,
    neutral-indicator-border: transparent,
    warning-icon-bg: $yellow-7,
    warning-icon-text: $white,
    warning-icon-border: transparent,
    warning-box-border: $yellow-5,
    warning-merge-highlight: transparent,
    error-icon-bg: $red-5,
    error-icon-text: $white,
    error-icon-border: transparent,
    error-indicator-bg: $red-5,
    error-indicator-border: transparent,
  ),

  project: (
    card-bg: $white,
    header-bg: $gray-9,
    sidebar-bg: $white,
    gradient-in: $white,
    gradient-out: rgba($white, 0),
  ),

  checks: (
    bg: $gray-9,

    run-border-width: 0px,
    container-border-width: 0px,

    text-primary: $gray-0,
    text-secondary: $gray-4,
    text-link: $blue-3,

    btn-icon: $gray-3,
    btn-hover-icon: $gray-0,
    btn-hover-bg: rgba(255, 255, 255, 0.125),

    input-text: $gray-1,
    input-placeholder-text: $gray-4,
    input-focus-text: $gray-4,
    input-bg: $gray-8,
    input-shadow: none,

    dropdown-text: $gray-3,
    dropdown-bg: $gray-8,
    dropdown-border: $gray-7,
    dropdown-hover-text: $gray-0,
    dropdown-hover-bg: $gray-7,
    dropdown-btn-hover-text: $gray-0,
    dropdown-btn-hover-bg: $gray-8,

    scrollbar-thumb-bg: $gray-6,

    header-label-text: $gray-2,
    header-label-open-text: $gray-0,
    header-border: $gray-8,
    header-icon: $gray-4,

    line-text: $gray-2,
    line-num-text: rgba($gray-4, 0.75),
    line-timestamp-text: $gray-4,
    line-hover-bg: $gray-8,
    line-selected-bg: rgba($blue-4, 0.15),
    line-selected-num-text: $blue-3,
    line-dt-fm-text: $gray-9,
    line-dt-fm-bg: $yellow-5,

    gate-bg: rgba($yellow-6, 0.15),
    gate-text: $gray-2,
    gate-waiting-text: $gray-3,

    step-header-open-bg: $gray-8,
    step-error-text: $red-3,
    step-warning-text: $yellow-3,

    logline-text: $gray-4,
    logline-num-text: rgba($gray-4, 0.75),
    logline-debug-text: $purple-3,
    logline-error-text: $gray-2,
    logline-error-num-text: $red-3,
    logline-error-bg: rgba($red-6, 0.15),
    logline-warning-text: $gray-2,
    logline-warning-num-text: $yellow-3,
    logline-warning-bg: rgba($yellow-6, 0.15),
    logline-command-text: $blue-3,
    logline-section-text: $green-3,

    // used in the Actions logs
    ansi: (
      black: $gray-9,
      black-bright: $gray-8,
      white: $gray-2,
      white-bright: $gray-2,
      gray: $gray-4,
      red: $red-3,
      red-bright: $red-2,
      green: $green-3,
      green-bright: $green-2,
      yellow: $yellow-3,
      yellow-bright: $yellow-2,
      blue: $blue-3,
      blue-bright: $blue-2,
      magenta: $purple-3,
      magenta-bright: $purple-2,
      cyan: #76e3ea, // custom
      cyan-bright: #b3f0ff, // custom
    ),
  ),

  intro-shelf: (
    gradient-left: $blue-0,
    gradient-right: $green-1,
    gradient-in: $white,
    gradient-out: rgba($white, 0),
  ),

  marketing-icon: (
    primary: $blue-4,
    secondary: $blue-3,
  ),

  // Syntax highlighting

  // when reading code
  prettylights: (
    syntax: (
      comment: $gray-5,
      constant: $blue-6,
      entity: $purple-5,
      storage-modifier-import: $gray-9,
      entity-tag: $green-6,
      keyword: $red-5,
      string: $blue-8,
      variable: $orange-6,
      brackethighlighter-unmatched: $red-7,
      invalid-illegal-text: $gray-0,
      invalid-illegal-bg: $red-7,
      carriage-return-text: $gray-0,
      carriage-return-bg: $red-5,
      string-regexp: $green-6,
      markup-list: $yellow-9,
      markup-heading: $blue-6,
      markup-italic: $gray-9,
      markup-bold: $gray-9,
      markup-deleted-text: $red-7,
      markup-deleted-bg: $red-0,
      markup-inserted-text: $green-6,
      markup-inserted-bg: $green-0,
      markup-changed-text: $orange-6,
      markup-changed-bg: $orange-1,
      markup-ignored-text: $gray-1,
      markup-ignored-bg: $blue-6,
      meta-diff-range: $purple-5,
      brackethighlighter-angle: $gray-6,
      sublimelinter-gutter-mark: $gray-4,
      constant-other-reference-link: $blue-8,
    ),
  ),

  // when editing code
  codemirror: (
    text: var(--color-fg-default),
    bg: var(--color-surface-default),

    gutters-bg: var(--color-surface-default),
    guttermarker-text: $white,
    guttermarker-subtle-text: $gray-3,
    linenumber-text: $gray-4,
    cursor: $gray-9,
    selection-bg: var(--color-code-selection-bg),
    activeline-bg: $gray-0,
    matchingbracket-text: $gray-9,
    lines-bg: var(--color-surface-default),

    syntax: (
      comment: $gray-5,
      constant: $blue-6,
      entity: $purple-5,
      keyword: $red-5,
      storage: $red-5,
      string: $blue-8,
      support: $blue-6,
      variable: $orange-6,
    ),
  ),

  // used for terminal-like enviroments
  ansi: (
    black: $gray-9,
    black-bright: $gray-6,
    white: $gray-5,
    white-bright: $gray-4,
    gray: $gray-5,
    red: $red-5,
    red-bright: $red-6,
    green: $green-6,
    green-bright: $green-5,
    yellow: $yellow-8,
    yellow-bright: $yellow-7,
    blue: $blue-5,
    blue-bright: $blue-4,
    magenta: $purple-5,
    magenta-bright: $purple-4,
    cyan: #1b7c83, // custom
    cyan-bright: #3192aa, // custom
  ),
);
