.ToggleSwitch button {
  background-color: var(--controlTrack-bgColor-rest);
  border-color: var(--controlTrack-borderColor-rest);
  overflow: visible;
}

.ToggleSwitch button > div:last-of-type {
  background-color: var(--controlKnob-bgColor-rest);
  border-color: var(--controlKnob-borderColor-rest);
}

/* hover */

.ToggleSwitch button > div:last-of-type:hover {
  background-color: var(--controlKnob-bgColor-rest);
}

.ToggleSwitch button:hover > div:last-of-type {
  background-color: var(--controlKnob-bgColor-rest);
}

.ToggleSwitch button:hover:not(:disabled) {
  background-image: linear-gradient(var(--controlTrack-bgColor-hover), var(--controlTrack-bgColor-hover)),
    linear-gradient(var(--controlTrack-bgColor-rest), var(--controlTrack-bgColor-rest));
}

/* active */

.ToggleSwitch button > div:last-of-type:active {
  background-color: var(--controlKnob-bgColor-rest);
}

.ToggleSwitch button:active > div:last-of-type {
  background-color: var(--controlKnob-bgColor-rest);
}

.ToggleSwitch button:active {
  background-image: linear-gradient(var(--controlTrack-bgColor-active), var(--controlTrack-bgColor-active)),
    linear-gradient(var(--controlTrack-bgColor-rest), var(--controlTrack-bgColor-rest));
}

/* disabled */

.ToggleSwitch button > div:last-of-type:disabled {
  background-color: var(--controlKnob-bgColor-disabled);
}

.ToggleSwitch button:disabled > div:last-of-type {
  background-color: var(--controlKnob-bgColor-disabled);
}

.ToggleSwitch button:disabled,
.ToggleSwitch button[aria-checked='true']:disabled {
  background-color: var(--controlTrack-bgColor-disabled);
  border-color: var(--controlTrack-borderColor-disabled);
}

/* checked */

.ToggleSwitch button[aria-checked='true'] {
  background-color: var(--control-checked-bgColor-rest);
  border-color: var(--control-checked-borderColor-rest);
}

/* checked hover */

.ToggleSwitch button[aria-checked='true']:hover:not(:disabled) {
  background-image: linear-gradient(var(--control-checked-bgColor-hover), var(--control-checked-bgColor-hover)),
    linear-gradient(var(--control-checked-bgColor-rest), var(--control-checked-bgColor-rest));
}

/* checked  active*/

.ToggleSwitch button[aria-checked='true']:active {
  background-image: linear-gradient(var(--control-checked-bgColor-active), var(--control-checked-bgColor-active)),
    linear-gradient(var(--control-checked-bgColor-rest), var(--control-checked-bgColor-rest));
}

/* SegmentedControl */

.SegmentedControl button[aria-current='true'] span.segmentedControl-content {
  background-color: var(--controlKnob-bgColor-rest);
  border-color: var(--controlKnob-borderColor-rest);
}

.SegmentedControl ul {
  background-color: var(--controlTrack-bgColor-rest);
  border-color: var(--controlTrack-borderColor-rest);
}

.SegmentedControl button[aria-current='false'] span.segmentedControl-content:hover:not(:disabled) {
  background-color: var(--controlTrack-bgColor-hover);
}

.SegmentedControl .gGsGVS:not(:last-child)::after {
  background-color: var(--borderColor-default);
}
