// EXPERIMENTAL. DO NOT USE.

@import "./migration.scss";

$export: (
  // Scales
  scale: $scale,

  // Foundations
  fg: (
    default: $gray-1,
    muted: $gray-3,
    inactive: $gray-5,
    on-emphasis: $white,
  ),
  canvas: (
    default: $gray-9,
    overlay: $gray-8,
    inset: $black,
    backdrop: rgba($black, 0.8),
    mobile: $black,
  ),
  border:(
    default: $gray-6,
    divider: $gray-7,

    // Mapping of v1 variables to v2 variables
    primary: var(--color-border-default),
    secondary: var(--color-border-divider),
    // tertiary
    overlay: var(--color-border-default),
    // inverse
    info: var(--color-accent-emphasis),
    danger: var(--color-danger-emphasis),
    success: var(--color-success-emphasis),
    warning: var(--color-warning-emphasis),
  ),

  // Roles
  neutral: (
    fg: $gray-5,
    emphasis: $gray-5,
    highlighter: rgba($gray-4, 0.4),
    muted: rgba($gray-4, 0.1),
  ),
  accent: (
    fg: $blue-3,
    emphasis: $blue-4,
    highlighter: rgba($blue-4, 0.4),
    muted: rgba($blue-4, 0.1),
  ),
  success: (
    fg: $green-2,
    emphasis: $green-4,
    highlighter: rgba($green-4, 0.4),
    muted: rgba($green-4, 0.1),
  ),
  warning: (
    fg: $yellow-2,
    emphasis: $yellow-4,
    highlighter: rgba($yellow-4, 0.4),
    muted: rgba($yellow-4, 0.1),
  ),
  severe: (
    fg: $orange-5,
    emphasis: $orange-5,
    highlighter: rgba($orange-4, 0.4),
    muted: rgba($orange-4, 0.1),
  ),
  danger: (
    fg: $red-4,
    emphasis: $red-5,
    highlighter: rgba($red-4, 0.4),
    muted: rgba($red-4, 0.1),
  ),
  done: (
    fg: $purple-5,
    emphasis: $purple-5,
    highlighter: rgba($purple-4, 0.4),
    muted: rgba($purple-4, 0.1),
  ),
  sponsors: (
    fg: $pink-5,
    emphasis: $pink-5,
    highlighter: rgba($pink-4, 0.4),
    muted: rgba($pink-4, 0.1),
  ),

  // Components

  btn: (
    text: $gray-1,
    bg: $gray-7,
    border: $gray-6,
    shadow: 0 0 transparent,
    inset-shadow: 0 0 transparent,

    hover-bg: $gray-6,
    hover-border: $gray-3,

    active-bg: darken($gray-6, 3%),
    active-border: $gray-4,

    selected-bg: $gray-8,

    focus-bg: $gray-7,
    focus-border: $gray-3,
    focus-shadow: 0 0 0 3px rgba($gray-3, 0.3),

    shadow-active: inset 0 0.15em 0.3em rgba($black, 0.15), // TODO: Deprecate? Not used in Primer CSS
    shadow-input-focus: 0 0 0 0.2em rgba($blue-5, 0.3), // TODO: Deprecate?

    /* states */

    primary: (
      text: #fff,
      bg: $green-5,
      border: $green-4,
      shadow: 0 0 transparent,
      inset-shadow: 0 0 transparent,

      hover-bg: $green-4,
      hover-border: $green-3,

      selected-bg: $green-5,
      selected-shadow: 0 0 transparent,

      disabled-text: rgba($white, 0.5),
      disabled-bg: rgba($green-5, 0.6),
      disabled-border: transparent,

      focus-bg: $green-5,
      focus-border: $green-3,
      focus-shadow: 0 0 0 3px rgba(#2ea44f, 0.4),

      icon: $white,
      counter-bg: rgba($white, 0.2),
    ),

    outline: (
      text: $blue-3,

      hover-text: $blue-3,
      hover-bg: $gray-6,
      hover-border: $blue-3,
      hover-shadow: 0 1px 0 rgba($black, 0.1),
      hover-inset-shadow: inset 0 1px 0 rgba($white, 0.03),
      hover-counter-bg: rgba($white, 0.2),

      selected-text: $white,
      selected-bg: $blue-7,
      selected-border: rgba($white, 0.1),
      selected-shadow: 0 0 transparent,

      disabled-text: rgba($blue-3, 0.5),
      disabled-bg: $gray-9,
      disabled-counter-bg: rgba($blue-5, 0.05),

      focus-border: $blue-3,
      focus-shadow: 0 0 0 3px rgba($blue-6, 0.4),

      counter-bg: rgba($blue-5, 0.1),
    ),

    danger: (
      text: $red-4,

      hover-text: #fff,
      hover-bg: $red-5,
      hover-border: $red-4,
      hover-shadow: 0 0 transparent,
      hover-inset-shadow: 0 0 transparent,
      hover-counter-bg: rgba(#fff, 0.2),

      selected-text: #fff,
      selected-bg: $red-6,
      selected-border: rgba($white, 0.1),
      selected-shadow: 0 0 transparent,

      disabled-text: rgba($red-4, 0.5),
      disabled-bg: $gray-9,
      disabled-counter-bg: rgba($red-5, 0.05),

      focus-border: $red-4,
      focus-shadow: 0 0 0 3px rgba($red-6, 0.4),

      counter-bg: rgba($red-5, 0.1),

      icon: $red-4,
      hover-icon: $white,
    ),

    counter-bg: $gray-6,
  ),

  // App

  intro-shelf: (
    gradient-out: rgba($gray-9, 0),

    // Mapping of v1 variables to v2 variables
    gradient-left: var(--color-accent-muted),
    gradient-right: var(--color-success-muted),
    gradient-in: var(--color-canvas-default),
  ),

  // TODO: Move to dotcom
  marketing-icon: (
    primary: $blue-2,
    secondary: $blue-5,
  ),

  prettylights: (
    // TODO: Move to dotcom?
    syntax: (
      comment: $gray-3,
      constant: $blue-2,
      entity: $purple-2,
      storage-modifier-import: $gray-1,
      entity-tag: $green-1,
      keyword: $red-3,
      string: $blue-1,
      variable: $orange-2,
      brackethighlighter-unmatched: $red-4,
      invalid-illegal-text: $gray-0,
      invalid-illegal-bg: $red-7,
      carriage-return-text: $gray-0,
      carriage-return-bg: $red-6,
      string-regexp: $green-1,
      markup-list: $yellow-1,
      markup-heading: $blue-5,
      markup-italic: $gray-1,
      markup-bold: $gray-1,
      markup-deleted-text: $red-0,
      markup-deleted-bg: $red-8,
      markup-inserted-text: $green-0,
      markup-inserted-bg: $green-8,
      markup-changed-text: $orange-0,
      markup-changed-bg: $orange-8,
      markup-ignored-text: $gray-1,
      markup-ignored-bg: $blue-6,
      meta-diff-range: $purple-2,
      brackethighlighter-angle: $gray-3,
      sublimelinter-gutter-mark: $gray-5,
      constant-other-reference-link: $blue-1,
    ),
  ),

  codemirror: (
    // TODO: Move to dotcom?
    syntax: (
      comment: $gray-3,
      constant: $blue-2,
      entity: $purple-2,
      keyword: $red-3,
      storage: $red-3,
      string: $blue-1,
      support: $blue-2,
      variable: $orange-2,
    ),

    // Mapping of v1 variables to v2 variables
    text: var(--color-fg-default),
    bg: var(--color-canvas-default),
    gutters-bg: var(--color-canvas-default),
    guttermarker-text: var(--color-canvas-default),
    guttermarker-subtle-text: var(--color-fg-inactive),
    linenumber-text: var(--color-fg-muted),
    cursor: var(--color-fg-default),
    selection-bg: var(--color-accent-muted),
    activeline-bg: var(--color-neutral-muted),
    matchingbracket-text: var(--color-fg-default),
    lines-bg: var(--color-canvas-default),
  ),

  // TODO: Move to VS Code theme?
  ansi: (
    black: $gray-5,
    black-bright: $gray-4,
    white: $gray-2,
    white-bright: $gray-0,
    gray: $gray-4,
    red: $red-3,
    red-bright: $red-2,
    green: $green-3,
    green-bright: $green-2,
    yellow: $yellow-3,
    yellow-bright: $yellow-2,
    blue: $blue-3,
    blue-bright: $blue-2,
    magenta: $purple-3,
    magenta-bright: $purple-2,
    cyan: #39c5cf, // custom
    cyan-bright: #56d4dd, // custom
  ),

  // Mapping of v1 variables to v2 variables
  text: $text,
  icon: $icon,
  bg: $bg,
  // shadow: $shadow,
  state: $state,
  // fade: $fade,

  alert: $alert,
  blankslate: $blankslate,
  counter: $counter,
  // dropdown: $dropdown,
  label: $label,
  input: $input,
  avatar: $avatar,
  toast: $toast,
  timeline: $timeline,
  select-menu: $select-menu,
  box: $box,
  branch-name: $branch-name,
  markdown: $markdown,
  menu: $menu,
  // sidenav: $sidenav,
  // header: $header,
  filter-item: $filter-item,
  hidden-text-expander: $hidden-text-expander,
  drag-and-drop: $drag-and-drop,
  upload-enabled: $upload-enabled,
  previewable-comment-form: $previewable-comment-form,
  underlinenav: $underlinenav,
  verified-badge: $verified-badge,
  social-count: $social-count,
  tooltip: $tooltip,
  // header-search: $header-search,
  search-keyword: $search-keyword,
  diffstat: $diffstat,
  // mktg: $mktg,

  files-explorer-icon: var(--color-accent-fg),
  hl-author-bg: var(--color-accent-muted),
  hl-author-border: var(--color-accent-highlighter),
  logo-subdued: var(--color-neutral-highlighter),
  discussion-border: var(--color-success-highlighter),
  discussion-bg-success: var(--color-success-emphasis),
  // actions-workflow-table-sticky-bg: rgba($white, 0.95),
  // repo-language-color-border: rgba($black, 0.1),
  code-selection-bg: var(--color-accent-highlighter),
  highlight: $highlight,
  blob: $blob,
  diff: $diff,
  diff-blob: $diff-blob,
  // global-nav: $global-nav,
  // calendar-graph: $calendar-graph,
  footer-invertocat: $footer-invertocat,
  pr-state: $pr-state,
  topic-tag: $topic-tag,
  merge-box: $merge-box,
  // project: $project,
  // checks: $checks,
);
