// EXPERIMENTAL. DO NOT USE.

@import "./migration.scss";

$export: (
  // Scales
  scale: $scale,

  // Foundations
  fg: (
    default: $gray-1,
    muted: $gray-3,
    inactive: $gray-5,
    on-emphasis: $white,
  ),
  canvas: (
    default: $gray-9,
    overlay: $gray-8,
    inset: $black,
    backdrop: rgba($black, 0.8),
    mobile: $black,
  ),
  border:(
    default: $gray-6,
    divider: $gray-7,

    // Mapping of v1 variables to v2 variables
    primary: var(--color-border-default),
    secondary: var(--color-border-divider),
    // tertiary
    overlay: var(--color-border-default),
    // inverse
    info: var(--color-accent-emphasis),
    danger: var(--color-danger-emphasis),
    success: var(--color-success-emphasis),
    warning: var(--color-warning-emphasis),
  ),

  // Roles
  neutral: (
    fg: $gray-5,
    emphasis: $gray-5,
    highlighter: rgba($gray-4, 0.4),
    muted: rgba($gray-4, 0.1),
  ),
  accent: (
    fg: $blue-3,
    emphasis: $blue-4,
    highlighter: rgba($blue-4, 0.4),
    muted: rgba($blue-4, 0.1),
  ),
  success: (
    fg: $green-2,
    emphasis: $green-4,
    highlighter: rgba($green-4, 0.4),
    muted: rgba($green-4, 0.1),
  ),
  warning: (
    fg: $yellow-2,
    emphasis: $yellow-4,
    highlighter: rgba($yellow-4, 0.4),
    muted: rgba($yellow-4, 0.1),
  ),
  severe: (
    fg: $orange-5,
    emphasis: $orange-5,
    highlighter: rgba($orange-4, 0.4),
    muted: rgba($orange-4, 0.1),
  ),
  danger: (
    fg: $red-4,
    emphasis: $red-5,
    highlighter: rgba($red-4, 0.4),
    muted: rgba($red-4, 0.1),
  ),
  done: (
    fg: $purple-5,
    emphasis: $purple-5,
    highlighter: rgba($purple-4, 0.4),
    muted: rgba($purple-4, 0.1),
  ),
  sponsors: (
    fg: $pink-5,
    emphasis: $pink-5,
    highlighter: rgba($pink-4, 0.4),
    muted: rgba($pink-4, 0.1),
  ),

  // Mapping of v1 variables to v2 variables
  text: $text,
  icon: $icon,
  bg: $bg,
  // shadow: $shadow,
  state: $state,
  // fade: $fade,

  alert: $alert,
  blankslate: $blankslate,
  btn: $btn,
  counter: $counter,
  // dropdown: $dropdown,
  label: $label,
  input: $input,
  avatar: $avatar,
  toast: $toast,
  timeline: $timeline,
  select-menu: $select-menu,
  box: $box,
  branch-name: $branch-name,
  markdown: $markdown,
  menu: $menu,
  sidenav: $sidenav,
  // header: $header,
  filter-item: $filter-item,
  hidden-text-expander: $hidden-text-expander,
  drag-and-drop: $drag-and-drop,
  upload-enabled: $upload-enabled,
  previewable-comment-form: $previewable-comment-form,
  underlinenav: $underlinenav,
  verified-badge: $verified-badge,
  social-count: $social-count,
  tooltip: $tooltip,
  // header-search: $header-search,
  search-keyword: $search-keyword,
  diffstat: $diffstat,

  files-explorer-icon: var(--color-accent-fg),
  hl-author-bg: var(--color-accent-muted),
  hl-author-border: var(--color-accent-highlighter),
  logo-subdued: var(--color-neutral-highlighter),
  discussion-border: var(--color-success-highlighter),
  discussion-bg-success: var(--color-success-emphasis),
  // actions-workflow-table-sticky-bg: rgba($white, 0.95),
  // repo-language-color-border: rgba($black, 0.1),
  code-selection-bg: var(--color-accent-highlighter),

  topic-tag: $topic-tag,
);
