// EXPERIMENTAL. DO NOT USE.

@import "./migration.scss";

$export: (
  // Scales
  scale: $scale,

  // Foundations
  fg: (
    default: $gray-1,
    muted: $gray-3,
    inactive: $gray-5,
    on-emphasis: $white,
  ),

  canvas: (
    default: $gray-9,
    overlay: $gray-8,
    inset: $black,
    backdrop: rgba($black, 0.8),
    mobile: $black,
  ),

  border:(
    default: $gray-6,
    divider: $gray-7,

    // Mapping of v1 variables to v2 variables
    primary: var(--color-border-default),
    secondary: var(--color-border-divider),
    // tertiary: $gray-4, // TODO
    overlay: var(--color-border-default),
    // inverse: $white, // TODO
    info: var(--color-accent-emphasis),
    danger: var(--color-danger-emphasis),
    success: var(--color-success-emphasis),
    warning: var(--color-warning-emphasis),
  ),

  // Roles
  neutral: (
    fg: $gray-4,
    emphasis: $gray-5,
    highlighter: rgba($gray-4, 0.4),
    muted: rgba($gray-4, 0.1),
  ),

  accent: (
    fg: $blue-4,
    emphasis: $blue-5,
    highlighter: rgba($blue-4, 0.4),
    muted: rgba($blue-4, 0.1),
  ),

  success: (
    fg: $green-4,
    emphasis: $green-5,
    highlighter: rgba($green-4, 0.4),
    muted: rgba($green-4, 0.1),
  ),

  warning: (
    fg: $yellow-4,
    emphasis: $yellow-5,
    highlighter: rgba($yellow-4, 0.4),
    muted: rgba($yellow-4, 0.1),
  ),

  severe: (
    fg: $orange-4,
    emphasis: $orange-5,
    highlighter: rgba($orange-4, 0.4),
    muted: rgba($orange-4, 0.1),
  ),

  danger: (
    fg: $red-4,
    emphasis: $red-5,
    highlighter: rgba($red-4, 0.4),
    muted: rgba($red-4, 0.1),
  ),

  done: (
    fg: $purple-4,
    emphasis: $purple-5,
    highlighter: rgba($purple-4, 0.4),
    muted: rgba($purple-4, 0.1),
  ),

  sponsors: (
    fg: $pink-4,
    emphasis: $pink-5,
    highlighter: rgba($pink-4, 0.4),
    muted: rgba($pink-4, 0.1),
  ),

  // Mapping of v1 variables to v2 variables

  text: $text,
  icon: $icon,

  bg: (
    canvas: var(--color-canvas-default),
    canvas-mobile: var(--color-canvas-mobile),
    canvas-inverse: var(--color-neutral-emphasis),
    canvas-inset: var(--color-canvas-inset),
    primary: var(--color-canvas-default),
    // secondary: $gray-9, // TODO
    // tertiary: $gray-8, // TODO
    overlay: var(--color-canvas-overlay),
    backdrop: var(--color-canvas-backdrop),
    info: var(--color-accent-muted),
    info-inverse: var(--color-accent-emphasis),
    danger: var(--color-danger-muted),
    danger-inverse: var(--color-danger-emphasis),
    success: var(--color-success-muted),
    success-inverse: var(--color-success-emphasis),
    warning: var(--color-warning-muted),
    warning-inverse: var(--color-warning-emphasis),
  ),

  // shadow: (
  //   small: 0 0 transparent,
  //   medium: 0 3px 6px $black,
  //   large: 0 8px 24px $black,
  //   extra-large: 0 12px 48px $black,

  //   highlight: 0 0 transparent, // top highlight
  //   inset: 0 0 transparent, // top inner shadow
  // ),

  state: (
    hover: (
      primary-bg: var(--color-accent-emphasis),
      primary-border: var(--color-accent-emphasis),
      primary-text: var(--color-fg-on-emphasis),
      primary-icon: var(--color-fg-on-emphasis),
      secondary-bg: var(--color-neutral-muted),
      secondary-border: var(--color-neutral-muted),
    ),

    selected: (
      primary-bg: var(--color-accent-emphasis),
      primary-border: var(--color-accent-emphasis),
      primary-text:  var(--color-fg-on-emphasis),
      primary-icon:  var(--color-fg-on-emphasis),
    ),

    focus: (
      border: var(--color-accent-emphasis),
      // shadow: 0 0 0 3px $blue-8, // TODO: blue focus ring
    ),
  ),

  // fade: (
  //   fg-10: $white-fade-10,
  //   fg-15: $white-fade-15,
  //   fg-30: $white-fade-30,
  //   fg-50: $white-fade-50,
  //   fg-70: $white-fade-70,
  //   fg-85: $white-fade-85,

  //   black-10: $black-fade-10,
  //   black-15: $black-fade-15,
  //   black-30: $black-fade-30,
  //   black-50: $black-fade-50,
  //   black-70: $black-fade-70,
  //   black-85: $black-fade-85,

  //   white-10: $white-fade-10,
  //   white-15: $white-fade-15,
  //   white-30: $white-fade-30,
  //   white-50: $white-fade-50,
  //   white-70: $white-fade-70,
  //   white-85: $white-fade-85,
  // ),

  // Components

  alert: (
    info: (
      text: var(--color-fg-default),
      icon: var(--color-accent-fg),
      bg: var(--color-accent-muted),
      border: var(--color-accent-highlighter),
    ),

    warn: (
      text: var(--color-fg-default),
      icon: var(--color-warning-fg),
      bg: var(--color-warning-muted),
      border: var(--color-warning-highlighter),
    ),

    error: (
      text: var(--color-fg-default),
      icon: var(--color-danger-fg),
      bg: var(--color-danger-muted),
      border: var(--color-danger-highlighter),
    ),

    success: (
      text: var(--color-fg-default),
      icon: var(--color-success-fg),
      bg: var(--color-success-muted),
      border: var(--color-success-highlighter),
    )
  ),

  autocomplete: (
    // shadow: 0 16px 32px $black-fade-85,
    row-border: var(--color-border-divider),
  ),

  blankslate: (
    icon: var(--color-fg-muted),
  ),

  btn: (
    text: $gray-1,
    bg: $gray-7,
    border: $gray-6,
    shadow: 0 0 transparent,
    inset-shadow: 0 0 transparent,

    hover-bg: $gray-6,
    hover-border: $gray-3,

    active-bg: darken($gray-6, 3%),
    active-border: $gray-4,

    selected-bg: $gray-8,

    focus-bg: $gray-7,
    focus-border: $gray-3,
    focus-shadow: 0 0 0 3px rgba($gray-3, 0.3),

    shadow-active: inset 0 0.15em 0.3em rgba($black, 0.15), // TODO: Deprecate? Not used in Primer CSS
    shadow-input-focus: 0 0 0 0.2em rgba($blue-5, 0.3), // TODO: Deprecate?

    /* states */

    primary: (
      text: #fff,
      bg: $green-5,
      border: $green-4,
      shadow: 0 0 transparent,
      inset-shadow: 0 0 transparent,

      hover-bg: $green-4,
      hover-border: $green-3,

      selected-bg: $green-5,
      selected-shadow: 0 0 transparent,

      disabled-text: rgba($white, 0.5),
      disabled-bg: rgba($green-5, 0.6),
      disabled-border: transparent,

      focus-bg: $green-5,
      focus-border: $green-3,
      focus-shadow: 0 0 0 3px rgba(#2ea44f, 0.4),

      icon: $white,
      counter-bg: rgba($white, 0.2),
    ),

    outline: (
      text: $blue-3,

      hover-text: $blue-3,
      hover-bg: $gray-6,
      hover-border: $blue-3,
      hover-shadow: 0 1px 0 rgba($black, 0.1),
      hover-inset-shadow: inset 0 1px 0 rgba($white, 0.03),
      hover-counter-bg: rgba($white, 0.2),

      selected-text: $white,
      selected-bg: $blue-7,
      selected-border: rgba($white, 0.1),
      selected-shadow: 0 0 transparent,

      disabled-text: rgba($blue-3, 0.5),
      disabled-bg: $gray-9,
      disabled-counter-bg: rgba($blue-5, 0.05),

      focus-border: $blue-3,
      focus-shadow: 0 0 0 3px rgba($blue-6, 0.4),

      counter-bg: rgba($blue-5, 0.1),
    ),

    danger: (
      text: $red-4,

      hover-text: #fff,
      hover-bg: $red-5,
      hover-border: $red-4,
      hover-shadow: 0 0 transparent,
      hover-inset-shadow: 0 0 transparent,
      hover-counter-bg: rgba(#fff, 0.2),

      selected-text: #fff,
      selected-bg: $red-6,
      selected-border: rgba($white, 0.1),
      selected-shadow: 0 0 transparent,

      disabled-text: rgba($red-4, 0.5),
      disabled-bg: $gray-9,
      disabled-counter-bg: rgba($red-5, 0.05),

      focus-border: $red-4,
      focus-shadow: 0 0 0 3px rgba($red-6, 0.4),

      counter-bg: rgba($red-5, 0.1),

      icon: $red-4,
      hover-icon: $white,
    ),

    counter-bg: $gray-6,
  ),

  counter: (
    text: var(--color-fg-default),
    bg: var(--color-neutral-muted),

    primary: (
      text: var(--color-fg-on-emphasis),
      bg: var(--color-neutral-emphasis),
    ),

    secondary: (
      text: var(--color-fg-muted),
      bg: var(--color-neutral-muted),
    ),
  ),

  // dropdown: (
  //   shadow: 0 16px 32px rgba($black, 0.85),
  // ),

  label: (
    border: var(--color-border-default),
    primary: (
      text: var(--color-fg-default),
      border: var(--color-neutral-emphasis),
    ),
    secondary: (
      text: var(--color-fg-muted),
      border: var(--color-border-default),
    ),
    info: (
      text: var(--color-accent-fg),
      border: var(--color-accent-emphasis),
    ),
    success: (
      text: var(--color-success-fg),
      border: var(--color-success-emphasis),
    ),
    warning: (
      text: var(--color-warning-fg),
      border: var(--color-warning-emphasis),
    ),
    danger: (
      text: var(--color-danger-fg),
      border: var(--color-danger-emphasis),
    ),
    orange: (
      text: var(--color-severe-fg),
      border: var(--color-severe-emphasis),
    ),
  ),

  input: (
    bg: var(--color-canvas-default),
    // contrast-bg: rgba($black, 0.5),
    border: var(--color-border-default),
    // shadow: 0 0 transparent,

    disabled-bg: var(--color-neutral-muted),
    disabled-border: var(--color-border-default),

    warning-border: var(--color-warning-emphasis),
    error-border: var(--color-danger-emphasis),

    tooltip: (
      success: (
        text: var(--color-fg-default),
        bg: var(--color-success-muted),
        border: var(--color-success-highlighter),
      ),

      warning: (
        text: var(--color-fg-default),
        bg: var(--color-warning-muted),
        border: var(--color-warning-highlighter),
      ),

      error: (
        text: var(--color-fg-default),
        bg: var(--color-danger-muted),
        border: var(--color-danger-highlighter),
      ),
    ),
  ),

  avatar: (
    bg: rgba($white, 0.1),
    border: rgba($white, 0.1),
    stack-fade: $gray-6,
    stack-fade-more: $gray-7,
    child-shadow: -2px -2px 0 $gray-9,
  ),

  toast: (
    text: var(--color-fg-default),
    bg: var(--color-canvas-default),
    border: var(--color-border-default),
    // shadow: var(--color-shadow-large),
    icon: var(--color-fg-on-emphasis),
    icon-bg: var(--color-accent-emphasis),
    // icon-border: $blue-4,

    success: (
      text: var(--color-fg-default),
      border: var(--color-border-default),
      icon: var(--color-fg-on-emphasis),
      icon-bg: var(--color-success-emphasis),
      // icon-border: $green-3,
    ),

    warning: (
      text: var(--color-fg-default),
      border: var(--color-border-default),
      icon: var(--color-fg-default),
      icon-bg: var(--color-warning-emphasis),
      // icon-border: $yellow-3,
    ),

    danger: (
      text: var(--color-fg-default),
      border: var(--color-border-default),
      icon: var(--color-fg-on-emphasis),
      icon-bg: var(--color-danger-emphasis),
      // icon-border: $red-4,
      ),

    loading: (
      text: var(--color-fg-default),
      border: var(--color-border-default),
      icon: var(--color-fg-on-emphasis),
      icon-bg: var(--color-neutral-emphasis),
      // icon-border: $gray-3,
    ),
  ),

  timeline: (
    text: var(--color-fg-muted),
    badge-bg: var(--color-neutral-muted),
    // badge-success-border: $green-4,
    target-badge-border: var(--color-accent-emphasis),
    target-badge-shadow: var(--color-accent-highlighter),
  ),

  select-menu: (
    border-secondary: var(--color-border-divider),
    // shadow: 0 0 18px rgba($black, 0.4),
    backdrop-bg: var(--color-canvas-backdrop),
    // backdrop-border: $gray-5,
    // tap-highlight: rgba($gray-6, 0.5),
    // tap-focus-bg: $blue-8,
  ),

  box: (
    blue-border: var(--color-accent-highlighter),
    row-yellow-bg: var(--color-warning-muted),
    row-blue-bg: var(--color-accent-muted),
    header-blue-bg: var(--color-accent-muted),
    header-blue-border: var(--color-accent-highlighter),
    border-info: var(--color-accent-highlighter),
    bg-info: var(--color-accent-muted),
    border-warning: var(--color-warning-highlighter),
    bg-warning: var(--color-warning-muted),
  ),

  branch-name: (
    text: var(--color-fg-muted),
    icon: var(--color-fg-muted),
    bg: var(--color-neutral-muted),

    link: (
      text: var(--color-accent-fg),
      icon: var(--color-accent-fg),
      bg: var(--color-accent-muted),
    ),
  ),

  markdown: (
    code-bg: var(--color-neutral-muted),
    frame-border: var(--color-border-default),
    blockquote-border: var(--color-border-default),
    table-border: var(--color-border-default),
    table-tr-border: var(--color-border-divider),
  ),

  menu: (
    heading-text: var(--color-fg-default),
    // border-active: #F78166, // coral
    // bg-active: $gray-8,
  ),

  // sidenav: (
    // selected-bg: $gray-7,
    // border-active: #F78166, // coral
  // ),

  header: (
    text: rgba($white, 0.7),
    bg: $gray-8,
    logo: $gray-0,
  ),

  filter-item: (
    bar-bg: var(--color-neutral-muted),
  ),

  hidden-text-expander: (
    bg: var(--color-neutral-highlighter),
    // bg-hover: $gray-6,
  ),

  drag-and-drop: (
    border: var(--color-border-default),
  ),

  upload-enabled: (
    border: var(--color-border-default),
    // border-focused: lighten($blue-5, 8%),
  ),

  previewable-comment-form: (
    border: var(--color-border-default),
  ),

  underlinenav: (
    // border: rgba($gray-6, 0),
    border-hover: var(--color-neutral-highlighter),
    // border-active: #F78166, // coral
    text: var(--color-fg-default),
    text-hover: var(--color-fg-default),
    text-active: var(--color-fg-default),
    icon: var(--color-fg-inactive),
    icon-hover: var(--color-fg-inactive),
    icon-active: var(--color-fg-default),
    counter-text: var(--color-fg-default),
    counter-bg: var(--color-neutral-muted),
  ),

  verified-badge: (
    text: var(--color-success-fg),
    bg: var(--color-canvas-default),
    border: var(--color-border-default),
  ),

  social-count: (
    bg: var(--color-canvas-default),
  ),

  tooltip: (
    text: var(--color-fg-on-emphasis),
    bg: var(--color-neutral-emphasis),
  ),

  header-search: (
    bg: $gray-9,
    border: $gray-7,
  ),

  search-keyword: (
    hl: var(--color-warning-muted),
  ),

  diffstat: (
    neutral-bg: var(--color-neutral-highlighter),
    neutral-border: var(--color-neutral-highlighter),
    deletion-bg: var(--color-danger-emphasis),
    deletion-border: var(--color-danger-emphasis),
    addition-bg: var(--color-success-emphasis),
    addition-border: var(--color-success-emphasis),
  ),

  // Marketing

  // TODO: Move to Primer CSS?
  // Doesn't get used for color modes (yet)
  // mktg: (
  //   success: mix($green-5, $green-4, 50%),
  //   info: mix($blue-4, $blue-5, 42%),

  //   bg-shade-gradient: (
  //     top: rgba($black, 0.065),
  //     bottom: rgba($black, 0),
  //   ),

  //   btn: (
  //     bg: (
  //       top: lighten($mktg-blue-primary, 5%),
  //       bottom: $mktg-blue-primary,
  //     ),
  //     bg-overlay: (
  //       top: lighten($mktg-blue-secondary, 5%),
  //       bottom: $mktg-blue-secondary,
  //     ),
  //     text: $white,

  //     primary: (
  //       bg: (
  //         top: lighten($mktg-green-primary, 5%),
  //         bottom: $mktg-green-primary,
  //       ),
  //       bg-overlay: (
  //         top: lighten($mktg-green-secondary, 5%),
  //         bottom: $mktg-green-secondary,
  //       ),
  //       text: $white,
  //     ),

  //     enterprise: (
  //       bg: (
  //         top: lighten($mktg-purple-primary, 5%),
  //         bottom: $mktg-purple-primary,
  //       ),
  //       bg-overlay: (
  //         top: lighten($mktg-purple-secondary, 5%),
  //         bottom: $mktg-purple-secondary,
  //       ),
  //       text: $white,
  //     ),

  //     outline: (
  //       text: $white,
  //       border: rgba($white, 0.3),

  //       hover: (
  //         text: $white,
  //         border: rgba($white, 0.5),
  //       ),

  //       focus: (
  //         border: rgba($white, 1),
  //         border-inset: rgba($white, 0.5),
  //       ),
  //     ),

  //     dark: (
  //       text: $white,
  //       border: rgba($white, 0.3),

  //       hover: (
  //         text: $white,
  //         border: rgba($white, 0.5),
  //       ),

  //       focus: (
  //         border: rgba($white, 1),
  //         border-inset: rgba($white, 0.5),
  //       ),
  //     ),
  //   ),
  // ),

  // App

  files-explorer-icon: var(--color-accent-fg),
  hl-author-bg: var(--color-accent-muted),
  hl-author-border: var(--color-accent-highlighter),
  logo-subdued: var(--color-neutral-highlighter),
  discussion-border: var(--color-success-highlighter),
  discussion-bg-success: var(--color-success-emphasis),
  // actions-workflow-table-sticky-bg: rgba($gray-9, 0.95),
  // repo-language-color-border: rgba($white, 0.2),
  code-selection-bg: var(--color-accent-highlighter),

  highlight: (
    text: var(--color-fg-default),
    bg: var(--color-warning-muted),
  ),

  blob: (
    line-highlight-bg: var(--color-warning-muted),
    line-highlight-border: var(--color-warning-highlighter),
  ),

  diff: (
    addition: (
      text: var(--color-success-fg),
      bg: var(--color-success-muted),
      border: var(--color-success-highlighter),
    ),

    deletion: (
      text: var(--color-danger-fg),
      bg: var(--color-danger-muted),
      border: var(--color-danger-highlighter),
    ),

    change: (
      text: var(--color-warning-fg),
      bg: var(--color-warning-muted),
      border: var(--color-warning-highlighter),
    ),
  ),

  diff-blob: (
    num-text: var(--color-neutral-fg),
    // num-hover-text: rgba($white, 0.6),

    addition: (
      num-text: var(--color-success-fg),
      // num-hover-text: $green-1,
      num-bg: var(--color-success-highlighter),
      line-bg: var(--color-success-muted),
      word-bg: var(--color-success-highlighter),
    ),

    deletion: (
      num-text: var(--color-danger-fg),
      // num-hover-text: $red-2,
      num-bg: var(--color-danger-highlighter),
      line-bg: var(--color-danger-muted),
      word-bg: var(--color-danger-highlighter),
    ),

    hunk: (
      text: var(--color-fg-muted),
      num-bg: var(--color-accent-highlighter),
      line-bg: var(--color-accent-muted),
    ),

    empty-block-bg: var(--color-neutral-muted), // for split diffs

    // selected-line-highlight-bg: rgba($yellow-4, 0.1),
    // selected-line-highlight-border: $yellow-4,
    // selected-line-highlight-mix-blend-mode: normal,

    expander: (
      icon: var(--color-fg-muted),
      hover-icon: var(--color-fg-on-emphasis),
      hover-bg: var(--color-accent-emphasis),
    ),

    // add line comment button -> blue [+]
    comment-button: (
      icon: var(--color-fg-on-emphasis),
      bg: var(--color-accent-emphasis),
      // gradient-bg: lighten($blue-5, 5%), // gradient top
    ),
  ),

  global-nav: (
    // TODO: Move to dotcom
    logo: $gray-0,
    bg: $gray-8,
    text: $gray-1,
    icon: $gray-1,
    input-bg: $gray-9,
    input-border: $gray-7,
    input-icon: $gray-7,
    input-placeholder: $gray-5,
  ),

  // calendar-graph: (
  //   /*bg: $white,
  //   border: $white,*/
  //   day-bg: $gray-8,
  //   day-border: rgba(27, 31, 35, 0.06),
  //   day-L1-bg: #0E4429,
  //   day-L2-bg: #006D32,
  //   day-L3-bg: #26A641,
  //   day-L4-bg: #39D353,
  //   day-L4-border: rgba(255, 255, 255, 0.05),
  //   day-L3-border: rgba(255, 255, 255, 0.05),
  //   day-L2-border: rgba(255, 255, 255, 0.05),
  //   day-L1-border: rgba(255, 255, 255, 0.05),
  // ),

  footer-invertocat: (
    octicon: var(--color-fg-inactive),
    octicon-hover: var(--color-fg-muted),
  ),

  pr-state: (
    draft: (
      text: var(--color-fg-on-emphasis),
      bg: var(--color-neutral-emphasis),
      // border: rgba($gray-3, 0.4),
    ),

    open: (
      text: var(--color-fg-on-emphasis),
      bg: var(--color-success-emphasis),
      // border: rgba($green-3, 0.4),
    ),

    merged: (
      text: var(--color-fg-on-emphasis),
      bg: var(--color-done-emphasis),
      // border: rgba($purple-3, 0.4),
    ),

    closed: (
      text: var(--color-fg-on-emphasis),
      bg: var(--color-danger-emphasis),
      // border: rgba($red-5, 0.4),
    ),
  ),

  topic-tag: (
    text: var(--color-accent-fg),
    bg: var(--color-accent-muted),
    hover-bg: var(--color-accent-highlighter),
    active-bg: var(--color-accent-muted),
  ),

  merge-box: (
    success-icon-bg: var(--color-success-emphasis),
    success-icon-text: var(--color-fg-on-emphasis),
    // success-icon-border: rgba($green-4, 0.4),
    success-indicator-bg: var(--color-success-emphasis),
    // success-indicator-border: $green-4,
    merged-icon-bg: var(--color-done-emphasis),
    merged-icon-text: var(--color-fg-on-emphasis),
    // merged-icon-border: rgba($purple-3, 0.4),
    merged-box-border: var(--color-done-emphasis),
    neutral-icon-bg: var(--color-neutral-emphasis),
    neutral-icon-text: var(--color-fg-on-emphasis),
    // neutral-icon-border: rgba($gray-1, 0.4),
    neutral-indicator-bg: var(--color-neutral-emphasis),
    // neutral-indicator-border: $gray-4,
    warning-icon-bg: var(--color-warning-emphasis),
    warning-icon-text: var(--color-fg-on-emphasis),
    // warning-icon-border: rgba($yellow-4, 0.4),
    warning-box-border: var(--color-warning-emphasis),
    // warning-merge-highlight: rgba($yellow-4, 0.1),
    error-icon-bg: var(--color-danger-emphasis),
    error-icon-text: var(--color-fg-on-emphasis),
    // error-icon-border: rgba($red-4, 0.4),
    error-indicator-bg: var(--color-danger-emphasis),
    // error-indicator-border: $red-4,
  ),

  project: (
    card-bg: $gray-8,
    header-bg: $gray-9,
    sidebar-bg: $gray-8,
    gradient-in: $gray-8,
    // gradient-out: rgba($gray-8, 0),
  ),

  // checks: (
  //   // TODO: Move to dotcom?
  //   bg: var(--color-bg-canvas-inset),

  //   run-border-width: 1px,
  //   container-border-width: 1px,

  //   text-primary: var(--color-text-primary),
  //   text-secondary: var(--color-text-secondary),
  //   text-link: var(--color-text-link),

  //   btn-icon: var(--color-icon-secondary),
  //   btn-hover-icon: var(--color-text-primary),
  //   btn-hover-bg: var(--color-btn-hover-bg),

  //   input-text: var(--color-text-secondary),
  //   input-placeholder-text: var(--color-text-placeholder),
  //   input-focus-text: var(--color-text-primary),
  //   input-bg: var(--color-input-bg),
  //   input-shadow: 0 0 0 1px $gray-7, // var(--color-input-border)

  //   dropdown-text: var(--color-text-primary),
  //   dropdown-bg: var(--color-bg-overlay),
  //   dropdown-border: var(--color-border-overlay),
  //   dropdown-hover-text: var(--color-state-hover-primary-text),
  //   dropdown-hover-bg: var(--color-state-hover-primary-bg),
  //   dropdown-btn-hover-text: var(--color-state-hover-primary-text),
  //   dropdown-btn-hover-bg: var(--color-state-hover-secondary-bg),

  //   scrollbar-thumb-bg: $gray-6,

  //   header-label-text: var(--color-text-secondary),
  //   header-label-open-text: var(--color-text-primary),
  //   header-border: var(--color-border-secondary),
  //   header-icon: var(--color-icon-secondary),

  //   line-text: var(--color-text-secondary),
  //   line-num-text: var(--color-text-tertiary),
  //   line-timestamp-text: var(--color-text-tertiary),
  //   line-hover-bg: var(--color-state-hover-secondary-bg),
  //   line-selected-bg: var(--color-bg-info),
  //   line-selected-num-text: var(--color-text-link),
  //   line-dt-fm-text: var(--color-text-inverse),
  //   line-dt-fm-bg: $yellow-3,

  //   gate-bg: rgba($yellow-6, 0.15),
  //   gate-text: var(--color-text-secondary),
  //   gate-waiting-text: var(--color-text-warning),

  //   step-header-open-bg: var(--color-state-hover-secondary-bg),
  //   step-error-text: var(--color-text-danger),
  //   step-warning-text: var(--color-text-warning),

  //   logline-text: $gray-4,
  //   logline-num-text: var(--color-text-tertiary),
  //   logline-debug-text: $purple-3,
  //   logline-error-text: var(--color-text-secondary),
  //   logline-error-num-text: var(--color-text-tertiary),
  //   logline-error-bg: var(--color-bg-danger),
  //   logline-warning-text: var(--color-text-secondary),
  //   logline-warning-num-text: var(--color-text-warning),
  //   logline-warning-bg: var(--color-bg-warning),
  //   logline-command-text: $blue-3,
  //   logline-section-text: var(--color-text-success),

  //   // used in the Actions logs
  //   ansi: (
  //     black: $gray-9,
  //     black-bright: $gray-8,
  //     white: $gray-2,
  //     white-bright: $gray-2,
  //     gray: $gray-4,
  //     red: $red-3,
  //     red-bright: $red-2,
  //     green: $green-3,
  //     green-bright: $green-2,
  //     yellow: $yellow-3,
  //     yellow-bright: $yellow-2,
  //     blue: $blue-3,
  //     blue-bright: $blue-2,
  //     magenta: $purple-3,
  //     magenta-bright: $purple-2,
  //     cyan: #76e3ea, // custom
  //     cyan-bright: #b3f0ff, // custom
  //   ),
  // ),

  intro-shelf: (
    gradient-left: var(--color-accent-muted),
    gradient-right: var(--color-success-muted),
    gradient-in: var(--color-canvas-default),
    // gradient-out: rgba($gray-9, 0),
  ),

  marketing-icon: (
    primary: $blue-2,
    secondary: $blue-5,
  ),

  // TODO: Move to dotcom?
  prettylights: (
    syntax: (
      comment: $gray-3,
      constant: $blue-2,
      entity: $purple-2,
      storage-modifier-import: $gray-1,
      entity-tag: $green-1,
      keyword: $red-3,
      string: $blue-1,
      variable: $orange-2,
      brackethighlighter-unmatched: $red-4,
      invalid-illegal-text: $gray-0,
      invalid-illegal-bg: $red-7,
      carriage-return-text: $gray-0,
      carriage-return-bg: $red-6,
      string-regexp: $green-1,
      markup-list: $yellow-1,
      markup-heading: $blue-5,
      markup-italic: $gray-1,
      markup-bold: $gray-1,
      markup-deleted-text: $red-0,
      markup-deleted-bg: $red-8,
      markup-inserted-text: $green-0,
      markup-inserted-bg: $green-8,
      markup-changed-text: $orange-0,
      markup-changed-bg: $orange-8,
      markup-ignored-text: $gray-1,
      markup-ignored-bg: $blue-6,
      meta-diff-range: $purple-2,
      brackethighlighter-angle: $gray-3,
      sublimelinter-gutter-mark: $gray-5,
      constant-other-reference-link: $blue-1,
    ),
  ),

  // TODO: Move to dotcom?
  codemirror: (
    text: var(--color-fg-default),
    bg: var(--color-canvas-default),
    gutters-bg: var(--color-canvas-default),
    guttermarker-text: var(--color-canvas-default),
    guttermarker-subtle-text: var(--color-fg-inactive),
    linenumber-text: var(--color-fg-muted),
    cursor: var(--color-fg-default),
    selection-bg: var(--color-accent-muted),
    activeline-bg: var(--color-neutral-muted),
    matchingbracket-text: var(--color-fg-default),
    lines-bg: var(--color-canvas-default),

    syntax: (
      comment: $gray-3,
      constant: $blue-2,
      entity: $purple-2,
      keyword: $red-3,
      storage: $red-3,
      string: $blue-1,
      support: $blue-2,
      variable: $orange-2,
    ),
  ),

  // TODO: Move to VS Code theme?
  ansi: (
    black: $gray-5,
    black-bright: $gray-4,
    white: $gray-2,
    white-bright: $gray-0,
    gray: $gray-4,
    red: $red-3,
    red-bright: $red-2,
    green: $green-3,
    green-bright: $green-2,
    yellow: $yellow-3,
    yellow-bright: $yellow-2,
    blue: $blue-3,
    blue-bright: $blue-2,
    magenta: $purple-3,
    magenta-bright: $purple-2,
    cyan: #39c5cf, // custom
    cyan-bright: #56d4dd, // custom
  ),
);
