// EXPERIMENTAL. DO NOT USE.

@import "./migration.scss";

$export: (
  // Scales
  scale: $scale,

  // Foundations
  fg: (
    default: $gray-9,
    muted: $gray-6,
    inactive: $gray-5,
    on-emphasis: $white,
  ),
  canvas: (
    default: $white,
    overlay: $white,
    inset: $gray-1,
    backdrop: rgba($black, 0.5),
    mobile: $white,
  ),
  border: (
    default: $gray-2,
    divider: lighten($gray-2, 3%),

    // Mapping of v1 variables to v2 variables
    primary: var(--color-border-default),
    secondary: var(--color-border-divider),
    // tertiary
    overlay: var(--color-border-default),
    // inverse
    info: var(--color-accent-emphasis),
    danger: var(--color-danger-emphasis),
    success: var(--color-success-emphasis),
    warning: var(--color-warning-emphasis),
  ),

  // Roles
  neutral: (
    fg: $gray-5,
    emphasis: $gray-5,
    highlighter: $gray-3,
    muted: $gray-1,
  ),
  accent: (
    fg: $blue-5,
    emphasis: $blue-5,
    highlighter: $blue-2,
    muted: $blue-0,
  ),
  success: (
    fg: $green-6,
    emphasis: $green-5,
    highlighter: $green-3,
    muted: $green-1,
  ),
  warning: (
    fg: $yellow-8,
    emphasis: $yellow-5,
    highlighter: $yellow-3,
    muted: $yellow-2,
  ),
  severe: (
    fg: $orange-5,
    emphasis: $orange-5,
    highlighter: $orange-3,
    muted: $orange-1,
  ),
  danger: (
    fg: $red-6,
    emphasis: $red-5,
    highlighter: $red-2,
    muted: $red-0,
  ),
  done: (
    fg: $purple-5,
    emphasis: $purple-5,
    highlighter: $purple-2,
    muted: $purple-0,
  ),
  sponsors: (
    fg: $pink-5,
    emphasis: $pink-5,
    highlighter: $pink-2,
    muted: $pink-0,
  ),

  // Components

  btn: (
    text: $gray-9,
    bg: $gray-0,
    border: rgba($black, 0.15),
    shadow: 0 1px 0 rgba($black, 0.04),
    inset-shadow: inset 0 1px 0 rgba($white, 0.25), // top highlight

    hover-bg: #f3f4f6,
    hover-border: rgba($black, 0.15),

    active-bg: darken(#f3f4f6, 3%),
    active-border: rgba($black, 0.1),

    selected-bg: darken(#f3f4f6, 2%),

    focus-bg: $gray-0,
    focus-border: rgba($black, 0.15),
    focus-shadow: 0 0 0 3px rgba($blue-5, 0.3),

    shadow-active: inset 0 0.15em 0.3em rgba($black, 0.15), // TODO: Deprecate? Not used in Primer CSS
    shadow-input-focus: 0 0 0 0.2em rgba($blue-5, 0.3), // TODO: Deprecate?

    /* states */

    primary: (
      text: $white,
      bg: #2ea44f,
      border: rgba($black, 0.15),
      shadow: 0 1px 0 rgba($black, 0.1),
      inset-shadow: inset 0 1px 0 rgba($white, 0.03),

      hover-bg: #2c974b,
      hover-border: rgba($black, 0.15),

      selected-bg: darken(#2c974b, 2%),
      selected-shadow: inset 0 1px 0 rgba($green-9, 0.2),

      disabled-text: rgba($white, 0.8),
      disabled-bg: #94d3a2,
      disabled-border: rgba($black, 0.1),

      focus-bg: #2ea44f,
      focus-border: rgba($black, 0.15),
      focus-shadow: 0 0 0 3px rgba(#2ea44f, 0.4),

      icon: rgba($white, 0.8),
      counter-bg: rgba($white, 0.2),
    ),

    outline: (
      text: $blue-5,

      hover-text: $white,
      hover-bg: $blue-5,
      hover-border: rgba($black, 0.15),
      hover-shadow: 0 1px 0 rgba($black, 0.1),
      hover-inset-shadow: inset 0 1px 0 rgba($white, 0.03),
      hover-counter-bg: rgba($white, 0.2),

      selected-text: $white,
      selected-bg: darken($blue-5, 3%),
      selected-border: rgba($black, 0.15),
      selected-shadow: inset 0 1px 0 rgba($blue-9, 0.2),

      disabled-text: rgba($blue-5, 0.5),
      disabled-bg: $gray-0,
      disabled-counter-bg: rgba($blue-5, 0.05),

      focus-border: rgba($black, 0.15),
      focus-shadow: 0 0 0 3px rgba($blue-6, 0.4),

      counter-bg: rgba($blue-5, 0.1),
    ),

    danger: (
      text: $red-5,

      hover-text: $white,
      hover-bg: $red-6,
      hover-border: rgba($black, 0.15),
      hover-shadow: 0 1px 0 rgba($black, 0.1),
      hover-inset-shadow: inset 0 1px 0 rgba($white, 0.03),
      hover-counter-bg: rgba($white, 0.2),

      selected-text: $white,
      selected-bg: darken($red-5, 3%),
      selected-border: rgba($black, 0.15),
      selected-shadow: inset 0 1px 0 rgba($red-9, 0.2),

      disabled-text: rgba($red-5, 0.5),
      disabled-bg: $gray-0,
      disabled-counter-bg: rgba($red-5, 0.05),

      focus-border: rgba($black, 0.15),
      focus-shadow: 0 0 0 3px rgba($red-6, 0.4),

      counter-bg: rgba($red-5, 0.1),

      icon: $red-5,
      hover-icon: $white,
    ),

    counter-bg: rgba($black, 0.08), // Darken for just a tad more contrast against the button background
  ),

  // dropdown: (
  //   shadow: 0 8px 24px rgba($gray-4, 0.2),
  // ),

  input: (
    // contrast-bg: $gray-0,
    // shadow: inset 0 1px 2px rgba($black, 0.075),

    // Mapping of v1 variables to v2 variables
    bg: var(--color-canvas-default),
    border: var(--color-border-default),
    disabled-bg: var(--color-neutral-muted),
    disabled-border: var(--color-border-default),
    warning-border: var(--color-warning-emphasis),
    error-border: var(--color-danger-emphasis),

    tooltip: (
      success: (
        text: var(--color-fg-default),
        bg: var(--color-success-muted),
        border: var(--color-success-highlighter),
      ),

      warning: (
        text: var(--color-fg-default),
        bg: var(--color-warning-muted),
        border: var(--color-warning-highlighter),
      ),

      error: (
        text: var(--color-fg-default),
        bg: var(--color-danger-muted),
        border: var(--color-danger-highlighter),
      ),
    ),
  ),

  avatar: (
    bg: $white,
    border: transparent,
    stack-fade: $gray-3,
    stack-fade-more: $gray-2,
    child-shadow: -2px -2px 0 rgba($white, 0.8),
  ),

  toast: (
    // icon-border: transparent,
    // shadow: var(--color-shadow-large),

    // Mapping of v1 variables to v2 variables
    text: var(--color-fg-default),
    bg: var(--color-canvas-default),
    border: var(--color-border-default),
    icon: var(--color-fg-on-emphasis),
    icon-bg: var(--color-accent-emphasis),

    success: (
      // icon-border: transparent,

      // Mapping of v1 variables to v2 variables
      text: var(--color-fg-default),
      border: var(--color-border-default),
      icon: var(--color-fg-on-emphasis),
      icon-bg: var(--color-success-emphasis),
    ),

    warning: (
      // icon-border: transparent,

      // Mapping of v1 variables to v2 variables
      text: var(--color-fg-default),
      border: var(--color-border-default),
      icon: var(--color-fg-default),
      icon-bg: var(--color-warning-emphasis),
    ),

    danger: (
      // icon-border: transparent,

      // Mapping of v1 variables to v2 variables
      text: var(--color-fg-default),
      border: var(--color-border-default),
      icon: var(--color-fg-on-emphasis),
      icon-bg: var(--color-danger-emphasis),
    ),

    loading: (
      // icon-border: transparent,

      // Mapping of v1 variables to v2 variables
      text: var(--color-fg-default),
      border: var(--color-border-default),
      icon: var(--color-fg-on-emphasis),
      icon-bg: var(--color-neutral-emphasis),
    ),
  ),

  timeline: (
    // badge-success-border: transparent,

    // Mapping of v1 variables to v2 variables
    text: var(--color-fg-muted),
    badge-bg: var(--color-neutral-muted),
    target-badge-border: var(--color-accent-emphasis),
    target-badge-shadow: var(--color-accent-highlighter),
  ),

  select-menu: (
    // shadow: 0 0 18px rgba($black, 0.4),
    // backdrop-border: transparent,
    // tap-highlight: rgba($gray-3, 0.5),
    // tap-focus-bg: $blue-1,

    // Mapping of v1 variables to v2 variables
    border-secondary: var(--color-border-divider),
    backdrop-bg: var(--color-canvas-backdrop),
  ),

  menu: (
    // border-active: #f9826c, // coral
    // bg-active: transparent,

    // Mapping of v1 variables to v2 variables
    heading-text: var(--color-fg-default),
  ),

  // sidenav: (
    // selected-bg: $white,
    // border-active: #f9826c, // coral
  // ),

  header: (
    text: rgba($white, 0.7),
    bg: $gray-9,
    logo: $white,
  ),

  hidden-text-expander: (
    // bg-hover: darken($gray-3, 4%),

    // Mapping of v1 variables to v2 variables
    bg: var(--color-neutral-highlighter),
  ),

  upload-enabled: (
    // border-focused: lighten($blue-4, 8%),

    // Mapping of v1 variables to v2 variables
    border: var(--color-border-default),
  ),

  underlinenav: (
    border: transparent,
    border-active: #f9826c, // coral

    // Mapping of v1 variables to v2 variables
    border-hover: var(--color-neutral-highlighter),
    text: var(--color-fg-default),
    text-hover: var(--color-fg-default),
    text-active: var(--color-fg-default),
    icon: var(--color-fg-inactive),
    icon-hover: var(--color-fg-inactive),
    icon-active: var(--color-fg-default),
    counter-text: var(--color-fg-default),
    counter-bg: var(--color-neutral-muted),
  ),

  header-search: (
    bg: $gray-9,
    border: $gray-7,
  ),

  // Marketing

  // TODO: Move to Primer CSS?
  // Doesn't get used for color modes (yet)
  // mktg: (
  //   success: mix($green-5, $green-4, 50%),
  //   info: mix($blue-4, $blue-5, 42%),

  //   bg-shade-gradient: (
  //     top: rgba($black, 0.065),
  //     bottom: rgba($black, 0),
  //   ),

  //   btn: (
  //     bg: (
  //       top: lighten($mktg-blue-primary, 5%),
  //       bottom: $mktg-blue-primary,
  //     ),
  //     bg-overlay: (
  //       top: lighten($mktg-blue-secondary, 5%),
  //       bottom: $mktg-blue-secondary,
  //     ),
  //     text: $white,

  //     primary: (
  //       bg: (
  //         top: lighten($mktg-green-primary, 5%),
  //         bottom: $mktg-green-primary,
  //       ),
  //       bg-overlay: (
  //         top: lighten($mktg-green-secondary, 5%),
  //         bottom: $mktg-green-secondary,
  //       ),
  //       text: $white,
  //     ),

  //     enterprise: (
  //       bg: (
  //         top: lighten($mktg-purple-primary, 5%),
  //         bottom: $mktg-purple-primary,
  //       ),
  //       bg-overlay: (
  //         top: lighten($mktg-purple-secondary, 5%),
  //         bottom: $mktg-purple-secondary,
  //       ),
  //       text: $white,
  //     ),

  //     outline: (
  //       text: $mktg-blue-primary,
  //       border: rgba($mktg-blue-primary, 0.3),

  //       hover: (
  //         text: $mktg-blue-secondary,
  //         border: rgba($mktg-blue-primary, 0.5),
  //       ),

  //       focus: (
  //         border: rgba($mktg-blue-primary, 1),
  //         border-inset: rgba($mktg-blue-primary, 0.5),
  //       ),
  //     ),

  //     dark: (
  //       text: $white,
  //       border: rgba($white, 0.3),

  //       hover: (
  //         text: $white,
  //         border: rgba($white, 0.5),
  //       ),

  //       focus: (
  //         border: rgba($white, 1),
  //         border-inset: rgba($white, 0.5),
  //       ),
  //     ),
  //   ),
  // ),

  // App

  // TODO: Move to dotcom?
  actions-workflow-table-sticky-bg: rgba($white, 0.95),
  repo-language-color-border: rgba($black, 0.1),

  // Mapping of v1 variables to v2 variables
  files-explorer-icon: var(--color-accent-fg),
  hl-author-bg: var(--color-accent-muted),
  hl-author-border: var(--color-accent-highlighter),
  logo-subdued: var(--color-neutral-highlighter),
  discussion-border: var(--color-success-highlighter),
  discussion-bg-success: var(--color-success-emphasis),
  code-selection-bg: var(--color-accent-highlighter),

  diff-blob: (
    // TODO: Move to dotcom?
    num-hover-text: rgba($black, 0.6),

    // Mapping of v1 variables to v2 variables
    num-text: var(--color-neutral-fg),

    addition: (
      // TODO: Move to dotcom?
      num-hover-text: rgba($black, 0.6),

      // Mapping of v1 variables to v2 variables
      num-text: var(--color-success-fg),
      num-bg: var(--color-success-highlighter),
      line-bg: var(--color-success-muted),
      word-bg: var(--color-success-highlighter),
    ),

    deletion: (
      // TODO: Move to dotcom?
      num-hover-text: rgba($black, 0.6),

      // Mapping of v1 variables to v2 variables
      num-text: var(--color-danger-fg),
      num-bg: var(--color-danger-highlighter),
      line-bg: var(--color-danger-muted),
      word-bg: var(--color-danger-highlighter),
    ),

    hunk: (
      // Mapping of v1 variables to v2 variables
      text: var(--color-fg-muted),
      num-bg: var(--color-accent-highlighter),
      line-bg: var(--color-accent-muted),
    ),

    // Mapping of v1 variables to v2 variables
    empty-block-bg: var(--color-neutral-muted), // for split diffs

    // TODO: Move to dotcom?
    selected-line-highlight-bg: rgba($yellow-4, 0.2),
    selected-line-highlight-border: $yellow-5,
    selected-line-highlight-mix-blend-mode: multiply,

    expander: (
      // Mapping of v1 variables to v2 variables
      icon: var(--color-fg-muted),
      hover-icon: var(--color-fg-on-emphasis),
      hover-bg: var(--color-accent-emphasis),
    ),

    // add line comment button -> blue [+]
    comment-button: (
      // TODO: Move to dotcom?
      gradient-bg: lighten($blue-5, 5%), // gradient top

      // Mapping of v1 variables to v2 variables
      icon: var(--color-fg-on-emphasis),
      bg: var(--color-accent-emphasis),
    ),
  ),

  global-nav: (
    // TODO: Move to dotcom
    logo: $white,
    bg: $gray-9,
    text: $white,
    icon: $white,
    input-bg: $gray-0,
    input-border: $gray-0,
    input-icon: $gray-3,
    input-placeholder: $gray-4,
  ),

  calendar-graph: (
    // TODO: Move to dotcom?
    /*bg: $white,
    border: $white,*/
    day-bg: #EBEDF0,
    day-border: rgba(27, 31, 35, 0.06),
    day-L1-bg: #9BE9A8,
    day-L2-bg: #40C463,
    day-L3-bg: #30A14E,
    day-L4-bg: #216E39,
    day-L4-border: rgba(27, 31, 35, 0.06),
    day-L3-border: rgba(27, 31, 35, 0.06),
    day-L2-border: rgba(27, 31, 35, 0.06),
    day-L1-border: rgba(27, 31, 35, 0.06),
  ),

  pr-state: (
    draft: (
      // TODO: Move to dotcom?
      border: transparent,

      // Mapping of v1 variables to v2 variables
      text: var(--color-fg-on-emphasis),
      bg: var(--color-neutral-emphasis),
    ),

    open: (
      // TODO: Move to dotcom?
      border: transparent,

      // Mapping of v1 variables to v2 variables
      text: var(--color-fg-on-emphasis),
      bg: var(--color-success-emphasis),
    ),

    merged: (
      // TODO: Move to dotcom?
      border: transparent,

      // Mapping of v1 variables to v2 variables
      text: var(--color-fg-on-emphasis),
      bg: var(--color-done-emphasis),
    ),

    closed: (
      // TODO: Move to dotcom?
      border: transparent,

      // Mapping of v1 variables to v2 variables
      text: var(--color-fg-on-emphasis),
      bg: var(--color-danger-emphasis),
    ),
  ),

  merge-box: (
    // TODO: Move to dotcom?
    success-icon-border: transparent,
    success-indicator-border: transparent,
    merged-icon-border: transparent,
    neutral-icon-border: transparent,
    neutral-indicator-border: transparent,
    warning-icon-border: transparent,
    warning-merge-highlight: transparent,
    error-icon-border: transparent,
    error-indicator-border: transparent,

    // Mapping of v1 variables to v2 variables
    success-icon-bg: var(--color-success-emphasis),
    success-icon-text: var(--color-fg-on-emphasis),
    success-indicator-bg: var(--color-success-emphasis),
    merged-icon-bg: var(--color-done-emphasis),
    merged-icon-text: var(--color-fg-on-emphasis),
    merged-box-border: var(--color-done-emphasis),
    neutral-icon-bg: var(--color-neutral-emphasis),
    neutral-icon-text: var(--color-fg-on-emphasis),
    neutral-indicator-bg: var(--color-neutral-emphasis),
    warning-icon-bg: var(--color-warning-emphasis),
    warning-icon-text: var(--color-fg-on-emphasis),
    warning-box-border: var(--color-warning-emphasis),
    error-icon-bg: var(--color-danger-emphasis),
    error-icon-text: var(--color-fg-on-emphasis),
    error-indicator-bg: var(--color-danger-emphasis),
  ),

  project: (
    // TODO: Move to dotcom?
    card-bg: $white,
    header-bg: $gray-9,
    sidebar-bg: $white,
    gradient-in: $white,
    gradient-out: rgba($white, 0),
  ),

  checks: (
    // TODO: Move to dotcom?
    bg: $gray-9,

    run-border-width: 0px,
    container-border-width: 0px,

    text-primary: $gray-0,
    text-secondary: $gray-4,
    text-link: $blue-3,

    btn-icon: $gray-3,
    btn-hover-icon: $gray-0,
    btn-hover-bg: rgba(255, 255, 255, 0.125),

    input-text: $gray-1,
    input-placeholder-text: $gray-4,
    input-focus-text: $gray-4,
    input-bg: $gray-8,
    input-shadow: none,

    dropdown-text: $gray-3,
    dropdown-bg: $gray-8,
    dropdown-border: $gray-7,
    dropdown-hover-text: $gray-0,
    dropdown-hover-bg: $gray-7,
    dropdown-btn-hover-text: $gray-0,
    dropdown-btn-hover-bg: $gray-8,

    scrollbar-thumb-bg: $gray-6,

    header-label-text: $gray-2,
    header-label-open-text: $gray-0,
    header-border: $gray-8,
    header-icon: $gray-4,

    line-text: $gray-2,
    line-num-text: rgba($gray-4, 0.75),
    line-timestamp-text: $gray-4,
    line-hover-bg: $gray-8,
    line-selected-bg: rgba($blue-4, 0.15),
    line-selected-num-text: $blue-3,
    line-dt-fm-text: $gray-9,
    line-dt-fm-bg: $yellow-5,

    gate-bg: rgba($yellow-6, 0.15),
    gate-text: $gray-2,
    gate-waiting-text: $gray-3,

    step-header-open-bg: $gray-8,
    step-error-text: $red-3,
    step-warning-text: $yellow-3,

    logline-text: $gray-4,
    logline-num-text: rgba($gray-4, 0.75),
    logline-debug-text: $purple-3,
    logline-error-text: $gray-2,
    logline-error-num-text: $red-3,
    logline-error-bg: rgba($red-6, 0.15),
    logline-warning-text: $gray-2,
    logline-warning-num-text: $yellow-3,
    logline-warning-bg: rgba($yellow-6, 0.15),
    logline-command-text: $blue-3,
    logline-section-text: $green-3,

    // used in the Actions logs
    ansi: (
      black: $gray-9,
      black-bright: $gray-8,
      white: $gray-2,
      white-bright: $gray-2,
      gray: $gray-4,
      red: $red-3,
      red-bright: $red-2,
      green: $green-3,
      green-bright: $green-2,
      yellow: $yellow-3,
      yellow-bright: $yellow-2,
      blue: $blue-3,
      blue-bright: $blue-2,
      magenta: $purple-3,
      magenta-bright: $purple-2,
      cyan: #76e3ea, // custom
      cyan-bright: #b3f0ff, // custom
    ),
  ),

  intro-shelf: (
    gradient-out: rgba($white, 0),

    // Mapping of v1 variables to v2 variables
    gradient-left: var(--color-accent-muted),
    gradient-right: var(--color-success-muted),
    gradient-in: var(--color-canvas-default),
  ),

  // TODO: Move to dotcom
  marketing-icon: (
    primary: $blue-4,
    secondary: $blue-3,
  ),

  prettylights: (
    // TODO: Move to dotcom?
    syntax: (
      comment: $gray-5,
      constant: $blue-6,
      entity: $purple-5,
      storage-modifier-import: $gray-9,
      entity-tag: $green-6,
      keyword: $red-5,
      string: $blue-8,
      variable: $orange-6,
      brackethighlighter-unmatched: $red-7,
      invalid-illegal-text: $gray-0,
      invalid-illegal-bg: $red-7,
      carriage-return-text: $gray-0,
      carriage-return-bg: $red-5,
      string-regexp: $green-6,
      markup-list: $yellow-9,
      markup-heading: $blue-6,
      markup-italic: $gray-9,
      markup-bold: $gray-9,
      markup-deleted-text: $red-7,
      markup-deleted-bg: $red-0,
      markup-inserted-text: $green-6,
      markup-inserted-bg: $green-0,
      markup-changed-text: $orange-6,
      markup-changed-bg: $orange-1,
      markup-ignored-text: $gray-1,
      markup-ignored-bg: $blue-6,
      meta-diff-range: $purple-5,
      brackethighlighter-angle: $gray-6,
      sublimelinter-gutter-mark: $gray-4,
      constant-other-reference-link: $blue-8,
    ),
  ),

  codemirror: (
    // TODO: Move to dotcom?
    syntax: (
      comment: $gray-5,
      constant: $blue-6,
      entity: $purple-5,
      keyword: $red-5,
      storage: $red-5,
      string: $blue-8,
      support: $blue-6,
      variable: $orange-6,
    ),

    // Mapping of v1 variables to v2 variables
    text: var(--color-fg-default),
    bg: var(--color-canvas-default),
    gutters-bg: var(--color-canvas-default),
    guttermarker-text: var(--color-canvas-default),
    guttermarker-subtle-text: var(--color-fg-inactive),
    linenumber-text: var(--color-fg-muted),
    cursor: var(--color-fg-default),
    selection-bg: var(--color-accent-muted),
    activeline-bg: var(--color-neutral-muted),
    matchingbracket-text: var(--color-fg-default),
    lines-bg: var(--color-canvas-default),
  ),

  // TODO: Move to VS Code theme?
  ansi: (
    black: $gray-9,
    black-bright: $gray-6,
    white: $gray-5,
    white-bright: $gray-4,
    gray: $gray-5,
    red: $red-5,
    red-bright: $red-6,
    green: $green-6,
    green-bright: $green-5,
    yellow: $yellow-8,
    yellow-bright: $yellow-7,
    blue: $blue-5,
    blue-bright: $blue-4,
    magenta: $purple-5,
    magenta-bright: $purple-4,
    cyan: #1b7c83, // custom
    cyan-bright: #3192aa, // custom
  ),

  // Mapping of v1 variables to v2 variables
  text: $text,
  icon: $icon,
  bg: $bg,
  // shadow: $shadow,
  state: $state,
  // fade: $fade,

  alert: $alert,
  blankslate: $blankslate,
  counter: $counter,
  label: $label,
  box: $box,
  branch-name: $branch-name,
  markdown: $markdown,
  filter-item: $filter-item,
  drag-and-drop: $drag-and-drop,
  previewable-comment-form: $previewable-comment-form,
  verified-badge: $verified-badge,
  social-count: $social-count,
  tooltip: $tooltip,
  search-keyword: $search-keyword,
  diffstat: $diffstat,

  highlight: $highlight,
  blob: $blob,
  diff: $diff,
  footer-invertocat: $footer-invertocat,
  topic-tag: $topic-tag,
);
