// EXPERIMENTAL. DO NOT USE.

@import "./migration.scss";

$export: (
  // Scales
  scale: $scale,

  // Foundations
  fg: (
    default: $gray-9,
    muted: $gray-6,
    inactive: $gray-5,
    on-emphasis: $white,
  ),
  canvas: (
    default: $white,
    overlay: $white,
    inset: $gray-1,
    backdrop: rgba($black, 0.5),
    mobile: $white,
  ),
  border: (
    default: $gray-2,
    divider: lighten($gray-2, 3%),

    // Mapping of v1 variables to v2 variables
    primary: var(--color-border-default),
    secondary: var(--color-border-divider),
    // tertiary
    overlay: var(--color-border-default),
    // inverse
    info: var(--color-accent-emphasis),
    danger: var(--color-danger-emphasis),
    success: var(--color-success-emphasis),
    warning: var(--color-warning-emphasis),
  ),

  // Roles
  neutral: (
    fg: $gray-5,
    emphasis: $gray-5,
    highlighter: $gray-3,
    muted: $gray-1,
  ),
  accent: (
    fg: $blue-5,
    emphasis: $blue-5,
    highlighter: $blue-2,
    muted: $blue-0,
  ),
  success: (
    fg: $green-6,
    emphasis: $green-5,
    highlighter: $green-3,
    muted: $green-1,
  ),
  warning: (
    fg: $yellow-8,
    emphasis: $yellow-5,
    highlighter: $yellow-3,
    muted: $yellow-2,
  ),
  severe: (
    fg: $orange-5,
    emphasis: $orange-5,
    highlighter: $orange-3,
    muted: $orange-1,
  ),
  danger: (
    fg: $red-6,
    emphasis: $red-5,
    highlighter: $red-2,
    muted: $red-0,
  ),
  done: (
    fg: $purple-5,
    emphasis: $purple-5,
    highlighter: $purple-2,
    muted: $purple-0,
  ),
  sponsors: (
    fg: $pink-5,
    emphasis: $pink-5,
    highlighter: $pink-2,
    muted: $pink-0,
  ),

  // Components

  btn: (
    text: $gray-9,
    bg: $gray-0,
    border: rgba($black, 0.15),
    shadow: 0 1px 0 rgba($black, 0.04),
    inset-shadow: inset 0 1px 0 rgba($white, 0.25), // top highlight

    hover-bg: #f3f4f6,
    hover-border: rgba($black, 0.15),

    active-bg: darken(#f3f4f6, 3%),
    active-border: rgba($black, 0.1),

    selected-bg: darken(#f3f4f6, 2%),

    focus-bg: $gray-0,
    focus-border: rgba($black, 0.15),
    focus-shadow: 0 0 0 3px rgba($blue-5, 0.3),

    shadow-active: inset 0 0.15em 0.3em rgba($black, 0.15), // TODO: Deprecate? Not used in Primer CSS
    shadow-input-focus: 0 0 0 0.2em rgba($blue-5, 0.3), // TODO: Deprecate?

    /* states */

    primary: (
      text: $white,
      bg: #2ea44f,
      border: rgba($black, 0.15),
      shadow: 0 1px 0 rgba($black, 0.1),
      inset-shadow: inset 0 1px 0 rgba($white, 0.03),

      hover-bg: #2c974b,
      hover-border: rgba($black, 0.15),

      selected-bg: darken(#2c974b, 2%),
      selected-shadow: inset 0 1px 0 rgba($green-9, 0.2),

      disabled-text: rgba($white, 0.8),
      disabled-bg: #94d3a2,
      disabled-border: rgba($black, 0.1),

      focus-bg: #2ea44f,
      focus-border: rgba($black, 0.15),
      focus-shadow: 0 0 0 3px rgba(#2ea44f, 0.4),

      icon: rgba($white, 0.8),
      counter-bg: rgba($white, 0.2),
    ),

    outline: (
      text: $blue-5,

      hover-text: $white,
      hover-bg: $blue-5,
      hover-border: rgba($black, 0.15),
      hover-shadow: 0 1px 0 rgba($black, 0.1),
      hover-inset-shadow: inset 0 1px 0 rgba($white, 0.03),
      hover-counter-bg: rgba($white, 0.2),

      selected-text: $white,
      selected-bg: darken($blue-5, 3%),
      selected-border: rgba($black, 0.15),
      selected-shadow: inset 0 1px 0 rgba($blue-9, 0.2),

      disabled-text: rgba($blue-5, 0.5),
      disabled-bg: $gray-0,
      disabled-counter-bg: rgba($blue-5, 0.05),

      focus-border: rgba($black, 0.15),
      focus-shadow: 0 0 0 3px rgba($blue-6, 0.4),

      counter-bg: rgba($blue-5, 0.1),
    ),

    danger: (
      text: $red-5,

      hover-text: $white,
      hover-bg: $red-6,
      hover-border: rgba($black, 0.15),
      hover-shadow: 0 1px 0 rgba($black, 0.1),
      hover-inset-shadow: inset 0 1px 0 rgba($white, 0.03),
      hover-counter-bg: rgba($white, 0.2),

      selected-text: $white,
      selected-bg: darken($red-5, 3%),
      selected-border: rgba($black, 0.15),
      selected-shadow: inset 0 1px 0 rgba($red-9, 0.2),

      disabled-text: rgba($red-5, 0.5),
      disabled-bg: $gray-0,
      disabled-counter-bg: rgba($red-5, 0.05),

      focus-border: rgba($black, 0.15),
      focus-shadow: 0 0 0 3px rgba($red-6, 0.4),

      counter-bg: rgba($red-5, 0.1),

      icon: $red-5,
      hover-icon: $white,
    ),

    counter-bg: rgba($black, 0.08), // Darken for just a tad more contrast against the button background
  ),

  // Mapping of v1 variables to v2 variables
  text: $text,
  icon: $icon,
  bg: $bg,
  // shadow: $shadow,
  state: $state,
  // fade: $fade,

  alert: $alert,
  blankslate: $blankslate,
  counter: $counter,
  // dropdown: $dropdown,
  label: $label,
  input: $input,
  avatar: $avatar,
  toast: $toast,
  timeline: $timeline,
  select-menu: $select-menu,
  box: $box,
  branch-name: $branch-name,
  markdown: $markdown,
  menu: $menu,
  // sidenav: $sidenav,
  // header: $header,
  filter-item: $filter-item,
  hidden-text-expander: $hidden-text-expander,
  drag-and-drop: $drag-and-drop,
  upload-enabled: $upload-enabled,
  previewable-comment-form: $previewable-comment-form,
  underlinenav: $underlinenav,
  verified-badge: $verified-badge,
  social-count: $social-count,
  tooltip: $tooltip,
  // header-search: $header-search,
  search-keyword: $search-keyword,
  diffstat: $diffstat,
  // mktg: $mktg,

  files-explorer-icon: var(--color-accent-fg),
  hl-author-bg: var(--color-accent-muted),
  hl-author-border: var(--color-accent-highlighter),
  logo-subdued: var(--color-neutral-highlighter),
  discussion-border: var(--color-success-highlighter),
  discussion-bg-success: var(--color-success-emphasis),
  // actions-workflow-table-sticky-bg: rgba($white, 0.95),
  // repo-language-color-border: rgba($black, 0.1),
  code-selection-bg: var(--color-accent-highlighter),
  highlight: $highlight,
  blob: $blob,
  diff: $diff,
  diff-blob: $diff-blob,
  // global-nav: $global-nav,
  // calendar-graph: $calendar-graph,
  footer-invertocat: $footer-invertocat,
  pr-state: $pr-state,
  topic-tag: $topic-tag,
  merge-box: $merge-box,
  // project: $project,
  // checks: $checks,
  intro-shelf: $intro-shelf,
  // marketing-icon: $marketing-icon,
  // prettylights: $prettylights,
  codemirror: $codemirror,
  // ansi: $ansi,
);
