// EXPERIMENTAL. DO NOT USE.

// Mapping of v1 variables to v2 variables

$text: (
  primary: var(--color-fg-default),
  secondary: var(--color-fg-muted),
  tertiary: var(--color-fg-inactive),
  placeholder: var(--color-fg-inactive),
  disabled: var(--color-fg-inactive),
  inverse: var(--color-fg-on-emphasis),
  link: var(--color-accent-fg),
  danger: var(--color-danger-fg),
  success: var(--color-success-fg),
  warning: var(--color-warning-fg),
  white: var(--color-fg-on-emphasis),
);

$icon: (
  primary: var(--color-fg-default),
  secondary: var(--color-fg-muted),
  tertiary: var(--color-fg-inactive),
  info: var(--color-accent-fg),
  danger: var(--color-danger-fg),
  success: var(--color-success-fg),
  warning: var(--color-warning-fg),
);
