// EXPERIMENTAL. DO NOT USE.

// Mapping of v1 variables to v2 variables

$text: (
  primary: var(--color-fg-default),
  secondary: var(--color-fg-muted),
  tertiary: var(--color-fg-inactive),
  placeholder: var(--color-fg-inactive),
  disabled: var(--color-fg-inactive),
  inverse: var(--color-fg-on-emphasis),
  link: var(--color-accent-fg),
  danger: var(--color-danger-fg),
  success: var(--color-success-fg),
  warning: var(--color-warning-fg),
  white: var(--color-fg-on-emphasis),
);

$icon: (
  primary: var(--color-fg-default),
  secondary: var(--color-fg-muted),
  tertiary: var(--color-fg-inactive),
  info: var(--color-accent-fg),
  danger: var(--color-danger-fg),
  success: var(--color-success-fg),
  warning: var(--color-warning-fg),
);

$bg: (
  canvas: var(--color-canvas-default),
  canvas-mobile: var(--color-canvas-mobile),
  canvas-inverse: var(--color-neutral-emphasis),
  canvas-inset: var(--color-canvas-inset),
  primary: var(--color-canvas-default),
  // secondary
  // tertiary
  overlay: var(--color-canvas-overlay),
  backdrop: var(--color-canvas-backdrop),
  info: var(--color-accent-muted),
  info-inverse: var(--color-accent-emphasis),
  danger: var(--color-danger-muted),
  danger-inverse: var(--color-danger-emphasis),
  success: var(--color-success-muted),
  success-inverse: var(--color-success-emphasis),
  warning: var(--color-warning-muted),
  warning-inverse: var(--color-warning-emphasis),
);

// $shadow: (
//   small: 0 1px 0 rgba($black, 0.04),
//   medium: 0 3px 6px rgba($gray-4, 0.15),
//   large: 0 8px 24px rgba($gray-4, 0.2),
//   extra-large: 0 12px 48px rgba($gray-4, 0.3),
//   highlight: inset 0 1px 0 rgba($white, 0.25), // top highlight
//   inset: inset 0 1px 0 rgba($gray-2, 0.2), // top inner shadow
// );

$state: (
  hover: (
    primary-bg: var(--color-accent-emphasis),
    primary-border: var(--color-accent-emphasis),
    primary-text: var(--color-fg-on-emphasis),
    primary-icon: var(--color-fg-on-emphasis),
    secondary-bg: var(--color-neutral-muted),
    secondary-border: var(--color-neutral-muted),
  ),

  selected: (
    primary-bg: var(--color-accent-emphasis),
    primary-border: var(--color-accent-emphasis),
    primary-text:  var(--color-fg-on-emphasis),
    primary-icon:  var(--color-fg-on-emphasis),
  ),

  focus: (
    border: var(--color-accent-emphasis),
    // shadow
  ),
);

// $fade: (
//   fg-10: $black-fade-10,
//   fg-15: $black-fade-15,
//   fg-30: $black-fade-30,
//   fg-50: $black-fade-50,
//   fg-70: $black-fade-70,
//   fg-85: $black-fade-85,

//   black-10: $black-fade-10,
//   black-15: $black-fade-15,
//   black-30: $black-fade-30,
//   black-50: $black-fade-50,
//   black-70: $black-fade-70,
//   black-85: $black-fade-85,

//   white-10: $white-fade-10,
//   white-15: $white-fade-15,
//   white-30: $white-fade-30,
//   white-50: $white-fade-50,
//   white-70: $white-fade-70,
//   white-85: $white-fade-85,
// );

// Components

$alert: (
  info: (
    text: var(--color-fg-default),
    icon: var(--color-accent-fg),
    bg: var(--color-accent-muted),
    border: var(--color-accent-highlighter),
  ),

  warn: (
    text: var(--color-fg-default),
    icon: var(--color-warning-fg),
    bg: var(--color-warning-muted),
    border: var(--color-warning-highlighter),
  ),

  error: (
    text: var(--color-fg-default),
    icon: var(--color-danger-fg),
    bg: var(--color-danger-muted),
    border: var(--color-danger-highlighter),
  ),

  success: (
    text: var(--color-fg-default),
    icon: var(--color-success-fg),
    bg: var(--color-success-muted),
    border: var(--color-success-highlighter),
  )
);

$blankslate: (
  icon: var(--color-fg-muted),
);

$counter: (
  text: var(--color-fg-default),
  bg: var(--color-neutral-muted),

  primary: (
    text: var(--color-fg-on-emphasis),
    bg: var(--color-neutral-emphasis),
  ),

  secondary: (
    text: var(--color-fg-muted),
    bg: var(--color-neutral-muted),
  ),
);

// $dropdown: (
  // shadow: 0 8px 24px rgba($gray-4, 0.2),
// );

$label: (
  border: var(--color-border-default),
  primary: (
    text: var(--color-fg-default),
    border: var(--color-neutral-emphasis),
  ),
  secondary: (
    text: var(--color-fg-muted),
    border: var(--color-border-default),
  ),
  info: (
    text: var(--color-accent-fg),
    border: var(--color-accent-emphasis),
  ),
  success: (
    text: var(--color-success-fg),
    border: var(--color-success-emphasis),
  ),
  warning: (
    text: var(--color-warning-fg),
    border: var(--color-warning-emphasis),
  ),
  danger: (
    text: var(--color-danger-fg),
    border: var(--color-danger-emphasis),
  ),
  orange: (
    text: var(--color-severe-fg),
    border: var(--color-severe-emphasis),
  ),
);

$input: (
  bg: var(--color-canvas-default),
  // contrast-bg: $gray-0,
  border: var(--color-border-default),
  // shadow: inset 0 1px 2px rgba($black, 0.075),

  disabled-bg: var(--color-neutral-muted),
  disabled-border: var(--color-border-default),

  warning-border: var(--color-warning-emphasis),
  error-border: var(--color-danger-emphasis),

  tooltip: (
    success: (
      text: var(--color-fg-default),
      bg: var(--color-success-muted),
      border: var(--color-success-highlighter),
    ),

    warning: (
      text: var(--color-fg-default),
      bg: var(--color-warning-muted),
      border: var(--color-warning-highlighter),
    ),

    error: (
      text: var(--color-fg-default),
      bg: var(--color-danger-muted),
      border: var(--color-danger-highlighter),
    ),
  ),
);

$avatar: (
  bg: var(--color-canvas-default),
  // border: transparent,
  stack-fade: var(--color-neutral-highlighter),
  stack-fade-more: var(--color-neutral-muted),
  // child-shadow: -2px -2px 0 rgba($white, 0.8),
);

$toast: (
  text: var(--color-fg-default),
  bg: var(--color-canvas-default),
  border: var(--color-border-default),
  // shadow: var(--color-shadow-large),
  icon: var(--color-fg-on-emphasis),
  icon-bg: var(--color-accent-emphasis),
  // icon-border: transparent,

  success: (
    text: var(--color-fg-default),
    border: var(--color-border-default),
    icon: var(--color-fg-on-emphasis),
    icon-bg: var(--color-success-emphasis),
    // icon-border: transparent,
  ),

  warning: (
    text: var(--color-fg-default),
    border: var(--color-border-default),
    icon: var(--color-fg-default),
    icon-bg: var(--color-warning-emphasis),
    // icon-border: transparent,
  ),

  danger: (
    text: var(--color-fg-default),
    border: var(--color-border-default),
    icon: var(--color-fg-on-emphasis),
    icon-bg: var(--color-danger-emphasis),
    // icon-border: transparent,
  ),

  loading: (
    text: var(--color-fg-default),
    border: var(--color-border-default),
    icon: var(--color-fg-on-emphasis),
    icon-bg: var(--color-neutral-emphasis),
    // icon-border: transparent,
  ),
);

$timeline: (
  text: var(--color-fg-muted),
  badge-bg: var(--color-neutral-muted),
  // badge-success-border: transparent,
  target-badge-border: var(--color-accent-emphasis),
  target-badge-shadow: var(--color-accent-highlighter),
);

$select-menu: (
  border-secondary: var(--color-border-divider),
  // shadow: 0 0 18px rgba($black, 0.4),
  backdrop-bg: var(--color-canvas-backdrop),
  // backdrop-border: transparent,
  // tap-highlight: rgba($gray-3, 0.5),
  // tap-focus-bg: $blue-1,
);

$box: (
  blue-border: var(--color-accent-highlighter),
  row-yellow-bg: var(--color-warning-muted),
  row-blue-bg: var(--color-accent-muted),
  header-blue-bg: var(--color-accent-muted),
  header-blue-border: var(--color-accent-highlighter),
  border-info: var(--color-accent-highlighter),
  bg-info: var(--color-accent-muted),
  border-warning: var(--color-warning-highlighter),
  bg-warning: var(--color-warning-muted),
);

$branch-name: (
  text: var(--color-fg-muted),
  icon: var(--color-fg-muted),
  bg: var(--color-neutral-muted),

  link: (
    text: var(--color-accent-fg),
    icon: var(--color-accent-fg),
    bg: var(--color-accent-muted),
  ),
);

$markdown: (
  code-bg: var(--color-neutral-muted),
  frame-border: var(--color-border-default),
  blockquote-border: var(--color-border-default),
  table-border: var(--color-border-default),
  table-tr-border: var(--color-border-divider),
);

$menu: (
  heading-text: var(--color-fg-default),
  // border-active: #f9826c, // coral
  // bg-active: transparent,
);

// $sidenav: (
  // selected-bg: $white,
  // border-active: #f9826c, // coral
// );

// $header: (
//   text: $white-fade-70,
//   bg: $gray-9,
//   logo: $white,
// );

$filter-item: (
  bar-bg: var(--color-neutral-muted),
);

$hidden-text-expander: (
  bg: var(--color-neutral-highlighter),
  // bg-hover: darken($gray-3, 4%),
);

$drag-and-drop: (
  border: var(--color-border-default),
);

$upload-enabled: (
  border: var(--color-border-default),
  // border-focused: lighten($blue-4, 8%),
);

$previewable-comment-form: (
  border: var(--color-border-default),
);

$underlinenav: (
  // border: transparent,
  border-hover: var(--color-neutral-highlighter),
  // border-active: #f9826c, // coral
  text: var(--color-fg-default),
  text-hover: var(--color-fg-default),
  text-active: var(--color-fg-default),
  icon: var(--color-fg-inactive),
  icon-hover: var(--color-fg-inactive),
  icon-active: var(--color-fg-default),
  counter-text: var(--color-fg-default),
  counter-bg: var(--color-neutral-muted),
);

$verified-badge: (
  text: var(--color-success-fg),
  bg: var(--color-canvas-default),
  border: var(--color-border-default),
);

$social-count: (
  bg: var(--color-canvas-default),
);

$tooltip: (
  text: var(--color-fg-on-emphasis),
  bg: var(--color-neutral-emphasis),
);

// TODO: Move to dotcom?
// $header-search: (
//   bg: $gray-9,
//   border: $gray-7,
// );

$search-keyword: (
  hl: var(--color-warning-muted),
);

$diffstat: (
  neutral-bg: var(--color-neutral-highlighter),
  neutral-border: var(--color-neutral-highlighter),
  deletion-bg: var(--color-danger-emphasis),
  deletion-border: var(--color-danger-emphasis),
  addition-bg: var(--color-success-emphasis),
  addition-border: var(--color-success-emphasis),
);

// TODO: Move to Primer CSS?
// $mktg: (
//   success: mix($green-5, $green-4, 50%),
//   info: mix($blue-4, $blue-5, 42%),

//   bg-shade-gradient: (
//     top: rgba($black, 0.065),
//     bottom: rgba($black, 0),
//   ),

//   btn: (
//     bg: (
//       top: lighten($mktg-blue-primary, 5%),
//       bottom: $mktg-blue-primary,
//     ),
//     bg-overlay: (
//       top: lighten($mktg-blue-secondary, 5%),
//       bottom: $mktg-blue-secondary,
//     ),
//     text: $white,

//     primary: (
//       bg: (
//         top: lighten($mktg-green-primary, 5%),
//         bottom: $mktg-green-primary,
//       ),
//       bg-overlay: (
//         top: lighten($mktg-green-secondary, 5%),
//         bottom: $mktg-green-secondary,
//       ),
//       text: $white,
//     ),

//     enterprise: (
//       bg: (
//         top: lighten($mktg-purple-primary, 5%),
//         bottom: $mktg-purple-primary,
//       ),
//       bg-overlay: (
//         top: lighten($mktg-purple-secondary, 5%),
//         bottom: $mktg-purple-secondary,
//       ),
//       text: $white,
//     ),

//     outline: (
//       text: $mktg-blue-primary,
//       border: rgba($mktg-blue-primary, 0.3),

//       hover: (
//         text: $mktg-blue-secondary,
//         border: rgba($mktg-blue-primary, 0.5),
//       ),

//       focus: (
//         border: rgba($mktg-blue-primary, 1),
//         border-inset: rgba($mktg-blue-primary, 0.5),
//       ),
//     ),

//     dark: (
//       text: $white,
//       border: rgba($white, 0.3),

//       hover: (
//         text: $white,
//         border: rgba($white, 0.5),
//       ),

//       focus: (
//         border: rgba($white, 1),
//         border-inset: rgba($white, 0.5),
//       ),
//     ),
//   ),
// );

// App level

$highlight: (
  text: var(--color-fg-default),
  bg: var(--color-warning-muted),
);

$blob: (
  line-highlight-bg: var(--color-warning-muted),
  line-highlight-border: var(--color-warning-highlighter),
);

$diff: (
  addition: (
    text: var(--color-success-fg),
    bg: var(--color-success-muted),
    border: var(--color-success-highlighter),
  ),

  deletion: (
    text: var(--color-danger-fg),
    bg: var(--color-danger-muted),
    border: var(--color-danger-highlighter),
  ),

  change: (
    text: var(--color-warning-fg),
    bg: var(--color-warning-muted),
    border: var(--color-warning-highlighter),
  ),
);

$diff-blob: (
  num-text: var(--color-neutral-fg),
  // num-hover-text: rgba($black, 0.6),

  addition: (
    num-text: var(--color-success-fg),
    // num-hover-text: rgba($black, 0.6),
    num-bg: var(--color-success-highlighter),
    line-bg: var(--color-success-muted),
    word-bg: var(--color-success-highlighter),
  ),

  deletion: (
    num-text: var(--color-danger-fg),
    // num-hover-text: rgba($black, 0.6),
    num-bg: var(--color-danger-highlighter),
    line-bg: var(--color-danger-muted),
    word-bg: var(--color-danger-highlighter),
  ),

  hunk: (
    text: var(--color-fg-muted),
    num-bg: var(--color-accent-highlighter),
    line-bg: var(--color-accent-muted),
  ),

  empty-block-bg: var(--color-neutral-muted), // for split diffs

  // selected-line-highlight-bg: rgba($yellow-4, 0.2),
  // selected-line-highlight-border: $yellow-5,
  // selected-line-highlight-mix-blend-mode: multiply,

  expander: (
    icon: var(--color-fg-muted),
    hover-icon: var(--color-fg-on-emphasis),
    hover-bg: var(--color-accent-emphasis),
  ),

  // add line comment button -> blue [+]
  comment-button: (
    icon: var(--color-fg-on-emphasis),
    bg: var(--color-accent-emphasis),
    // gradient-bg: lighten($blue-5, 5%), // gradient top
  ),
);

// $global-nav: (
//   logo: $white,
//   bg: $gray-9,
//   text: $white,
//   icon: $white,
//   input-bg: $gray-0,
//   input-border: $gray-0,
//   input-icon: $gray-3,
//   input-placeholder: $gray-4,
// );

// $calendar-graph: (
//   /*bg: $white,
//   border: $white,*/
//   day-bg: #EBEDF0,
//   day-border: rgba(27, 31, 35, 0.06),
//   day-L1-bg: #9BE9A8,
//   day-L2-bg: #40C463,
//   day-L3-bg: #30A14E,
//   day-L4-bg: #216E39,
//   day-L4-border: rgba(27, 31, 35, 0.06),
//   day-L3-border: rgba(27, 31, 35, 0.06),
//   day-L2-border: rgba(27, 31, 35, 0.06),
//   day-L1-border: rgba(27, 31, 35, 0.06),
// );

$footer-invertocat: (
  octicon: var(--color-fg-inactive),
  octicon-hover: var(--color-fg-muted),
);

$pr-state: (
  draft: (
    text: var(--color-fg-on-emphasis),
    bg: var(--color-neutral-emphasis),
    // border: transparent,
  ),

  open: (
    text: var(--color-fg-on-emphasis),
    bg: var(--color-success-emphasis),
    // border: transparent,
  ),

  merged: (
    text: var(--color-fg-on-emphasis),
    bg: var(--color-done-emphasis),
    // border: transparent,
  ),

  closed: (
    text: var(--color-fg-on-emphasis),
    bg: var(--color-danger-emphasis),
    // border: transparent,
  ),
);

$topic-tag: (
  text: var(--color-accent-fg),
  bg: var(--color-accent-muted),
  hover-bg: var(--color-accent-highlighter),
  active-bg: var(--color-accent-muted),
);

$merge-box: (
  success-icon-bg: var(--color-success-emphasis),
  success-icon-text: var(--color-fg-on-emphasis),
  // success-icon-border: transparent,
  success-indicator-bg: var(--color-success-emphasis),
  // success-indicator-border: transparent,
  merged-icon-bg: var(--color-done-emphasis),
  merged-icon-text: var(--color-fg-on-emphasis),
  // merged-icon-border: transparent,
  merged-box-border: var(--color-done-emphasis),
  neutral-icon-bg: var(--color-neutral-emphasis),
  neutral-icon-text: var(--color-fg-on-emphasis),
  // neutral-icon-border: transparent,
  neutral-indicator-bg: var(--color-neutral-emphasis),
  // neutral-indicator-border: transparent,
  warning-icon-bg: var(--color-warning-emphasis),
  warning-icon-text: var(--color-fg-on-emphasis),
  // warning-icon-border: transparent,
  warning-box-border: var(--color-warning-emphasis),
  // warning-merge-highlight: transparent,
  error-icon-bg: var(--color-danger-emphasis),
  error-icon-text: var(--color-fg-on-emphasis),
  // error-icon-border: transparent,
  error-indicator-bg: var(--color-danger-emphasis),
  // error-indicator-border: transparent,
);

// $project: (
//   card-bg: $white,
//   header-bg: $gray-9,
//   sidebar-bg: $white,
//   gradient-in: $white,
//   gradient-out: rgba($white, 0),
// );

// $checks: (
//   bg: $gray-9,

//   run-border-width: 0px,
//   container-border-width: 0px,

//   text-primary: $gray-0,
//   text-secondary: $gray-4,
//   text-link: $blue-3,

//   btn-icon: $gray-3,
//   btn-hover-icon: $gray-0,
//   btn-hover-bg: rgba(255, 255, 255, 0.125),

//   input-text: $gray-1,
//   input-placeholder-text: $gray-4,
//   input-focus-text: $gray-4,
//   input-bg: $gray-8,
//   input-shadow: none,

//   dropdown-text: $gray-3,
//   dropdown-bg: $gray-8,
//   dropdown-border: $gray-7,
//   dropdown-hover-text: $gray-0,
//   dropdown-hover-bg: $gray-7,
//   dropdown-btn-hover-text: $gray-0,
//   dropdown-btn-hover-bg: $gray-8,

//   scrollbar-thumb-bg: $gray-6,

//   header-label-text: $gray-2,
//   header-label-open-text: $gray-0,
//   header-border: $gray-8,
//   header-icon: $gray-4,

//   line-text: $gray-2,
//   line-num-text: rgba($gray-4, 0.75),
//   line-timestamp-text: $gray-4,
//   line-hover-bg: $gray-8,
//   line-selected-bg: rgba($blue-4, 0.15),
//   line-selected-num-text: $blue-3,
//   line-dt-fm-text: $gray-9,
//   line-dt-fm-bg: $yellow-5,

//   gate-bg: rgba($yellow-6, 0.15),
//   gate-text: $gray-2,
//   gate-waiting-text: $gray-3,

//   step-header-open-bg: $gray-8,
//   step-error-text: $red-3,
//   step-warning-text: $yellow-3,

//   logline-text: $gray-4,
//   logline-num-text: rgba($gray-4, 0.75),
//   logline-debug-text: $purple-3,
//   logline-error-text: $gray-2,
//   logline-error-num-text: $red-3,
//   logline-error-bg: rgba($red-6, 0.15),
//   logline-warning-text: $gray-2,
//   logline-warning-num-text: $yellow-3,
//   logline-warning-bg: rgba($yellow-6, 0.15),
//   logline-command-text: $blue-3,
//   logline-section-text: $green-3,

//   // used in the Actions logs
//   ansi: (
//     black: $gray-9,
//     black-bright: $gray-8,
//     white: $gray-2,
//     white-bright: $gray-2,
//     gray: $gray-4,
//     red: $red-3,
//     red-bright: $red-2,
//     green: $green-3,
//     green-bright: $green-2,
//     yellow: $yellow-3,
//     yellow-bright: $yellow-2,
//     blue: $blue-3,
//     blue-bright: $blue-2,
//     magenta: $purple-3,
//     magenta-bright: $purple-2,
//     cyan: #76e3ea, // custom
//     cyan-bright: #b3f0ff, // custom
//   ),
// );

$intro-shelf: (
  gradient-left: var(--color-accent-muted),
  gradient-right: var(--color-success-muted),
  gradient-in: var(--color-canvas-default),
  // gradient-out: rgba($white, 0),
);
