// EXPERIMENTAL. DO NOT USE.

// Mapping of v1 variables to v2 variables

$text: (
  primary: var(--color-fg-default),
  secondary: var(--color-fg-muted),
  tertiary: var(--color-fg-inactive),
  placeholder: var(--color-fg-inactive),
  disabled: var(--color-fg-inactive),
  inverse: var(--color-fg-on-emphasis),
  link: var(--color-accent-fg),
  danger: var(--color-danger-fg),
  success: var(--color-success-fg),
  warning: var(--color-warning-fg),
  white: var(--color-fg-on-emphasis),
);

$icon: (
  primary: var(--color-fg-default),
  secondary: var(--color-fg-muted),
  tertiary: var(--color-fg-inactive),
  info: var(--color-accent-fg),
  danger: var(--color-danger-fg),
  success: var(--color-success-fg),
  warning: var(--color-warning-fg),
);

$border: (
  primary: var(--color-border-default),
  secondary: var(--color-border-divider),
  // tertiary
  overlay: var(--color-border-default),
  // inverse
  info: var(--color-accent-emphasis),
  danger: var(--color-danger-emphasis),
  success: var(--color-success-emphasis),
  warning: var(--color-warning-emphasis),
);

$bg: (
  canvas: var(--color-canvas-default),
  canvas-mobile: var(--color-canvas-mobile),
  canvas-inverse: var(--color-neutral-emphasis),
  canvas-inset: var(--color-canvas-inset),
  primary: var(--color-canvas-default),
  // secondary
  // tertiary
  overlay: var(--color-canvas-overlay),
  backdrop: var(--color-canvas-backdrop),
  info: var(--color-accent-muted),
  info-inverse: var(--color-accent-emphasis),
  danger: var(--color-danger-muted),
  danger-inverse: var(--color-danger-emphasis),
  success: var(--color-success-muted),
  success-inverse: var(--color-success-emphasis),
  warning: var(--color-warning-muted),
  warning-inverse: var(--color-warning-emphasis),
);

$state: (
  hover: (
    primary-bg: var(--color-accent-emphasis),
    primary-border: var(--color-accent-emphasis),
    primary-text: var(--color-fg-on-emphasis),
    primary-icon: var(--color-fg-on-emphasis),
    secondary-bg: var(--color-neutral-muted),
    secondary-border: var(--color-neutral-muted),
  ),

  selected: (
    primary-bg: var(--color-accent-emphasis),
    primary-border: var(--color-accent-emphasis),
    primary-text:  var(--color-fg-on-emphasis),
    primary-icon:  var(--color-fg-on-emphasis),
  ),

  focus: (
    border: var(--color-accent-emphasis),
    // shadow
  ),
);

// Components

$alert: (
  info: (
    text: var(--color-fg-default),
    icon: var(--color-accent-fg),
    bg: var(--color-accent-muted),
    border: var(--color-accent-highlighter),
  ),

  warn: (
    text: var(--color-fg-default),
    icon: var(--color-warning-fg),
    bg: var(--color-warning-muted),
    border: var(--color-warning-highlighter),
  ),

  error: (
    text: var(--color-fg-default),
    icon: var(--color-danger-fg),
    bg: var(--color-danger-muted),
    border: var(--color-danger-highlighter),
  ),

  success: (
    text: var(--color-fg-default),
    icon: var(--color-success-fg),
    bg: var(--color-success-muted),
    border: var(--color-success-highlighter),
  )
);

$blankslate: (
  icon: var(--color-fg-muted),
);

$btn: (
  text: var(--color-fg-default),
  // bg: $gray-0,
  // border: $black-fade-15,
  // shadow: 0 1px 0 rgba($black, 0.04),
  // inset-shadow: inset 0 1px 0 rgba($white, 0.25), // top highlight

  // hover-bg: #f3f4f6,
  // hover-border: $black-fade-15,

  // active-bg: darken(#f3f4f6, 3%),
  // active-border: $black-fade-10,

  // selected-bg: darken(#f3f4f6, 2%),

  // focus-bg: $gray-0,
  // focus-border: $black-fade-15,
  // focus-shadow: 0 0 0 3px rgba($blue-5, 0.3),

  // shadow-active: inset 0 0.15em 0.3em $black-fade-15, // TODO: Deprecate? Not used in Primer CSS
  // shadow-input-focus: 0 0 0 0.2em rgba($blue, 0.3), // TODO: Deprecate?

  /* states */

  primary: (
    text: var(--color-fg-on-emphasis),
    // bg: #2ea44f,
    // border: $black-fade-15,
    // shadow: 0 1px 0 $black-fade-10,
    // inset-shadow: inset 0 1px 0 rgba($white, 0.03),

    // hover-bg: #2c974b,
    // hover-border: $black-fade-15,

    // selected-bg: darken(#2c974b, 2%),
    // selected-shadow: inset 0 1px 0 rgba($green-9, 0.2),

    // disabled-text: rgba($white, 0.8),
    // disabled-bg: #94d3a2,
    // disabled-border: $black-fade-10,

    // focus-bg: #2ea44f,
    // focus-border: $black-fade-15,
    // focus-shadow: 0 0 0 3px rgba(#2ea44f, 0.4),

    // icon: rgba($white, 0.8),
    // counter-bg: rgba($white, 0.2),
  ),

  outline: (
    text: var(--color-accent-fg),

    hover-text: var(--color-fg-on-emphasis),
    hover-bg: var(--color-accent-emphasis),
    // hover-border: $black-fade-15,
    // hover-shadow: 0 1px 0 $black-fade-10,
    // hover-inset-shadow: inset 0 1px 0 rgba($white, 0.03),
    // hover-counter-bg: rgba($white, 0.2),

    selected-text: var(--color-fg-on-emphasis),
    // selected-bg: darken($blue-5, 3%),
    // selected-border: $black-fade-15,
    // selected-shadow: inset 0 1px 0 rgba($blue-9, 0.2),

    disabled-text: var(--color-fg-inactive),
    // disabled-bg: $gray-0,
    // disabled-counter-bg: rgba($blue-5, 0.05),

    // focus-border: $black-fade-15,
    // focus-shadow: 0 0 0 3px rgba($blue-6, 0.4),

    // counter-bg: rgba($blue-5, 0.1),
  ),

  danger: (
    text: var(--color-danger-fg),

    hover-text: var(--color-fg-on-emphasis),
    hover-bg: var(--color-danger-emphasis),
    // hover-border: $black-fade-15,
    // hover-shadow: 0 1px 0 $black-fade-10,
    // hover-inset-shadow: inset 0 1px 0 rgba($white, 0.03),
    // hover-counter-bg: rgba($white, 0.2),

    selected-text: var(--color-fg-on-emphasis),
    // selected-bg: darken($red-5, 3%),
    // selected-border: $black-fade-15,
    // selected-shadow: inset 0 1px 0 rgba($red-9, 0.2),

    disabled-text: var(--color-fg-on-emphasis),
    // disabled-bg: $gray-0,
    // disabled-counter-bg: rgba($red-5, 0.05),

    // focus-border: $black-fade-15,
    // focus-shadow: 0 0 0 3px rgba($red-6, 0.4),

    // counter-bg: rgba($red-5, 0.1),

    icon: var(--color-danger-fg),
    hover-icon: var(--color-fg-on-emphasis),
  ),

  // counter-bg: rgba($black, 0.08), // Darken for just a tad more contrast against the button background
);

$counter: (
  text: var(--color-fg-default),
  bg: var(--color-neutral-muted),

  primary: (
    text: var(--color-fg-on-emphasis),
    bg: var(--color-neutral-emphasis),
  ),

  secondary: (
    text: var(--color-fg-muted),
    bg: var(--color-neutral-muted),
  ),
);

$label: (
  border: var(--color-border-default),
  primary: (
    text: var(--color-fg-default),
    border: var(--color-neutral-emphasis),
  ),
  secondary: (
    text: var(--color-fg-muted),
    border: var(--color-border-default),
  ),
  info: (
    text: var(--color-accent-fg),
    border: var(--color-accent-emphasis),
  ),
  success: (
    text: var(--color-success-fg),
    border: var(--color-success-emphasis),
  ),
  warning: (
    text: var(--color-warning-fg),
    border: var(--color-warning-emphasis),
  ),
  danger: (
    text: var(--color-danger-fg),
    border: var(--color-danger-emphasis),
  ),
  orange: (
    text: var(--color-severe-fg),
    border: var(--color-severe-emphasis),
  ),
);

$branch-name: (
  text: var(--color-fg-muted),
  icon: var(--color-fg-muted),
  bg: var(--color-neutral-muted),

  link: (
    text: var(--color-accent-fg),
    icon: var(--color-accent-fg),
    bg: var(--color-accent-muted),
  ),
);

$topic-tag: (
  text: var(--color-accent-fg),
  bg: var(--color-accent-muted),
  hover-bg: var(--color-accent-highlighter),
  active-bg: var(--color-accent-muted),
);
