[data-color-mode='light'] {
  /* Colors for data series and points */
  --highcharts-color-0: #2caffe;
  --highcharts-color-1: #544fc5;
  --highcharts-color-2: #00e272;
  --highcharts-color-3: #fe6a35;
  --highcharts-color-4: #6b8abc;
  --highcharts-color-5: #d568fb;
  --highcharts-color-6: #2ee0ca;
  --highcharts-color-7: #fa4b42;
  --highcharts-color-8: #feb56a;
  --highcharts-color-9: #91e8e1;

  /* Chart background, point stroke for markers and columns etc */
  --highcharts-background-color: #ffffff;

  /*
    Neutral colors, grayscale by default. The default colors are defined by
    mixing the background-color with neutral, with a weight corresponding to
    the number in the name.

    https://www.highcharts.com/samples/highcharts/css/palette-helper
    */

  /* Strong text. */
  --highcharts-neutral-color-100: #000000;

  /* Main text, axis labels and some strokes. */
  --highcharts-neutral-color-80: #333333;

  /* Axis title, connector fallback. */
  --highcharts-neutral-color-60: #666666;

  /* Credits text, export menu stroke. */
  --highcharts-neutral-color-40: #999999;

  /* Disabled texts, button strokes, crosshair etc. */
  --highcharts-neutral-color-20: #cccccc;

  /* Grid lines etc. */
  --highcharts-neutral-color-10: #e6e6e6;

  /* Minor grid lines etc. */
  --highcharts-neutral-color-5: #f2f2f2;

  /* Tooltip backgroud, button fills, map null points. */
  --highcharts-neutral-color-3: #f7f7f7;

  /*
    Highlights, shades of blue by default
    */

  /* Drilldown clickable labels, color axis max color. */
  --highcharts-highlight-color-100: #0022ff;

  /* Selection marker, menu hover, button hover, chart border, navigator
    series. */
  --highcharts-highlight-color-80: #334eff;

  /* Navigator mask fill. */
  --highcharts-highlight-color-60: #667aff;

  /* Ticks and axis line. */
  --highcharts-highlight-color-20: #ccd3ff;

  /* Pressed button, color axis min color. */
  --highcharts-highlight-color-10: #e6e9ff;

  /* Indicators */
  --highcharts-positive-color: #06b535;
  --highcharts-negative-color: #f21313;
}

[data-color-mode='dark'] {
  /* UI colors */
  --highcharts-color-0: #2caffe;
  --highcharts-color-1: #544fc5;
  --highcharts-color-2: #00e272;
  --highcharts-color-3: #fe6a35;
  --highcharts-color-4: #6b8abc;
  --highcharts-color-5: #d568fb;
  --highcharts-color-6: #2ee0ca;
  --highcharts-color-7: #fa4b42;
  --highcharts-color-8: #feb56a;
  --highcharts-color-9: #91e8e1;
  --highcharts-background-color: rgb(48, 48, 48);

  /* Neutral color variations */
  --highcharts-neutral-color-100: rgb(255, 255, 255);
  --highcharts-neutral-color-80: rgb(214, 214, 214);
  --highcharts-neutral-color-60: rgb(173, 173, 173);
  --highcharts-neutral-color-40: rgb(133, 133, 133);
  --highcharts-neutral-color-20: rgb(92, 92, 92);
  --highcharts-neutral-color-10: rgb(71, 71, 71);
  --highcharts-neutral-color-5: rgb(61, 61, 61);
  --highcharts-neutral-color-3: rgb(57, 57, 57);

  /* Highlight color variations */
  --highcharts-highlight-color-100: rgb(122, 167, 255);
  --highcharts-highlight-color-80: rgb(108, 144, 214);
  --highcharts-highlight-color-60: rgb(94, 121, 173);
  --highcharts-highlight-color-20: rgb(65, 74, 92);
  --highcharts-highlight-color-10: rgb(58, 63, 71);
}
