// EXPERIMENTAL. DO NOT USE.

// Dark theme

$black: #010409;
$white: #FFFFFF;

// Gray
$gray-0: #FFFFFF;
$gray-1: #F1F3F6;
$gray-2: #D7DBDF;
$gray-3: #B9BFC6;
$gray-4: #98A1AD;
$gray-5: #79828E;
$gray-6: #5B616B;
$gray-7: #272B33;
$gray-8: #272B33;
$gray-9: #090C11;

// Blue
$blue-0: #CCE9FF;
$blue-1: #AEDCFF;
$blue-2: #8ECCFF;
$blue-3: #6CB8FF;
$blue-4: #589DF3;
$blue-5: #1F56AA;
$blue-6: #0D4091;
$blue-7: #0C306D;
$blue-8: #072357;
$blue-9: #041844;

// Green
$green-0: #BCF3BC;
$green-1: #88EC90;
$green-2: #63DE70;
$green-3: #4BC95E;
$green-4: #35B14D;
$green-5: #1D672E;
$green-6: #134F23;
$green-7: #083C17;
$green-8: #022D0F;
$green-9: #03200C;

// Yellow
$yellow-0: #F8E4AA;
$yellow-1: #F9D265;
$yellow-2: #EBBF50;
$yellow-3: #DAAA3D;
$yellow-4: #C8922B;
$yellow-5: #814D00;
$yellow-6: #613700;
$yellow-7: #4E2B00;
$yellow-8: #3C1F00;
$yellow-9: #2C1600;

// Orange
$orange-0: #FFE0BC;
$orange-1: #FFCD9A;
$orange-2: #FFB675;
$orange-3: #F89C57;
$orange-4: #E78037;
$orange-5: #934010;
$orange-6: #772D08;
$orange-7: #5A2208;
$orange-8: #481600;
$orange-9: #350F00;

// Red
$red-0: #FFDED9;
$red-1: #FFCAC4;
$red-2: #FFB2AB;
$red-3: #FF958E;
$red-4: #FF6C66;
$red-5: #AA2324;
$red-6: #851819;
$red-7: #690C0F;
$red-8: #500A0D;
$red-9: #400105;

// Purple
$purple-0: #EFDFFF;
$purple-1: #E5CCFF;
$purple-2: #D9B7FF;
$purple-3: #CA9FFF;
$purple-4: #B384F9;
$purple-5: #673FBB;
$purple-6: #512D94;
$purple-7: #3E2171;
$purple-8: #30145D;
$purple-9: #240E44;

// Pink
$pink-0: #FFDBEB;
$pink-1: #FFC6E1;
$pink-2: #FFADD5;
$pink-3: #EE97C5;
$pink-4: #DD7CAE;
$pink-5: #933869;
$pink-6: #752652;
$pink-7: #5C183F;
$pink-8: #4B0B31;
$pink-9: #390524;

// Scale
$scale: (
  black: $black,
  white: $white,
  gray: (
    $gray-0,
    $gray-1,
    $gray-2,
    $gray-3,
    $gray-4,
    $gray-5,
    $gray-6,
    $gray-7,
    $gray-8,
    $gray-9,
  ),
  blue: (
    $blue-0,
    $blue-1,
    $blue-2,
    $blue-3,
    $blue-4,
    $blue-5,
    $blue-6,
    $blue-7,
    $blue-8,
    $blue-9,
  ),
  green: (
    $green-0,
    $green-1,
    $green-2,
    $green-3,
    $green-4,
    $green-5,
    $green-6,
    $green-7,
    $green-8,
    $green-9,
  ),
  yellow: (
    $yellow-0,
    $yellow-1,
    $yellow-2,
    $yellow-3,
    $yellow-4,
    $yellow-5,
    $yellow-6,
    $yellow-7,
    $yellow-8,
    $yellow-9,
  ),
  orange: (
    $orange-0,
    $orange-1,
    $orange-2,
    $orange-3,
    $orange-4,
    $orange-5,
    $orange-6,
    $orange-7,
    $orange-8,
    $orange-9,
  ),
  red: (
    $red-0,
    $red-1,
    $red-2,
    $red-3,
    $red-4,
    $red-5,
    $red-6,
    $red-7,
    $red-8,
    $red-9,
  ),
  purple: (
    $purple-0,
    $purple-1,
    $purple-2,
    $purple-3,
    $purple-4,
    $purple-5,
    $purple-6,
    $purple-7,
    $purple-8,
    $purple-9,
  ),
  pink: (
    $pink-0,
    $pink-1,
    $pink-2,
    $pink-3,
    $pink-4,
    $pink-5,
    $pink-6,
    $pink-7,
    $pink-8,
    $pink-9,
  ),
);

@import "./mixins/dark_mode.scss";
