// EXPERIMENTAL. DO NOT USE.

// Light theme

$black: #1B1F24;
$white: #FFF;

// Gray
$gray-0: #FAFBFC;
$gray-1: #EAEEF2;
$gray-2: #D4DAE0;
$gray-3: #B7BFC7;
$gray-4: #949DA7;
$gray-5: #707A84;
$gray-6: #57606A;
$gray-7: #424A53;
$gray-8: #32383F;
$gray-9: #24292F;

// Blue
$blue-0: #DDF4FF;
$blue-1: #B6E3FF;
$blue-2: #80CCFF;
$blue-3: #54AEFF;
$blue-4: #218BFF;
$blue-5: #0969DA;
$blue-6: #0550AE;
$blue-7: #033D8B;
$blue-8: #0A3069;
$blue-9: #002155;

// Green
$green-0: #DAFBE1;
$green-1: #ACEEBB;
$green-2: #6FDD8B;
$green-3: #4AC26B;
$green-4: #2DA44E;
$green-5: #1A7F37;
$green-6: #116329;
$green-7: #044F1E;
$green-8: #003D16;
$green-9: #002D11;

// Yellow
$yellow-0: #FFF8C5;
$yellow-1: #FAE17D;
$yellow-2: #EAC54F;
$yellow-3: #D4A72C;
$yellow-4: #BF8700;
$yellow-5: #9A6700;
$yellow-6: #7D4E00;
$yellow-7: #633C01;
$yellow-8: #4D2D00;
$yellow-9: #3B2300;

// Orange
$orange-0: #FFF1E5;
$orange-1: #FFD8B5;
$orange-2: #FFB77C;
$orange-3: #FB8F44;
$orange-4: #E16F24;
$orange-5: #BC4C00;
$orange-6: #953800;
$orange-7: #762C00;
$orange-8: #5C2200;
$orange-9: #471700;

// Red
$red-0: #FFE7E5;
$red-1: #FFCECB;
$red-2: #FFABA8;
$red-3: #FF8182;
$red-4: #FA4549;
$red-5: #CF222E;
$red-6: #A40E26;
$red-7: #82071E;
$red-8: #660018;
$red-9: #4C0014;

// Purple
$purple-0: #FBEFFF;
$purple-1: #ECD8FF;
$purple-2: #D8B9FF;
$purple-3: #C297FF;
$purple-4: #A475F9;
$purple-5: #8250DF;
$purple-6: #6639BA;
$purple-7: #512A97;
$purple-8: #3E1F79;
$purple-9: #2E1461;

// Pink
$pink-0: #FFEFF7;
$pink-1: #FFD3EB;
$pink-2: #FFADDA;
$pink-3: #FF80C8;
$pink-4: #E85AAD;
$pink-5: #BF3989;
$pink-6: #99286E;
$pink-7: #772057;
$pink-8: #611347;
$pink-9: #4D0336;

// Scale
$scale: (
  black: $black,
  white: $white,
  gray: (
    $gray-0,
    $gray-1,
    $gray-2,
    $gray-3,
    $gray-4,
    $gray-5,
    $gray-6,
    $gray-7,
    $gray-8,
    $gray-9,
  ),
  blue: (
    $blue-0,
    $blue-1,
    $blue-2,
    $blue-3,
    $blue-4,
    $blue-5,
    $blue-6,
    $blue-7,
    $blue-8,
    $blue-9,
  ),
  green: (
    $green-0,
    $green-1,
    $green-2,
    $green-3,
    $green-4,
    $green-5,
    $green-6,
    $green-7,
    $green-8,
    $green-9,
  ),
  yellow: (
    $yellow-0,
    $yellow-1,
    $yellow-2,
    $yellow-3,
    $yellow-4,
    $yellow-5,
    $yellow-6,
    $yellow-7,
    $yellow-8,
    $yellow-9,
  ),
  orange: (
    $orange-0,
    $orange-1,
    $orange-2,
    $orange-3,
    $orange-4,
    $orange-5,
    $orange-6,
    $orange-7,
    $orange-8,
    $orange-9,
  ),
  red: (
    $red-0,
    $red-1,
    $red-2,
    $red-3,
    $red-4,
    $red-5,
    $red-6,
    $red-7,
    $red-8,
    $red-9,
  ),
  purple: (
    $purple-0,
    $purple-1,
    $purple-2,
    $purple-3,
    $purple-4,
    $purple-5,
    $purple-6,
    $purple-7,
    $purple-8,
    $purple-9,
  ),
  pink: (
    $pink-0,
    $pink-1,
    $pink-2,
    $pink-3,
    $pink-4,
    $pink-5,
    $pink-6,
    $pink-7,
    $pink-8,
    $pink-9,
  ),
);

@import "./mixins/light_mode.scss";
