.ControlStackDemo {
  display: inline-grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(3, min-content);
  border-radius: var(--borderRadius-medium);
  background-size: var(--demo-highlight-background-size);
  background-image: var(--demo-highlight);
}

.ControlStackDemo--item {
  height: var(--base-size-32);
  width: var(--base-size-32);
  border-radius: var(--borderRadius-medium);
  border: solid 1px var(--docs-demo-borderColor-emphasis);
  background: var(--docs-demo-bgColor-solid);
  display: grid;
  place-content: center;
  color: var(--fgColor-muted);
}
