[data-color-mode='light'],
[data-color-mode='dark'] {
  /* --bgColor-muted: var(--base-display-color-grayWhite) !important;
  --bgColor-inset: var(--base-display-color-grayWhite) !important;
  --bgColor-emphasis: var(--base-display-color-gray-9) !important;
  --bgColor-disabled: var(--base-display-color-gray-1) !important;
  --bgColor-neutral-muted: var(--base-display-color-gray-3) !important;
  --bgColor-neutral-emphasis: var(--base-display-color-gray-5) !important;
  --borderColor-default: var(--base-display-color-gray-2) !important;
  --borderColor-muted: var(--base-display-color-gray-1) !important;
  --borderColor-emphasis: var(--base-display-color-gray-5) !important;
  --borderColor-neutral-muted: var(--base-display-color-gray-3) !important;
  --borderColor-neutral-emphasis: var(--base-display-color-gray-5) !important;
  --fgColor-muted: var(--base-display-color-gray-6) !important;
  --fgColor-disabled: var(--base-display-color-gray-4) !important;
  --fgColor-neutral: var(--base-display-color-gray-5) !important; */
  /* patterns */
  /* --button-default-borderColor-rest: var(--base-display-color-gray-5) !important;
  --button-default-borderColor-active: var(--base-display-color-gray-5) !important;
  --button-default-borderColor-hover: var(--base-display-color-gray-5) !important; */
  /* --button-primary-bgColor-rest: var(--base-display-color-green-5) !important;
  --button-primary-borderColor-rest: var(--base-display-color-green-7) !important; */
  /* --control-bgColor-rest: var(--base-display-color-gray-0) !important;
  --control-bgColor-hover: var(--base-display-color-gray-1) !important;
  --control-bgColor-active: var(--base-display-color-gray-) !important;
  --control-borderColor-rest: var(--base-display-color-gray-5) !important;
  --controlTrack-bgColor-rest: var(--base-display-color-gray-0) !important; */
}

[data-color-mode='dark'] {
  /* --bgColor-muted: var(--base-display-color-black) !important;
  --bgColor-inset: var(--base-display-color-black) !important; */
  /* --control-bgColor-default: var(--base-display-color-gray-1) !important; */
  /* --control-transparent-bgColor-hover: var(--base-display-color-gray-1) !important;
  --control-transparent-bgColor-active: var(--base-display-color-gray-2) !important;
  --control-borderColor-rest: var(--base-display-color-gray-5) !important; */
  /* --controlTrack-bgColor-rest: var(--base-display-color-gray-0) !important; */
  /* --button-default-bgColor-rest: var(--base-display-color-gray-1) !important;
  --button-default-bgColor-hover: var(--base-display-color-gray-2) !important;
  --button-default-bgColor-active: var(--base-display-color-gray-3) !important; */
}

:root {
  /* --control-borderWidth: 0.5px; */
  --borderWidth-thin: 0.5px;
}

.dkxcZZ {
  border: solid 1px var(--borderColor-default);
}

.TextInput-wrapper {
  /* border-width: var(--control-borderWidth) !important; */
}

[data-component='ButtonCounter'] {
  background-color: var(--buttonCounter-default-bgColor-rest) !important;
}

.btn {
  appearance: none;
  border: solid 1px;
  border-radius: var(--borderRadius-medium);
  color: var(--button-default-fgColor-rest, var(--color-btn-text));
  background-color: var(--button-default-bgColor-rest, var(--color-btn-bg));
  border-color: var(--button-default-borderColor-rest, var(--color-btn-border));
  box-shadow: var(--button-default-shadow-resting, var(--color-btn-shadow)),
    var(--button-default-shadow-inset, var(--color-btn-inset-shadow));
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color, background-color, box-shadow, border-color;

  &:hover,
  &.hover,
  [open] > & {
    background-color: var(--button-default-bgColor-hover, var(--color-btn-hover-bg));
    border-color: var(--button-default-borderColor-hover, var(--color-btn-hover-border));
    transition-duration: 0.1s;
  }

  &:active {
    background-color: var(--button-default-bgColor-active, var(--color-btn-active-bg));
    border-color: var(--button-default-borderColor-active, var(--color-btn-active-border));
    transition: none;
  }

  &.selected,
  &[aria-selected='true'] {
    background-color: var(--button-default-bgColor-selected, var(--color-btn-selected-bg));
    box-shadow: var(--shadow-inset, var(--color-primer-shadow-inset));
  }

  &:disabled,
  &.disabled,
  &[aria-disabled='true'] {
    color: var(--fgColor-disabled, var(--color-primer-fg-disabled));
    background-color: var(--button-default-bgColor-rest, var(--color-btn-bg));
    border-color: var(--button-default-borderColor-rest, var(--color-btn-border));

    .octicon {
      color: var(--fgColor-disabled, var(--color-primer-fg-disabled));
    }
  }
}

.btn-outline {
  color: var(--button-outline-fgColor-rest, var(--color-btn-outline-text));

  &:hover,
  [open] > & {
    color: var(--button-outline-fgColor-hover, var(--color-btn-outline-hover-text));
    background-color: var(--button-outline-bgColor-hover, var(--color-btn-outline-hover-bg));
    border-color: var(--button-outline-borderColor-hover, var(--color-btn-outline-hover-border));
    box-shadow: var(--shadow-resting-small, var(--color-btn-outline-hover-shadow)),
      var(--shadow-highlight, var(--color-btn-outline-hover-inset-shadow));

    .Counter {
      background-color: var(--buttonCounter-outline-bgColor-hover, var(--color-btn-outline-hover-counter-bg));
    }

    .octicon {
      color: inherit;
    }
  }

  &:active,
  &.selected,
  &[aria-selected='true'] {
    color: var(--button-outline-fgColor-active, var(--color-btn-outline-selected-text));
    background-color: var(--button-outline-bgColor-active, var(--color-btn-outline-selected-bg));
    border-color: var(--button-outline-borderColor-active, var(--color-btn-outline-selected-border));
    box-shadow: var(--button-outline-shadow-selected, var(--color-btn-outline-selected-shadow));
  }

  &:disabled,
  &.disabled,
  &[aria-disabled='true'] {
    color: var(--button-outline-fgColor-disabled, var(--color-btn-outline-disabled-text));
    background-color: var(--button-outline-bgColor-disabled, var(--color-btn-outline-disabled-bg));
    border-color: var(--button-default-borderColor-rest, var(--color-btn-border));
    box-shadow: none;

    .Counter {
      background-color: var(--buttonCounter-outline-bgColor-disabled, var(--color-btn-outline-disabled-counter-bg));
    }
  }

  .Counter {
    color: inherit;
    background-color: var(--buttonCounter-outline-bgColor-rest, var(--color-btn-outline-counter-bg));
  }
}
