[data-color-mode='light'],
[data-color-mode='dark'] {
  /* --bgColor-muted: var(--base-display-color-grayWhite) !important;
  --bgColor-inset: var(--base-display-color-grayWhite) !important;
  --bgColor-emphasis: var(--base-display-color-gray-9) !important;
  --bgColor-disabled: var(--base-display-color-gray-1) !important;
  --bgColor-neutral-muted: var(--base-display-color-gray-3) !important;
  --bgColor-neutral-emphasis: var(--base-display-color-gray-5) !important;
  --borderColor-default: var(--base-display-color-gray-2) !important;
  --borderColor-muted: var(--base-display-color-gray-1) !important;
  --borderColor-emphasis: var(--base-display-color-gray-5) !important;
  --borderColor-neutral-muted: var(--base-display-color-gray-3) !important;
  --borderColor-neutral-emphasis: var(--base-display-color-gray-5) !important;
  --fgColor-muted: var(--base-display-color-gray-6) !important;
  --fgColor-disabled: var(--base-display-color-gray-4) !important;
  --fgColor-neutral: var(--base-display-color-gray-5) !important; */
  /* patterns */
  /* --button-default-borderColor-rest: var(--base-display-color-gray-5) !important;
  --button-default-borderColor-active: var(--base-display-color-gray-5) !important;
  --button-default-borderColor-hover: var(--base-display-color-gray-5) !important; */
  /* --button-primary-bgColor-rest: var(--base-display-color-green-5) !important;
  --button-primary-borderColor-rest: var(--base-display-color-green-7) !important; */
  /* --control-bgColor-rest: var(--base-display-color-gray-0) !important;
  --control-bgColor-hover: var(--base-display-color-gray-1) !important;
  --control-bgColor-active: var(--base-display-color-gray-) !important;
  --control-borderColor-rest: var(--base-display-color-gray-5) !important;
  --controlTrack-bgColor-rest: var(--base-display-color-gray-0) !important; */
}

[data-color-mode='dark'] {
  /* --bgColor-muted: var(--base-display-color-black) !important;
  --bgColor-inset: var(--base-display-color-black) !important; */
  /* --control-bgColor-default: var(--base-display-color-gray-1) !important; */
  /* --control-transparent-bgColor-hover: var(--base-display-color-gray-1) !important;
  --control-transparent-bgColor-active: var(--base-display-color-gray-2) !important;
  --control-borderColor-rest: var(--base-display-color-gray-5) !important; */
  /* --controlTrack-bgColor-rest: var(--base-display-color-gray-0) !important; */
  /* --button-default-bgColor-rest: var(--base-display-color-gray-1) !important;
  --button-default-bgColor-hover: var(--base-display-color-gray-2) !important;
  --button-default-bgColor-active: var(--base-display-color-gray-3) !important; */
}

:root {
  /* --control-borderWidth: 0.5px; */
  --borderWidth-thin: 0.5px;
}

.dkxcZZ {
  border: solid 1px var(--borderColor-default);
}

.TextInput-wrapper {
  /* border-width: var(--control-borderWidth) !important; */
}

[data-component='ButtonCounter'] {
  background-color: var(--buttonCounter-default-bgColor-rest) !important;
}
