name: Test & Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    if: ${{ github.repository == 'primer/primitives' }}
    name: Test & Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --no-audit --no-fund --ignore-scripts

      - name: Build v1 tokens
        run: npm run build

      - name: Build v8 tokens & fallbacks
        run: npm run build:v8

      - name: Build fallbacks
        run: npm run build:fallbacks

      - name: Code linting check
        run: npm run lint

      - name: Code formatting check
        run: npm run format:check

      - name: Run unit tests
        run: npm test
