name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    if: ${{ github.repository == 'primer/primitives' }}
    name: Build verification
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm ci --no-audit --no-fund && cd docs && npm ci --no-audit --no-fund

      - name: Build v1 tokens
        run: npm run build

      - name: Build v2 tokens
        run: npm run build:tokens

  lint:
    if: ${{ github.repository == 'primer/primitives' }}
    name: Code linting check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm ci --no-audit --no-fund && cd docs && npm ci --no-audit --no-fund

      - name: Build v1 tokens
        run: npm run build

      - name: Build v2 tokens
        run: npm run build:tokens

      - name: Lint
        run: npm run lint

  formatting:
    if: ${{ github.repository == 'primer/primitives' }}
    name: Code formatting check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm ci --no-audit --no-fund && cd docs && npm ci --no-audit --no-fund

      - name: Lint
        run: npm run format:check

  test:
    if: ${{ github.repository == 'primer/primitives' }}
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm ci --no-audit --no-fund && cd docs && npm ci --no-audit --no-fund

      - name: Build v1 tokens
        run: npm run build

      - name: Build v2 tokens
        run: npm run build:tokens

      - name: Run unit tests
        run: npm test
