name: Release
on:
  push:
    branches:
      - 'main'
      - 'next_major'
jobs:
  release:
    name: Final
    if: ${{ github.repository == 'primer/primitives' }}

    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm ci --no-audit --no-fund && pushd docs; npm ci --no-audit --no-fund; popd

      - name: Build tokens
        run: npm run build

      - name: Build experimental tokens
        run: npm run build:tokens

      - name: Create release pull request or publish to npm
        id: changesets
        uses: changesets/action@v1.4.1
        with:
          title: Release Tracking
          # This expects you to have a script called release which does a build for your packages and calls changeset publish
          publish: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GPR_AUTH_TOKEN_SHARED }}
          NPM_TOKEN: ${{ secrets.NPM_AUTH_TOKEN_SHARED }}
